/* Label Popover change*/

.label-popover .popover-content {
  padding: 0px;
}

.label-popover .popover-content .label {
  width: 100%;
  display: inline-block;
}

.label-popover .popover-content ul {
  list-style-type: none;
}

.labels-group .label-item {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.labels-group .label-item:last-child {
  border-bottom: none;
}

.label-item .color {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 2px;
  margin-bottom: 2px;
  border-radius: 3px;
  vertical-align: middle;
}

.labels-group {
  padding: 0px;
  margin-bottom: 0px;
}

.label-unselected:hover {
  background-color: #f4f4f4 !important;
}

.label-unselected {
  background-color: white !important;
}

/* Version Popover change*/

.versions-group {
  padding: 0px;
  margin-bottom: 0px;
}

.versions-group .version-item:last-child {
  border-bottom: none;
}

.version-popover .popover-content {
  padding: 0px;
}

.version-popover .popover-content .label {
  width: 100%;
  display: inline-block;
}

.version-popover .popover-content ul {
  list-style-type: none;
}

.versions-group .version-item {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.versions-group li.version-selected {
  background-color: rgb(66, 139, 202);
  background-color: rgba(66, 139, 202, 0.4);
}

/* Milestone Popover change*/
.milestones-group {
  padding: 0px;
  margin-bottom: 0px;
}

.milestones-group .milestone-item:last-child {
  border-bottom: none;
}

.milestone-popover .popover-content {
  padding: 0px;
}

.milestone-popover .popover-content .label {
  width: 100%;
  display: inline-block;
}

.milestone-popover .popover-content ul {
  list-style-type: none;
}

.milestones-group .milestone-item {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.milestones-group li.milestone-selected {
  background-color: rgb(66, 139, 202);
  background-color: rgba(66, 139, 202, 0.4);
}

/*----*/

/*Assignee popover change*/
.assignees-group {
  padding: 0px;
  margin-bottom: 0px;
}

.assignees-group .assignee-item:last-child {
  border-bottom: none;
}

.assignee-popover .popover-content {
  padding: 0px;
}

.assignee-popover .popover-content .label {
  width: 100%;
  display: inline-block;
}

.assignee-popover .popover-content ul {
  list-style-type: none;
}

.assignees-group .assignee-item {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.assignees-group li.assignee-selected {
  background-color: rgb(66, 139, 202);
  background-color: rgba(66, 139, 202, 0.4);
}

/*----*/

/*Priority popover change*/
.priorities-group {
  padding: 0px;
  margin-bottom: 0px;
}

.priorities-group .priority-item:last-child {
  border-bottom: none;
}

.priority-popover .popover-content {
  padding: 0px;
}

.priority-popover .popover-content .label {
  width: 100%;
  display: inline-block;
}

.priority-popover .popover-content ul {
  list-style-type: none;
}

.priorities-group .priority-item {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.priority-unselected:hover {
  background-color: #f4f4f4 !important;
}

.priority-unselected {
  background-color: white !important;
}

.priorities-group li.priority-selected {
  background-color: rgb(66, 139, 202);
  background-color: rgba(66, 139, 202, 0.4);
}

/*----*/

/*----*/

/*Priority popover change*/
.scopes-group {
  padding: 0px;
  margin-bottom: 0px;
}

.scopes-group .scope-item:last-child {
  border-bottom: none;
}

.scope-popover .popover-content {
  padding: 0px;
}

.scope-popover .popover-content .label {
  width: 100%;
  display: inline-block;
}

.scope-popover .popover-content ul {
  list-style-type: none;
}

.scopes-group .scope-item {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.scope-unselected:hover {
  background-color: #f4f4f4 !important;
}

.scope-unselected {
  background-color: white !important;
}

.scopes-group li.scope-selected {
  background-color: rgb(119, 119, 119);
  background-color: rgba(119, 119, 119, 0.4);
}

/*----*/

/*Client popover change*/
.clients-group {
  padding: 0px;
  margin-bottom: 0px;
}

.clients-group .scope-item:last-child {
  border-bottom: none;
}

.client-popover .popover-content {
  padding: 0px;
}

.client-popover .popover-content .label {
  width: 100%;
  display: inline-block;
}

.client-popover .popover-content ul {
  list-style-type: none;
}

.clients-group .client-item {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.client-unselected:hover {
  background-color: #f4f4f4 !important;
}

.client-unselected {
  background-color: white !important;
}

.clients-group li.client-selected {
  background-color: rgb(119, 119, 119);
  background-color: rgba(119, 119, 119, 0.4);
}

/*----*/
