.label-popover {
  width: 300px;
}

.version-popover {
  width: 300px;
}

.milestone-popover {
  width: 300px;
}

.assignee-popover {
  width: 300px;
}

.priority-popover {
  width: 300px;
}

.version-popover .form-group {
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.milestone-popover .form-group {
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.assignee-popover .form-group {
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.label-popover .form-group {
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.priority-popover .form-group {
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.label-popover-divider {
  margin-top: 0px;
  margin-bottom: 0px;
}

.version-popover-divider {
  margin-top: 0px;
  margin-bottom: 0px;
}

.milestone-popover-divider {
  margin-top: 0px;
  margin-bottom: 0px;
}

.assignee-popover-divider {
  margin-top: 0px;
  margin-bottom: 0px;
}

.priority-popover-divider {
  margin-top: 0px;
  margin-bottom: 0px;
}
