
.fa-closed:before {
  content: '\f056';
}
.fa-reopened:before {
  content: '\f192';
}

.fa-assigned:before {
  content: '\f007';
}
.fa-unassigned:before {
  content: '\f007';
}
.fa-milestoned:before {
  content: "\f091";
}
.fa-demilestoned:before {
  content: "\f091";
}
.fa-prioritized:before {
   content: "\f06e";
 }
.fa-unprioritized:before {
  content: "\f06e";
}
.fa-scoped:before {
  content: "\f114";
}
.fa-unscoped:before {
  content: "\f114";
}
.fa-renamed:before {
  content: "\f044";
}

.fa-labeled:before {
  content: "\f02b";
}
.fa-unlabeled:before {
  content: "\f02b";
}
.fa-versioned:before {
  content: "\f188";
}
.fa-unversioned:before {
  content: "\f188";
}
.fa-environmented:before {
  content: "\f085";
}
.fa-referenced:before {
  content: "\f097";
}

.fa-slaStarted:before {
  content: "\f017";
}
.fa-slaStopped:before {
  content: "\f017";
}
