<div class="col-md-12">
  <div class="row row-space-2x">

    <div class="col-md-6">

    </div>
    <div class="col-md-6">
      <div class="btn-toolbar pull-right">
        <div class="btn-group">
          <button href="javascript:void(0)" class="btn btn-primary btn-sm"
                  ng-click="refresh()"><i
            class="fa fa-refresh"></i>
            Refresh
          </button>

        </div>
        <div class="btn-group">
          <button href="javascript:void(0)" class="btn btn-primary btn-sm"
                  ng-click="reset()"><i
            class="fa fa-eraser"></i>
            Clear
          </button>
        </div>

      </div>
    </div>
  </div>
  <div class="row row-space-2x">
    <div class="col-md-12">
      <table st-table="displayedProfiles" st-safe-src="profiles" class="table table-hover table-profiles">
        <thead>
        <th colspan="10">
          <input st-search placeholder="Search query" class="input-sm form-control" type="text"/>
        </th>

        <tr>
          <th>Type</th>
          <th>Command</th>
          <th>Users</th>
          <th st-sort="entries">Entries</th>
          <th st-sort="average">Average</th>
          <th st-sort="total">Total</th>
          <th st-sort="max">Max</th>
          <th st-sort="min">Min</th>
          <th st-sort="last">Last</th>
          <th st-sort="lastExecution">Last Execution</th>
        </tr>
        <!--<tr>-->
        <!--<th colspan="5"><input st-search=""  class="form-control" placeholder="global search ..." type="text"/></th>-->
        <!--</tr>-->
        </thead>
        <tbody ng-hide="isLoading">
        <tr ng-repeat="row in displayedProfiles ">
          <td>{{row.name | ctype}}</td>
          <td>{{row.name | cname}}</td>
          <td>{{row.users}}</td>
          <td>{{row.entries}}</td>
          <td>{{row.average}}</td>
          <td>{{row.total}}</td>
          <td>{{row.max}}</td>
          <td>{{row.min}}</td>
          <td>{{row.last}}</td>
          <td>{{row.lastExecution | formatDate}}</td>
        </tr>
        </tbody>
        <tbody ng-show="isLoading">
        <tr>
          <td colspan="5" class="text-center">
            <div class="loading-indicator">Loading</div>
          </td>
        </tr>
        </tbody>
        <tfoot ng-hide="isLoading">
        <tr>
          <td colspan="10" class="text-center">
            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
