body {
	font-family: Trebuchet MS;
	font-size: 15px;
	color: #444;
	vertical-align: baseline;
	text-align: center;
	margin: 0;
	padding: 0;
	position: relative;
}

td {
	font-family: Trebuchet MS;
	font-size: 15px;
	color: #444;
}

.small {
	font-family: Trebuchet MS;
	font-size: 14px;
	color: #444;
}

a:link {
	text-decoration: underlined;
	color: gray;
}

a:visited {
	text-decoration: underlined;
	color: gray;
}

a:hover {
	color: black;
}

.prettyprint {
	border-left-color-ltr-source: physical;
	border-left-color-rtl-source: physical;
	border-left-color-value: #CCCCCC;
	border-left-style-ltr-source: physical;
	border-left-style-rtl-source: physical;
	border-left-style-value: solid;
	border-left-width-ltr-source: physical;
	border-left-width-rtl-source: physical;
	border-left-width-value: 3px;
	margin-left: 2em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.5em;
	border: 1px solid black;
}

<!--
CLASSES -->.table {
	display: table;
	border: 0px solid black;
	border-spacing: 0px;
	padding: 0px;
	float: left;
	width: 100%;
}

.table-spaced {
	display: table;
	border: 0px solid transparent;
	padding: 0px;
	width: 100%;
	border-collapse: separate;
}

.cell-double-spaced {
	display: table-cell;
	float: left;
	text-align: justify;
	border: 0px solid transparent;
	padding: 15px;
}

.table-main {
	display: table;
	border: 0px solid black;
	border-spacing: 0px;
	padding: 0px;
	float: center;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.row {
	display: table-row;
}

.cell {
	display: table-cell;
	float: left;
	text-align: justify;
	padding: 0px;
}

.menu {
	font-size: 13px;
	color: #A7A4A4;
}

a.menu:hover {
	color: white;
}

.title {
	font-size: 20px;
}

.centered {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.column1 {
	width: 100%;
}

.column2 {
	width: 50%;
}

.column3 {
	width: 33%;
}

.column4 {
	width: 25%;
}

.column5 {
	width: 20%;
}

.column6 {
	width: 16.6%;
}

.line {
	display: table-cell;
	border-top-color: #AAAAAA;
	border-top-style: solid;
	border-top-width: 1px;
	position: relative;
	top: 2px;
	width: 100%;
}

#copyright {
	font-size: 11px;
	text-align: center;
}

#footer {
	background-image: url('images/dark.gif');
	background-repeat: repeat-x;
	background-position: center top;
}

#logo {
	float: left;
	border: 0px
}

#spacer-top {
	width: 300px;
	height: 150px;
	//180
	px;
}

#spacer-left {
	margin-top: 30px;
	width: 50px;
}

#header {
	width: 480px;
}

#logo_sun {
	position: absolute;
	top: -50px;
	left: -50px;
	z-index: 1;
}