
.graph-container {
  border: 1px solid #DEDEDE;

}

text.id {
  text-anchor: middle;
  font-weight: bold;
}

.queryGraph .ng-hide-remove {
  -webkit-animation: fadeInDown 0.2s;
  animation: fadeInDown 0.2s;
}

.queryGraph .ng-hide-add {
  -webkit-animation: fadeOutUp 0.2s;
  -webkit-animation: fadeOutUp 0.2s;
  display: block !important;
}

.animationQuery {

}


@media (min-height: 500px) {
  .graph-container {
    height: 320px;
  }
}
@media (min-height: 600px) {
  .graph-container {
    height: 450px;
  }
}

@media (min-height: 800px) {
  .graph-container {
    height: 720px;
  }
}

