a.navbar-brand > img {

    margin-top: -12px;
}

.navbar-inverse {
    background-color: #222222;
    border-color: #080808 #080808 #080808;
    box-shadow: 0px 0px 2px 2px #080808;
}

.aside .aside-dialog .aside-content .aside-header {
    background: none repeat scroll 0 0 #222222;
    box-shadow: 0px 0px 2px 2px #080808;
    border-bottom: none;
    z-index: 1000;
}

.aside .aside-dialog .aside-body {
    padding: 0px;
}

.normal-page {
    background: #e4e6e8;
    /*background: url("../img/bg-texture-light.gif") repeat scroll 0 0 #f6f6f6;*/

}

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

body {

}

.landing-page {
    background: url("../img/orient_home_bg.jpg") no-repeat 0 0 #f6f6f6;
    background-size: cover;
}

.ologin {
    margin-top: 50px;
    border-color: #c5c5c5 #c5c5c5 #c5c5c5;
    box-shadow: 0px 0px 1px 1px #c5c5c5;
}

body div.container-notification {
    padding-top: 48px
}

body div.container-studio {
    padding-top: 20px;
}

.class-body .row {
    margin-bottom: 5px;
}

.panel-actions {
    display: inline-block;
    float: right;
    margin-top: -5px;
}

.console_class_functions .jumbotron {
    padding: 0px;
}

.console_class_functions .functiotron {
    padding: 20px;
    border-left: 3px solid #c5c5c5;

}

.aside {
    top: 53px;
}

.panel-function .panel-body {
    padding-top: 0;
}

.panel .page-header {
    margin-top: 20px;
}

.opanel .col-md-2 {
    padding-left: 5px;
    padding-right: 5px;
}

.opanel .col-md-10 {
    padding-left: 5px;
    padding-right: 5px;
}

.opanel .col-md-8 {
    padding-left: 5px;
    padding-right: 5px;
}

.rid-list {
    /*max-height: 40px;*/
    /*overflow: auto;*/
}

.del-field {
    padding-left: 0px;
}

.graph-heading {
    height: 50px;
}

.nav-pills-aside > li > a {
    border-radius: 0;
}

.nav-pills-aside {
    border-bottom: 1px solid #242e3b;
}

.aside-form {
    background-color: #30333a;
    color: #c5c5c5;
    padding-top: 5px;
}

.asideVertex {
    width: 320px;
}

.panel-orient .panel-heading {
    background-color: #222222;
    background-image: none;
    /*background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);*/
    /*background-repeat: repeat-x;*/
    color: white;
}

.navbar-nav li.active {
    border-bottom: 1px solid #FF6600;
}

.modal-header {
    padding: 5px;
    padding-left: 15px;
    /*background-color: #c5c5c5;*/
    /*color: white;*/
}

.oaside {
    background-color: #222326;
    /*background-color: #222326;*/
    height: 100%;
    width: 320px;
    position: fixed;
    top: 0px;
    padding-top: 50px;
    left: 0px;
    z-index: 1000;
    border-right: 1px solid #222326;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    -webkit-transform: translateX(-320px);
    transform: translateX(-320px);
    -ms-transform: translateX(-320px);
}

.oaside .close {
    color: #c5c5c5;
    opacity: .8;
}

.oaside-header {
    border-bottom: 1px solid #242e3b;
    min-height: 16.43px;
    padding: 6px 15px;
    background: #222222;
    color: #c5c5c5;
}

.oaside-title {
    color: #c5c5c5;
}

.vertex-aside .title-tab {
    color: #c5c5c5;
}

.show {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -ms-transform: translateX(0px);
    animation-name: bookmarksInFromLeft;
    -webkit-animation-name: bookmarksInFromLeft;
    animation-duration: 0.2s;
    -webkit-animation-duration: 0.2s;
}

@-moz-keyframes bookmarksInFromLeft {
    0% {
        transform: translateX(-260px);
    }
    40% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(0px);
    }
}

@-webkit-keyframes bookmarksInFromLeft {
    0% {
        -webkit-transform: translateX(-320px);
    }
    40% {
        -webkit-transform: translateX(-100px);
    }
    100% {
        -webkit-transform: translateX(0px);
    }
}

input.search-query {
    padding-right: 14px;
    padding-right: 4px \9;
    padding-left: 14px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;

    border-radius: 15px;
}

.search-bookmarks {
    padding-top: 5px;
}

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* GRAPH LAYOUT */
.panel-graph .panel-body {
    padding-top: 10px;
}

.panel-graph {
    background-color: #EEEEEE;
}

.panel-graph .graph-container {
    background-color: white;
}

.queryGraph .run-container {
    position: relative;
}

.queryGraph .run-action {
    position: absolute;
    bottom: 0;
    right: 0;
}

.enode text {
    font-family: FontAwesome;
    font-size: 14px;
}

text.menu-text {
    font-family: FontAwesome;
    font-size: 14px;
}

text.vicon {
    font-family: fontello;
    font-size: 18px;
}

.btn {
    border-radius: 0;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -40px;
    /* Pad bottom by footer height */
    padding: 0 0 40px;
}

#footer {
    height: 40px;
}

#footer hr {
    margin: 5px;
}

#footer {
    background-color: transparent;
}

.icon-container i {
    vertical-align: middle;
}

.icon-container {
    display: block;
    height: 25px;
    width: 25px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}

.subHeader th:first-child {
    border-left: none !important;
}

.subHeader th:last-child {
    border-right: none !important;
}

.subHeader th {
    border-left: 1px solid #d3d3d3 !important;
    border-right: 1px solid #d3d3d3 !important;
    border-bottom: 1px solid #d3d3d3 !important;
}

tr.queryfield-header > th.header-divider {
    border-left: 1px solid #d3d3d3 !important;
}

table.result-table > thead > tr > th {
    border: none;
}

.query-hint b.clear-hint {
    border-left: none;
}

.query-hint b:first-child {
    border-left: none;
}

.query-hint b {
    border-left: 1px solid rgba(0, 0, 0, 0.34);
    margin-left: 5px;
    padding-left: 5px;
}

.query-info input.form-control {
    width: 50px;
}

.query-info .info {
    padding-right: 0px;
}

.query-info .command {
    padding-left: 0px;
    padding-right: 0px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.info {
    width: 40%;
}

.server-down {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3000;
    background-color: rgba(0, 0, 0, 0.92);
    opacity: .6;
}

@-webkit-keyframes fadeInDownCustom {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: .6;
        transform: translateY(0);
    }
}

@-webkit-keyframes fadeOutUpCustom {
    0% {
        opacity: .6;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

@keyframes fadeInDownCustom {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: .6;
        transform: translateY(0);
    }
}

@keyframes fadeOutUpCustom {
    0% {
        opacity: .6;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.server-down-container .ng-hide-remove {
    -webkit-animation: fadeInDownCustom 0.5s;
    animation: fadeInDownCustom 0.5s;
}

.server-down-container .ng-hide-add {
    -webkit-animation: fadeOutUpCustom 0.5s;
    -webkit-animation: fadeOutUpCustom 0.5s;
    display: block !important;
}

.server-down-container .alert {
    position: fixed;
    opacity: 1;
    z-index: 9999;
    top: 0;
    width: 100%;
    box-shadow: none;
    border-radius: 0px;
    background-image: none;
    background-color: #FAA732;
    color: white;
    min-height: 60px;
    border-color: transparent;
    text-shadow: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.modal-header h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.rename-popover .form-control {
    width: 100%;
}

.cloud-db tr {
    width: 100%;
    display: inline-table;
}

.cloud-db tbody {
    max-height: 200px;
    width: 100%;
    overflow: auto;
    display: block;
}

div.config-tab {
    padding-top: 10px;
}

div.db-config .row {
    padding-top: 10px;
}

#nprogress .bar {
    background: #FF6600;
    top: 52px;
}

#nprogress .spinner {
    display: none;
}

#nprogress .peg {
    box-shadow: none;
}

.config-popover .popover-content {
    padding: 9px 0px;
}

.config-popover .popover-title {
    color: #333;
}

.modal-body .query-result {
    overflow: auto;
}

.modal-query .row {
    padding-top: 5px;
}

.tab-sercurity {
    padding-top: 15px;
}

.users-ui .row {
    padding-top: 10px;
}

.role-ui .row {
    padding-top: 10px;
}

.users-ui .select2-container {
    /*width: 80%;*/
}