a.navbar-brand > img {

    margin-top: -12px;
}

.navbar-inverse {
    background-color: #222222;
    border-bottom: 3px solid #ff6600;
    border-color: #080808 #080808 #ff6600;
}

.aside .aside-dialog .aside-content .aside-header {
    background: none repeat scroll 0 0 #ff6600;
}

.aside .aside-dialog .aside-body {
    padding: 0px;
}

body {
    background: url("../img/bg-texture-light.gif") repeat scroll 0 0 #f6f6f6;
}
body div.container-notification {
    padding-top: 48px
}

body div.container-studio {
    padding-top: 20px;
}

.class-body .row {
    margin-bottom: 5px;
}

.panel-actions {
    display: inline-block;
    float: right;
    margin-top: -5px;
}

.console_class_functions .jumbotron {
    padding: 0px;
}

.console_class_functions .functiotron {
    padding: 20px;
    border-left: 3px solid #c5c5c5;
}


.aside {
    top: 53px;
}

.panel-function .panel-body {
    padding-top: 0;
}