



body div.container-studio {
	padding-top :20px
}
.pointer {
	cursor : pointer;
}

.CodeMirror {
  border: 1px solid #eee;
  height: 200px;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
.nomargin {
    margin : 0px !important;
}
table.pointer>tbody>tr>td input, table.pointer>tbody>tr>td select{

  width: 110px;
}

div.scroll-editclass, div.scroll-indexes{
  overflow: auto;
  max-height: 300px;
  margin-top: 26px;
  /*border-top: 1px solid grey;*/
  /*border-bottom: 1px solid grey;*/
}
.accordion-scroll {
    height: 150px;
    overflow: auto;
}

.sidenav {
    background-color: #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    padding: 0;
}


.sidenav > li:first-child > a {
    border-radius: 6px 6px 0 0;
}
.sidenav > .active > a {
    border: 0 none;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset, -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    padding: 9px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    z-index: 2;
}
.sidenav > li > a {
    border: 1px solid #E5E5E5;
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
}
.sidenav .active .icon-chevron-right, .sidenav .active a:hover .icon-chevron-right {
    background-image: url("../img/glyphicons-halflings-white.png");
    opacity: 1;
}
.sidenav .icon-chevron-right {
    float: right;
    margin-right: -6px;
    margin-top: 2px;
    opacity: 0.25;
}


.doc-header  {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #E5E5E5;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #333333;
    display: block;
    font-size: 21px;
    line-height: 40px;
    margin-bottom: 20px;
    margin-left: 0px !important;
    padding: 0;

}
.doc-header > label  {
    color: #333333;
    font-size: 21px;
    line-height: 40px;
}
.doc-body   {
   max-height: 300px;
   overflow: auto;
}
div.document form.bs-docs-example:after {
    content: "Document";
}
div.properties .bs-docs-example:after {
    content: "Properties";
}
div.indexes .bs-docs-example:after {
    content: "Indexes";
}
div.vertex form.bs-docs-example:after {
    content: "Vertex";
}
div.edge form.bs-docs-example:after {
    content: "Edge";
}

.edgesList {
    padding-top: 60px;
}

.createEdge {
  width: 80%; /* desired relative width */
  left: 10%; /* (100%-width)/2 */
  /* place center */
  margin-left:auto;
  margin-right:auto; 
}
.createEdge .modal-body {
  width: 98%; 
}
.createEdge .modal-body {
  width: 98%;
  max-height: 200px; 
}
.createEdge .modal-body .CodeMirror {
  height: 100px;
}
.createEdge .modal-body .table{
  width: 96%; 
  height: 100px;
  overflow: auto;
}

.editEdge {
  width: 60%; /* desired relative width */
  left: 20%; /* (100%-width)/2 */
  /* place center */
  margin-left:auto;
  margin-right:auto; 
}
.css-form input.ng-invalid.ng-dirty {
        background-color: #FA787E;
}
    
.css-form input.ng-valid.ng-dirty {
        background-color: #78FA89;
}

.breadcrumb > li + li:before {
padding: 0 5px;
color: #cccccc;
content: "/\00a0";
}


