html {
    height: 100%;
}

body {
    height: 100%;
}

body div.container-studio {
    padding-top: 20px
}

.pointer {
    cursor: pointer;
}

.CodeMirror {
    border: 1px solid #eee;
    height: 200px;
}

.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}

.nomargin {
    margin: 0px !important;
}

table.pointer>tbody>tr>td input, table.pointer>tbody>tr>td select {

    width: 110px;
}

div.scroll-editclass, div.scroll-indexes {
    overflow: auto;
    max-height: 300px;
    margin-top: 26px;
    /*border-top: 1px solid grey;*/
    /*border-bottom: 1px solid grey;*/
}

.accordion-scroll {
    height: 150px;
    overflow: auto;
}

.sidenav {
    background-color: #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    padding: 0;
}

.sidenav > li:first-child > a {
    border-radius: 6px 6px 0 0;
}

.sidenav > .active > a {
    border: 0 none;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset, -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    padding: 9px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    z-index: 2;
}

.sidenav > li > a {
    border: 1px solid #E5E5E5;
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
}

.sidenav .active .icon-chevron-right, .sidenav .active a:hover .icon-chevron-right {
    background-image: url("../img/glyphicons-halflings-white.png");
    opacity: 1;
}

.sidenav .icon-chevron-right {
    float: right;
    margin-right: -6px;
    margin-top: 2px;
    opacity: 0.25;
}

.doc-header {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #E5E5E5;
    border-image: none;
    color: #333333;
    display: block;
    font-size: 21px;
    line-height: 40px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 0px !important;

}

.doc-header > label {
    color: #333333;
    font-size: 21px;
    line-height: 40px;
}

div.document form.bs-docs-example:after {
    content: "Document";
}

div.properties .bs-docs-example:after {
    content: "Properties";
}

div.indexes .bs-docs-example:after {
    content: "Indexes";
}

div.vertex form.bs-docs-example:after {
    content: "Vertex";
}

div.edge form.bs-docs-example:after {
    content: "Edge";
}

.edgesList {

}

.record-header {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    font-size: 13px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}

form.record-header {

}

.record {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 0px 19px 14px;
    position: relative;
}

.createEdge {
    width: 80%; /* desired relative width */
    left: 10%; /* (100%-width)/2 */
    /* place center */
    margin-left: auto;
    margin-right: auto;
}

.createEdge .modal-body {
    width: 96%;
    max-height: 200px;
}

.createEdge .modal-body .CodeMirror {
    height: 100px;
}

.createEdge .modal-body .table {
    width: 96%;
    height: 100px;
    overflow: auto;
}

.editEdge {
    width: 60%; /* desired relative width */
    left: 20%; /* (100%-width)/2 */
    /* place center */
    margin-left: auto;
    margin-right: auto;
}

.css-form input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

.css-form input.ng-valid.ng-dirty {
    background-color: #78FA89;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #cccccc;
    content: "/\00a0";
}

.input-xlarge-auto {
    width: 90%;
}

form .required {
    font-weight: bold;
}

form .required label:after {
    color: #e32;
    content: '*';
    display: inline;
}

#loader {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: grey;
    opacity: .8;
}

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px; /* -1 * image height / 2 */
    display: block;
}

.fade-hide, .fade-show {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
}

.fade-hide {
    opacity: 1;
}

.fade-hide.fade-hide-active {
    opacity: 0;
}

.fade-show {
    opacity: 0;
}

.fade-show.fade-show-active {
    opacity: 1;
}

.tag-rid {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #E2E6F0;
    border: 1px solid #9DACCC;
    border-radius: 2px 2px 2px 2px;
    color: #000000;
    cursor: pointer;
    float: left;
    font: 12px "lucida grande", tahoma, verdana, arial, sans-serif;
    height: 16px;
    margin: 0 2px 2px 0;
    padding: 0 17px 0 3px;
    position: relative;
}

a > i {
    vertical-align: middle !important;
    margin-top: 0px !important;
}

ul a > i {
    vertical-align: inherit !important;
    margin-top: auto !important;
}

button.exportButton {
    background: none repeat scroll 0 0 #3399FF;
    border: 1px solid #2E6E9E;
    border-radius: 10px 10px 10px 10px;
    color: #333333;
    cursor: pointer;
    direction: ltr;
    font-weight: bold;
    height: 2.5em;
    line-height: 2.5em;
    overflow: hidden;
    position: relative;
    text-align: center !important;
    width: 15em;
}

.horizontallist li {
    display: inline;

    /*float: left;*/
}

ul.horizontallist, ol.horizontallist {
    margin: 0px !important;
    padding: 0px;
}

.functions_consoleresult textarea {
    width: 97%;
}

.functions_list {
    max-height: 400px;
    overflow-y: scroll;
}

.navbar.navbar-inverse .navbar-inner {
    background: none repeat scroll 0 0 #262626;
    border-bottom: 5px solid #FF6600;
    box-shadow: none !important;
    text-shadow: none !important;
}

.panelAlerts {
    min-height: 58px;
}

.queryHelp {
    list-style: none;
    margin: 0;
}

.viewJson .CodeMirror {
    height: 300px;
    margin-bottom: 20px;
}

.label-data {
    background-color: #F38630;
    color: #555555;
    text-align: center;

}

.label-data span {
    margin-top: 5px;
    display: block;
}

.label-free  span {
    margin-top: 5px;
    display: block;
}

.label-free {
    background-color: #E0E4CC;
    color: #555555;
    text-align: center;

}

.table th {
    background: none repeat scroll 0 0 #DDDDDD;
    border-color: #C4C4C4;
    padding-bottom: 2px;
    padding-top: 2px;
    position: relative;
}

.popoverForm {
    margin: 0;
}

.CodeMirror-hints {
    z-index: 1200;
}

/*.btn {
    background-color: #E5E5E5;
    background-image: none;
    border: 0 none;
    border-radius: 0 0 0 0 !important;
    box-shadow: none !important;
    color: #333333;
    cursor: pointer;
    filter: none;
    outline: medium none;
    padding: 7px 14px;
    text-shadow: none;
}

.btn:hover {
    background: #d8d8d8;
} */

/*.well {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 0 none;
    box-shadow: none !important;
    padding: 20px;
    text-shadow: none !important;
} */