html {
  height: 100%;
}

body {
  background: none repeat scroll 0 0 #ffffff;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: helvetica !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #34495e;
}

a {
  color: #34495e;
}
#full-screen-background-image {
  height: auto;
  left: 0;
  min-height: 100%;
  min-width: 1024px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -999;
}

.account-container {
  display: block;
  margin: 90px auto 0;
}

.login-extra {
  display: block;
  line-height: 19px;
  margin: 1.5em auto;
  text-align: center;
  text-shadow: 1px 1px 0 #FFFFFF;
  width: 300px;
}

@media (max-width: 480px) {
  .account-container {
    margin-top: 35px;
    width: 280px;
  }

  .login-fields input {
    width: 160px;
  }
}

.side-nav > li > a {
  color : #60676d !important;
  text-align: center;
  margin: 2px;
  border-radius: 4px;
  /*padding: 2px*/
}
.side-nav > li > a:hover {
  background-color: #eee !important;
  color: #384047;
}

.side-nav > li.hider > a:hover {
  background-color: #222222 !important;
}

li.hider {
  width: 100%;
  height: 40px;
  padding: 5px;
}

li.hider button {

  background-color: #303030;
  color: #FFFFFF;
  margin-right: 15px;
}

li.hider button:hover {
  background-color: #000000;
}

.side-nav > li.active > a {
  background-color: #eee !important;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .navbar-header {
    margin-left: 55px;
  }
  .side-nav {
    background-color: #384047;
    border: medium none;
    border-radius: 0 0 0 0;
    height: 100%;
    left: 225px;
    margin-left: -225px;
    overflow-y: auto;
    position: fixed !important;

    width: 225px;

  }

  .side-nav-small > li > a {
    text-align: center;
    width: 25px !important;
  }

  .side-nav-small {
    width: 60px;
  }

  .side-nav > li > a {
    width: 225px;
  }
}

.navbar .container-fluid .brand {
  background: url("../img/orientdb-logo-full.png") no-repeat scroll 0 9px rgba(0, 0, 0, 0);
  width: 233px;
}

.navbar .container-fluid .brand2 {
  background: url("../img/orientdb-logo.png") no-repeat scroll 0 9px rgba(0, 0, 0, 0);
  display: inline-block;
  height: 29px;
  margin: 0;
  padding: 9px 15px 10px 0;
  width: 29px;
}

.navbar.navbar-inverse .navbar-inner {
  background: none repeat scroll 0 0 #333333;
  border-bottom: 1px solid #A5360F;
  box-shadow: none !important;
  text-shadow: 0 1px 0 #CE4213;
}

button.btn-primary, .btn.btn-primary {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #FFFFFF;
  border-radius: 0 0 0 0 !important;
}

.btn-block {
  -moz-box-sizing: border-box;
  display: block;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.shadow-continer {
  /*box-shadow: -10px 0 10px -10px #262626;*/
  /*box-shadow: -10px 0 10px 1px #262626;*/
}

.monitor-app {
  margin: 20px auto 0;
  min-height: 100%;
}

.loginForm input {
  margin-bottom: 10px;
}

#footer {
  background: none repeat scroll 0 0 #F4F4F4;
  border-radius: 4px 4px 4px 4px;
  height: 19px;
  margin: 30px 0;
  padding: 10px 20px;
}

#footer .brand {
  background: url("../img/orientdb-logo-nano.png") no-repeat scroll left top rgba(0, 0, 0, 0);
  display: inline-block;
  height: 19px;
  width: 148px;
}

.table th {
  background: none repeat scroll 0 0 #D3D3D3;
  /*color: #FFFFFF;*/
  font-size: 13px;
  padding-bottom: 6px;
  padding-top: 6px;
  position: relative;
}

.table-nocolor th {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-color: #C4C4C4;
}

.well {
  background: none repeat scroll 0 0 #f5f5f5;
  border: 0 none;
  box-shadow: none !important;
  padding: 20px;
  text-shadow: none !important;
}

.well-fluid {
  background: none repeat scroll 0 0 #f5f5f5;
  border: 0 none;
  box-shadow: none !important;
  padding: 8px 0px;

  text-shadow: none !important;
}

.box {
  background: none repeat scroll 0 0 #c95b5b;
  border: 0 none;
  box-shadow: none !important;
  padding: 5px;
  margin-bottom: 10px;
  text-shadow: none !important;
  color: #ffffff;
  height: 140px;
}

.box .nav > li {
  font-size: 12px;
}

.box a {
  color: #ffffff;
}

.btn {
  background-color: #D3D3D3;
  background-image: none;
  border: 0 none;
  border-radius: 0 0 0 0 !important;
  box-shadow: none !important;
  color: #333333;
  cursor: pointer;
  filter: none;
  outline: medium none;
  text-shadow: none;
}

.btn-notification {
  height: 22px;
}

.btn-small {
  background-color: #D3D3D3;
  background-image: none;
  border: 0 none;
  border-radius: 0 0 0 0 !important;
  box-shadow: none !important;
  color: #333333;
  cursor: pointer;
  filter: none;
  outline: medium none;
  padding: 7px 14px;
  text-shadow: none;
  padding: 4px 8px;
}

.btn-trasparent {
  background-color: rgba(0, 0, 0, 0);
}

.nav-pills > li > a {
  border-radius: 0 0 0 0 !important;
}

button.btn-inverse, .btn.btn-inverse {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #FFFFFF;
  /*border-radius: 0 0 0 0 !important;*/
  margin-right: 5px;
  border: 1px solid;
  border-radius: 4px;
}

button.btn-inverse:hover, .btn.btn-inverse:hover {
  background-color: #449d44;
  border-color: #398439;
}

.serverNav {
  color: #FFFFFF;
}

.icon-brand {
  background: url("../img/orientdb-logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: inline-block;
  height: 29px;
  width: 29px;
}

.mainSection {

  margin-left: 0 !important;
  padding-left: 10px;
}

section {
  padding-top: 5px;
}

.title > hr {
  margin-top: 0px;
}

.title > h3 {
  margin-bottom: 0px;
}

.navSection {
  padding-top: 20px;
}

.navMenu {
  margin-top: 40px;
}

.navMenu ul.nav-list > li > a:active {
  border-top: 1px solid #5C5C5C !important;
  color: #FFFFFF;
  /*padding: 10px 15px;*/
  text-shadow: none;
}

.navMenu ul.nav-list > li > a:hover {
  background-color: #A5360F;
}

.navMenu ul.nav-list > li.active > a .selected {
}

.navMenu ul.nav-list > li {
  border: 1px solid;
  line-height: 35px;
}

.menuTitle {
  padding-left: 5px;
}

.serverBox {
  margin-bottom: 20px;
  margin-top: 20px;
}

.widget {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

.widget > .widget-title:after, .widget > .widget-title:before {
  content: "";
  display: table;
  line-height: 0;
}

.widget > .widget-title:after {
  clear: both;
}

.widget > .widget-title:after, .widget > .widget-title:before {
  content: "";
  display: table;
  line-height: 0;
}

.widget > .widget-title {
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 15px;
}

.widget.boxed > .widget-body {
  background-color: #FFFFFF;
  padding: 10px;
}

.widget > .widget-body {
  clear: both;
  padding: 0;
}

.widget > .widget-title > .widget-caption {
  display: inline-block;
  float: left;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 7px;
  padding: 0;
}

.widget > .widget-title > .actions {
  display: inline-block;
  float: right;
  margin: 6px 0 0;
  padding: 0;
}

.widget > .widget-title > .actions > .btn {
  margin-top: -10px;
  padding: 4px 10px;
}

.widget.boxed > .widget-title {
  margin-bottom: 0;
}

.widget.boxed > .widget-title {
  border-bottom: 1px solid #EEEEEE;
  border-top: 1px solid #EEEEEE;
  color: #FFFFFF !important;
  padding: 8px 10px 2px;
}

.widget.boxed > .widget-title {
  color: #34495e !important;
}

.widget.boxed.black {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #DDDDDD;
  border-image: none;
  border-style: none solid solid;
  border-width: 0 1px 1px;
}

.widget.boxed.black > .widget-title {
  background-color: #FFFFFF;
}

.widget.boxed.grey {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #d3d3d3;
  border-image: none;
  border-style: none solid solid;
  border-width: 0 1px 1px;
}

.widget.boxed.grey > .widget-title {
  background-color: #d3d3d3;
  color: #000000 !important;
  padding: 0px 0px 0px;

}

.widget.boxed.grey > .widget-title > .actions {
  padding: 0px 0px 0px;
  margin: 0px;
}

.widget.boxed.grey > .widget-title > .widget-caption {

  padding-top: 15px;
  padding-left: 10px;
}

.widget.boxed.blue {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #428bca;
  border-image: none;
  border-style: none solid solid;
  border-width: 0 1px 1px;
}

.widget.boxed.blue > .widget-title {
  background-color: #428bca;
}

.logDate {
  color: #C1CBD0;
  font-style: italic;
}

.log-list li > div {
  margin-bottom: 5px;
}

.select2-container .select2-choice {
  -moz-user-select: none;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 2px solid #CCCCCC;
  border-radius: 4px 4px 4px 4px;
  color: #444444;
  display: block;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}

.select2-container .select2-choice .select2-arrow b:before {
  content: "";
  display: inline-block;
  font-size: 14px;
  position: relative;
  text-decoration: inherit;
  top: 1px;
}

.select2-container .select2-choice .select2-arrow b {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.select2-container .select2-choice b {
  display: block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  height: 100%;
  text-decoration: inherit;
  width: 100%;
}

.select2-container .select2-choice .select2-arrow {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-left: medium none;
  border-radius: 0 4px 4px 0;
  display: inline-block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 18px;
}

.select2-container-active .select2-choice, .select2-container-active .select2-choices {
  border: 2px solid #0D96E5;
  box-shadow: none;
  outline: medium none;
}

.select2-drop {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 #FFFFFF;
  border-color: -moz-use-text-color #0D96E5 #0D96E5;
  border-image: none;
  border-radius: 0 0 4px 4px;
  border-style: none solid solid;
  border-width: 0 2px 2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.05);
  color: #000000;
  margin-top: -2px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 9999;
}

.select2-search input:focus {
  box-shadow: none;
}

.pointer {
  cursor: pointer;
}

.querySearch {
  margin-bottom: 12px;
  margin-top: 12px;
}

.metric-range {
  background-color: #E02222;
  color: #FFFFFF;
  cursor: pointer;
  margin-right: 0;
  padding: 8px 8px 7px;
  font-size: 13px;
}

.metric-range span {
}

table.form-search-width > tbody > tr > td select {
  /*height: 34px;*/
  width: 72%;
}

table.form-search-width > tbody > tr > td input {
  /*height: 24px;*/
  width: 65%;
}

table.align-left > tbody > tr > td {
  text-align: left !important;
}

.btn-events {
  /*height: 16px;*/
  vertical-align: top;
}

table.align-left {
  margin-top: 28px;
}

.navMenu ul.nav-list > li > a {
  border-top: 1px solid #ffffff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: 400;
}

.dropdown-menu a {
  color: #333333;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #5cb85c;
  color: #FFFFFF;
  line-height: 27px;
}

.navbar-inverse .nav >  li.dropdown > a {
  color: #34495e;
  text-shadow: none;
}
.navbar-inverse .nav > li > a {
  color: #FFFFFF;
}
.navbar-inverse .brand  {
  color: #34495e;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.nav-list > .active > a, .nav-list > .active > a:hover {
  background-color: #5cb85c;
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.nav-list > li > a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
  padding: 3px 15px;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
  background-color: #5cb85c;;
  background-image: linear-gradient(to bottom, #5cb85c, #5cb85c);
  background-repeat: repeat-x;
  color: #FFFFFF;
  text-decoration: none;
}

fieldset.form_mailwhat {
  border: 0 none;
  margin: 11px 0 0 29px;
  padding: 0;
  width: 90%;
}

.modal-header {
  background-color: #FFFFFF;
  border-bottom: 1px solid #eee;
  padding: 9px 15px;
}

.modal-footer {
  background-color: #FFFFFF;
  border-radius: 0 0 6px 6px;
  border-top: 1px solid #eee;
  box-shadow: none;
  margin-bottom: 0;
  padding: 14px 15px 15px;
  text-align: right;
}

.modal-header .close {
  color: #FFFFFF;
  margin-top: 2px;
}

.modal {
  background-clip: padding-box;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  left: 50%;
  margin: -300px 0 0 -280px;
  overflow: auto;
  position: fixed;
  top: 50%;
  width: 560px;
  z-index: 1050;
}

.gridStyle {
  height: 300px;
}

.horizontallist li {
  display: inline-block;
}

ul.horizontallist, ol.horizontallist {
  margin: 0px !important;
  padding: 0px;
}

div.httpwhatform select.ng-invalid.ng-dirty, div.httpwhatform input.ng-invalid.ng-dirty, div.functionwhatform select.ng-invalid.ng-dirty, div.functionwhatform input.ng-invalid.ng-dirty, div.mailwhatform input.ng-invalid.ng-dirty {
  border: 1px solid #FA787E;
}

div.httpwhatform select.ng-valid.ng-dirty, div.httpwhatform input.ng-valid.ng-dirty, div.functionwhatform select.ng-valid.ng-dirty, div.functionwhatform input.ng-valid.ng-dirty, div.mailwhatform input.ng-valid.ng-dirty {
  border: 1px solid #78FA89;
}

.pagination_limit {
  height: 40px;
  padding-top: 8px;
  text-align: center;
  vertical-align: top;
  width: 70px;
}

div.pagination {
  padding: 0px;
  margin: 0px;
  text-align: left;
}

div.pagination a {
  border: 1px solid #dedfde;
  margin-right: 3px;
  padding: 0px 5px;

  background-position: bottom;
  text-decoration: none;

  color: #99210B;
}

div.pagination a:hover, div.pagination a:active {
  border: 1px solid #000;
  background-image: none;
  background-color: #777777;
  color: #fff;
}

div.pagination span.current {
  margin-right: 3px;
  padding: 2px 6px;

  font-weight: bold;
  color: #99210B;
}

div.pagination span.disabled {
  margin-right: 3px;
  padding: 2px 6px;
  color: #adaaad;
}

.onoffswitch {
  position: relative;
  width: 68px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}

.onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 22px;
  padding: 0;
  line-height: 22px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #A5360F;
  color: #FFFFFF;
}

.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right;
}

.onoffswitch-switch {
  width: 13px;
  margin: 4.5px;
  background: #FFFFFF;
  border: 2px solid #999999;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 42px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.navbar-collapse:after {
  clear: both;
}

.navbar-collapse:before, .navbar-collapse:after {
  content: " ";
  display: table;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #101010;
}

@media (min-width: 768px) {
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
    padding-bottom: 0;
  }

  .wrapper {
    padding-left: 225px;
  }

  .wrapper-small {
    padding-left: 40px;
  }

  .side-nav .tooltip {
    display: none;
  }

  .side-nav-small .tooltip .tooltip-inner {

  }

  .side-nav-small .tooltip {
    z-index: 10000;
    position: fixed;
    font-size: 15px;

  }
}

@media (max-width: 768px) {
  .navbar .btn-navbar {
    display: block;
  }

  .navbar-collapse {
    clear: both;
  }

  .navbar .nav > li {
    float: none;
  }

  .navbar .nav {
    float: none;
  }
}

.navbar-collapse {
  border-top: 0 none;
  box-shadow: none;
  width: auto;

}

.navbar-collapse {
  border-top: 1px solid rgba(0, 0, 0, 0);

  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
  max-height: 340px;
  overflow-x: visible;
}

.navbar-inverse .navbar-brand {

}

.enterprise-brand {
  display: inline-block;
  height: auto;
  padding-top: 5px;
}

.navbar-brand span {
  margin-top: 15px;
  margin-left: -5px;
}

.navbar-brand {
  float: left;
  font-size: 15px;
  line-height: 20px;
  padding: 2px 10px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }

}

.navbar-toggle {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px 4px 4px 4px;
  float: right;
  margin-bottom: 8px;
  margin-right: 15px;
  margin-top: 8px;
  padding: 9px 10px;
  position: relative;
}

.navbar-inverse {
  background-color: #edeff0;
  border-color: #080808;
  border-bottom: 1px solid #e7e7e7;
}

.navbar-right {
  float: right !important;
}

.chart-loader {
  margin: 0 auto;
  display: block;
}

.no-margin {
  margin-left: 0px !important;
}

.dashboard-metric .widget-caption {
  vertical-align: text-bottom;
}

.text-right {
  text-align: right;
}

.viewChart {
  width: 80%; /* desired relative width */
  left: 10%; /* (100%-width)/2 */
  /* place center */
  margin-left: auto;
  margin-right: auto;
}

.config .popover {
  top: 28px !important;
  left: -190px !important;
}

.config .popover.bottom .arrow {
  left: 90%;
  margin-left: -10px;
  top: -10px;
}

.gritter-close {
  right: 3px;
  left: auto !important;
}

.onotification {
  cursor: pointer;
}

.btn-danger {
  background-color: #DA4F49;
  background-image: -moz-linear-gradient(center top, #EE5F5B, #BD362F);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

body {
  padding-top: 30px;
}

.widget .panel-body {
  padding: 0px;
}

.widget .list-group {
  margin-bottom: 0;
}

.widget .panel-title {
  display: inline
}

.widget .label-info {
  float: right;
}

.widget li.list-group-item {
  border-radius: 0;
  border: 0;
  border-top: 1px solid #ddd;
}

.widget li.list-group-item:hover {
  background-color: rgba(86, 61, 124, .1);
}

.widget .mic-info {
  color: #666666;
  font-size: 11px;
}

.widget .action {
  margin-top: 5px;
}

.widget .comment-text {
  font-size: 12px;
}

.widget .btn-block {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

tr.unread {
  font-weight: bold;
  /*background-color: #808080;*/
}

tr.read {
}

.btn-group > .btn-large + .dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px;
}

.btn-group.open .dropdown-toggle {
  background-image: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-group.open .btn.dropdown-toggle {
  background-color: #E6E6E6;
}

.btn-group > .btn {
  background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 0 0 0 0 !important;
  position: relative;
}

table.messages_table > tbody > tr {
  border-bottom: 1px solid #d3d3d3;
}

.label-info-message {

  background-color: #808080;
  border-style: none;
  box-shadow: none;
  padding: 5px;
  vertical-align: middle;
  margin-right: 5px;

}

table.messages_table tr.active {
  background-color: #f5f5f5 !important;
}

div.messageText label {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;

}

.mediumH {
  min-height: 300px;
}

.user-dropdown .dropdown-menu:after {
  left: auto !important;
  right: 13px;
}

.user-dropdown .dropdown-menu:before {
  left: auto !important;
  right: 13px;
}

.user-dropdown .dropdown-menu {
  left: auto;
  right: 0;
}

.btn-success {

  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
}

.chart-render .btn-inverse {
  background: none repeat scroll 0 0 #5bb75b;
}

.config .popover-title {
  font-size: 12px !important;
}

.config .popover-content label {
  font-size: 12px !important;
}

.config .popover-content > .row-fluid {
  margin-bottom: 5px;
  margin-top: 5px;
}

.pagination a, .pagination span {
  line-height: 30px;
}

.pagination ul {
  display: inline;
}

.spinner-start {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #d3d3d3;
  opacity: .4;
}

#spinner, .spinner, #spinner-popup, .spinner-popup {
  position: absolute;
  left: 50%;
  top: 50%;
}

div.container select {
  margin-bottom: 0px;
}

.nomargin {
  margin: 0;
}

ul.dirtyList {
  list-style: none;
}

ul.tcp-members {
  list-style: none;
  margin-left: 0px;
}

ul.tcp-members li {
  padding: 5px;
}

.clusterConfig select {
  margin-bottom: 0px;
}

.chart-actions {
  width: 10%;
}

.available-charts {
  max-height: 210px;
  overflow: auto;
}

.chart-close-container {
  position: absolute;
}

.chart-close {
  background: url("../images/gritter.png") no-repeat scroll left top rgba(0, 0, 0, 0);
  cursor: pointer;
  display: block;
  height: 30px;
  left: -10px;
  position: relative;
  top: -10px;
  width: 30px;
}

.toggle-switch span {
  line-height: 10px !important;
}

.chart {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  text-align: center;
}

.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.percent {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
}

.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}

.angular {
  margin-top: 100px;
}

.angular .chart {
  margin-top: 0;
}

.thumbnail .chart-label {
  width: 100%;
  text-align: center;
}
.thumbnail h4 {
  text-align: center;
}
.widget-server .no-margin {
  padding: 5px;
}
.server-thumb hr {
  margin: 10px 0;
}

