<div class="box span12">

	<div class="span3">
		<label class="control-label" data-i18n="metrics.range"></label>
		<div class="controls" id="reportrange">
			<i class="icon-calendar icon-large"></i> <span><%= Date.today().toString('MMMM d, yyyy') + ' - ' + Date.today().add(-6).days().toString('MMMM d, yyyy') %></span><b class="caret"></b>
		</div>
	</div>
	
	<div class="span3">
		<label class="control-label" for="selectMetric" data-i18n="metrics.metric"></label>
		<div class="controls">
			<select id="selectMetric"> <% if(dictionary && dictionary.length) { _.each(dictionary, function(d) { %>
				<option<%if(d.get('name') === metric){%> selected<%}%> value="<%=d.get('name')%>"><%=d.get('name')%></option> <% }); } %>
			</select>
		</div>
	</div>

	<div class="span4">
		<p class="lead"><% for (var i = 0; i < dictionary.length; i++) { if (dictionary[i].get('name') === metric) { print(dictionary[i].get('description')); break; } } %></p>
	</div>

	<div class="span9 offset1" id="chart">
		<svg></svg>
	</div>

</div>