<h3 data-i18n="profiler.title"></h3>
<div class="row-fluid">
	<form class="form-inline well">
		<label class="span1" for="selectServer"><strong data-i18n="queryprofiler.server"></strong></label> 
		<select class="span3" id="selectServer">
			<% _.each(servers.models, function(s) { %>
			  <option <%if(s.id === serverId){%>selected<%}%> value="<%=s.id%>"><%=s.get('name')%></option> 
			<% }); %>
		</select>
		
		<label class="span1 offset1" for="selectDatabase"><strong data-i18n="queryprofiler.database"></strong></label> 
		<select class="span3" id="selectDatabase"> <% if(databases && databases.length) {
			_.each(databases.at(0).get('value').split(','), function(d) { %>
			  <option <%if(d === database){%>selected<%}%> value="<%=d%>"><%=d%></option>
		    <% }); } %>
		</select>
	</form>
</div>

<div id="north" class="row-fluid">
	<ul class="nav nav-tabs" id="serverTab">
		<li class="active"><a href="#queries-tab" data-toggle="tab" data-i18n="profiler.queries.title"></a></li>
		<li><a href="#metrics-tab" data-toggle="tab" data-i18n="profiler.metrics.title"></a></li>
	</ul>
	<div id="serverTabContent" class="tab-content">
		<div class="tab-pane active" id="queries-tab"></div>
		<div class="tab-pane" id="metrics-tab"></div>
	</div>
</div>
<div class="row-fluid" id="south"></div>