<div class="box span12">
    <button class="btn btn-inverse btn-refresh" data-i18n="queryprofiler.refresh"></button>
    <button class="btn btn-inverse btn-clean" data-i18n="queryprofiler.clean"></button>
	<table class="table table-condensed table-striped table-bordered">
		<thead>
			<tr>
			    <th></th>
				<th data-i18n="queryprofiler.command"></th>
				<th data-i18n="queryprofiler.entries"></th>
				<th data-i18n="queryprofiler.average"></th>
				<th data-i18n="queryprofiler.total"></th>
				<th data-i18n="queryprofiler.max"></th>
				<th data-i18n="queryprofiler.min"></th>
				<th data-i18n="queryprofiler.last"></th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>