<h2>
    <span data-i18n="settings.servers.label"></span>&nbsp;
	<a class="btn btn-inverse" href="#settings/servers/new" data-i18n="settings.servers.new"></a>
</h2>
<div class="row-fluid">
<table class="table table-condensed table-striped">
	<thead>
		<tr>
		    <th data-i18n="settings.servers.enabled"></th>
		    <th data-i18n="settings.servers.status"></th>
			<th data-i18n="settings.servers.name"></th>
			<th data-i18n="settings.servers.url"></th>
			<th style="text-align: center"></th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
</div>