<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
            <avatar dim="50" user="user"></avatar>
        </div>
        <div class="col-md-11">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form" name="newIssue">
                        <div class="form-group">
                            <input type="text" class="form-control" required placeholder="Title" ng-model="topic.title">
                        </div>
                        <!--<div class="checkbox" ng-show="(isMember || isClient)">-->
                            <!--<label>-->
                                <!--<input type="checkbox" placeholder="Private Topic"-->
                                       <!--ng-model="issue.confidential">-->
                                <!--Private Topic</label>-->
                        <!--</div>-->
                        <div class="form-group">
                            <div class="row">

                            </div>
                            <div class="row">

                            </div>
                        </div>
                        <div class="form-group">
                            <div vue-editor preview="preview" ng-model="topic.body"></div>
                        </div>
                        <button type="submit" class="btn btn-success pull-right" ng-disabled="newIssue.$invalid"
                                ng-click="save()">
                            Submit new topic
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
