<div class="container-fluid edit-issue">
    <div class="row vertical-align">
        <div class="col-md-9">
            <h3 ng-hide="editingTitle">{{ topic.title}}</h3>

            <form ng-show="editingTitle">
                <input type="text" class="form-control" ng-model="newTitle">
            </form>
        </div>
        <div class="col-md-3">
            <div class="btn-group">
                <button class="btn btn-sm btn-default" ng-click="editingTitle = true; newTitle = topic.title"
                        ng-show=" (!editingTitle && (isOwner || isMember))">Edit
                </button>
            </div>

            <div class="btn-group">
                <button class="btn btn-sm btn-success" ng-disabled="!newTitle" ng-click="changeTitle(newTitle)"
                        ng-show="editingTitle">Save
                </button>
            </div>
            <div class="btn-group">
                <button class="btn btn-sm btn-warning" ng-click="editingTitle=false; newTitle = null"
                        ng-show="editingTitle">
                    Cancel
                </button>
            </div>
            <div class="btn-group">
                <a href="#/topics/new" ng-hide="editingTitle" class="btn btn-sm btn-success">New Topic</a>
            </div>

        </div>
    </div>
    <div class="row">

        <div class="col-md-7">
            <div class="row">
                <div class="col-md-12">
                    #{{topic.number}} <b>{{topic.user.name}}</b> opened this issue {{ topic.createdAt | fromNow}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <div class="row">

        <div class="col-md-9">
            <div class="row">
                <div class="col-md-1">
                    <avatar dim="50" user="topic.user"></avatar>
                </div>
                <div class="col-md-11">
                    <div class="panel panel-default" ng-controller="TopicBodyController">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-10">
                                    <b>{{topic.user.name}}</b> commented {{ topic.createdAt | fromNow}}
                                </div>
                                <div class="col-md-2">
                                    <div class="pull-right">
                                        <a href="javascript:void(0)" ng-click="edit()"
                                           ng-hide="!(comment.user.name== currentUser.name || isMember)"><i
                                                class="fa fa-edit"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div vue-editor preview="preview" ng-model="topic.body"></div>
                        </div>
                        <div class="panel-footer clearfix" ng-show="!preview">

                            <div class="pull-right">
                                <div class="btn-group">
                                    <button ng-click="cancelEditing()" class="btn btn-sm btn-danger">Cancel</button>
                                </div>
                                <div class="btn-group">
                                    <button class="btn btn-sm btn-success " ng-click="patchComment()">Update Comment
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row events-list">
                <div ng-repeat="comment in comments">
                    <div class="col-md-1">
                        <div class="comment" ng-if="!comment.event && $index == 0">

                        </div>
                        <div ng-if="!comment.event">
                            <avatar dim="50" user="comment.user"></avatar>
                        </div>

                    </div>
                    <div class="col-md-11">
                        <div class="event" ng-if="!comment.event && $index == 0">

                        </div>
                        <div ng-if="!comment.event" class="">
                            <ng-include src="'views/topics/comment.html'"></ng-include>
                        </div>
                        <div class="event" ng-if="!comment.event">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">

                </div>
                <div class="col-md-11">
                    <div class="panel panel-default panel-comment">
                        <div class="panel-heading">Leave a Comment</div>
                        <div class="panel-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div vue-editor preview="false" ng-model="newComment.body"></div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-8 col-md-offset-4">

                                        <div class="btn-group pull-right">
                                            <button class="btn btn-sm btn-success" ng-click="comment()">
                                                Comment
                                            </button>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 issue-sidebar">


            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-transparent" ng-disabled="!isMember" class="btn btn-lg btn-primary"
                            data-placement="bottom-right"
                            data-auto-close="1"
                            data-template="views/issues/popover/labels.html"
                            title="{{popover.title}}" data-content="{{popover.content}}" data-trigger="click"
                            bs-popover>Labels <i
                            class="fa fa-gear pull-right"></i></button>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 issue-label" ng-repeat="label in issue.labels">
                            <span class="label" style="background-color: #{{label.color}}">{{label.name}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
            </div>


        </div>
    </div>
</div>
