<div class="aside" role="dialog" tabindex="-1">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-header">
                <button class="close" ng-click="$hide()" type="button">×</button>
                <h4 class="aside-title ng-binding">Bookmarks</h4>
            </div>
            <div class="aside-body">
            </div>
            <div ng-include="'views/database/context/bookmarks.html'">

            </div>
            <div class="aside-footer">
            </div>
        </div>
    </div>
</div>

