<div ng-controller="BookmarkController" class="bookmarks-container">
    <div class="container-fluid">
        <div class="row">
            <form class="form-search search-bookmarks">
                <input type="text" class="input-large search-query" ng-model="searchText"
                       placeholder="Search bookmarks">
            </form>
        </div>
        <div class="row">
            <ul class="nav nav-tabs nav-stacked bookmarks-list">
                <li class="bookmarks-item" ng-mouseover="hover(bk)" ng-repeat="bk in bks | filter:searchText">
                    <div class="bookmarks-actions" ng-class="{ true : 'visible', false : 'invisible' }[bk == selected]">
                        <a href="javascript:void(0)" data-placement="right"
                           data-template="views/database/bookmarkEdit.html"
                           bs-popover
                           data-title="Edit bookmark">
                            <i class="icon-edit icon-white"></i>
                        </a>
                        <a class="" ng-click="remove(bk)" href="javascript:void(0)">
                            <i class="icon-remove icon-white"></i>
                        </a>
                    </div>
                    <a href="javascript:void(0)" ng-click="run(bk)" data-placement="right"
                       bs-tooltip="bk.query">
                        {{bk.name}}
                        <br>

                        <div class="pull-right">
                            <span ng-repeat="b in bk.tags" ng-click=" search = b " class="badge book-badge">{{b}}</span>
                        </div>

                    </a>


                </li>
            </ul>
        </div>
    </div>
</div>

</div>
