<div ng-controller="BookmarkController" class="bookmarks-container">
    <a class="bookmarks-folder" href="javascript:void(0)" ng-click="click()" >Bookmarks</a>
    <div class="row-fluid">
        <form class="form-search search-bookmarks">
            <input type="text" class="input-large search-query" ng-model="search"
                   placeholder="Search bookmarks">
        </form>
    </div>
    <div class="row-fluid">

        <ul class="nav nav-tabs nav-stacked bookmarks-list">
            <li class="bookmarks-item" ng-repeat="r in bookmarks | filter:search">
                <a href="javascript:void(0)" ng-click="run(r)" data-placement="right"
                   bs-tooltip="r.query">
                    {{r.name}}
                    <br>
                    <div class="pull-right">
                        <span ng-repeat="b in r.tags" class="badge book-badge">{{b}}</span>
                    </div>

                </a>

            </li>
        </ul>
    </div>

</div>

</div>
