sudo: false
language: java
cache:
  directories:
  - $HOME/.m2
install: true
script:
  - mvn clean test -Dmaven.test.redirectTestOutputToFile=true -P travis
  - mvn jacoco:report -P travis
branches:
  only:
  - develop
jdk:
  - openjdk11

after_success:
  - bash <(curl -s https://codecov.io/bash)
