<div class="container">
  <div class="row">
    <div class="col-md-7 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" style="text-align: center">Change Password</h3>
          <div class="panel-body">

            <form name "accountForm" role="form">
              <fieldset>
                <div class="form-group" ng-show="user.token==null">
                  <label for="usernameInput">Old Password</label>
                  <input class="form-control" placeholder="Old Password" ng-model="user.oldPassword" name="oldpassword" type="password" autofocus="">
                </div>

                <div class="form-group">
                  <label for="usernameInput">New Password</label>
                  <input class="form-control" placeholder="New Password" ng-model="user.password" name="password" type="password">
                </div>

                <div class="form-group">
                  <label for="usernameInput">Confirm Password</label>
                  <input class="form-control" placeholder="Confirm Password" ng-model="user.confirmPassword" name="confirmPassword" type="password">
                </div>

                <button type="submit" ng-click="changePassword()" ng-disabled="accountForm.$invalid" class="btn btn-primary">Change</button>
              </fieldset>
            </form>

          </div>

        </div>

      </div>
    </div>
  </div>