
<div class="panel">
  <div clas="row panel-heading">
    <button class="btn" ng-click="chart(issues)">Open/closed issues</button>
    <button class="btn" ng-click="chart(openClosedPerClient)">Issues per Client</button>
    <button class="btn" ng-click="chart(openClosedPerDevPerMonth)">Issues Month/Developer</button>
    <button class="btn" ng-click="chart(issuesPerDev)">Total Issues per Developer</button>
    <button class="btn" ng-click="chart(closedIssuesPerDev)">Total Closed Issues per Developer</button>
  </div>
  <div class="row panel-heading form-inline">
    <div class="col-md-2">
      <div class="form-group" ng-show="showClientOnly"><label class="control-label">Client only </label><input class="form-control" type="checkbox" ng-model="clientOnly"  ng-change="chart(currentChart)"/></div>
    </div>
    <div class="col-md-2">
      <div class="form-group" ng-show="showYear"><label class="control-label">Year </label><select class="form-control" ng-model="date.year" ng-options="year for year in years" ng-change="chart(currentChart)"/></div>
    </div>
    <div class="col-md-2">
      <div class="form-group" ng-show="showMonth"><label class="control-label">Month </label><select class="form-control" ng-model="date.month" ng-options="month for month in months" ng-change="chart(currentChart)"/></div>
    </div>
  </div>
  <div class="row">
    <h3 id="chart-title">{{chartTitle}}</h3>
    <div id="chart"></div>
  </div>
</div>
