<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <form ng-submit="search()">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" ng-model="query">
                </div>
            </form>
        </div>
        <div class="col-md-2">
            <a href="#/clients/new" class="btn btn-success">New Client</a>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default clients-panel">
            <div class="panel-heading text-center">Cients</div>

            <table class="table table-hover">
                <thead>
                <tr>
                    <td>
                        Client Id
                    </td>
                    <td>
                        Name
                    </td>
                    <td>
                        Support
                    </td>
                    <td>
                        Members
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="client in clients | filter:query">
                    <td>{{client.clientId}}</td>
                    <td><a href="#clients/{{client.clientId}}">
                        {{client.name}}</a></td>
                    <td>{{client.support}}</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
