<div class="container">
  <div class="row">
    <div class="col-md-7 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" style="text-align: center">Create an account</h3>
          <div class="panel-body">
            <form name "accountForm" role="form">
              <fieldset>
                <div class="form-group">
                  <label for="usernameInput">Username</label>
                  <input class="form-control" placeholder="Username" ng-model="user.name" name="username" type="text" autofocus="">
                </div>
                <div class="form-group">
                  <label>E-mail</label>
                  <input class="form-control" placeholder="E-mail" ng-model="user.email" name="email" type="email">
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input class="form-control" placeholder="Password" ng-model="user.password" name="password" type="password" value="">
                </div>
                <div class="form-group">
                  <label>Confirm password</label>
                  <input class="form-control" placeholder="Password" ng-model="user.confirmPassword" name="passwordConfirm" type="password"
                    value="">
                </div>
                <button type="submit" ng-click="createAccount()" ng-disabled="accountForm.$invalid" class="btn btn-primary">Create Account</button>
              </fieldset>
            </form>

          </div>

        </div>

      </div>
    </div>
  </div>