<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Please Sign In</h3>

          <div class="panel-body">
            <form role="form">
              <fieldset>
                <!--<div class="form-group">-->
                  <!--<input class="form-control" placeholder="E-mail" name="email" type="email" autofocus="">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                  <!--<input class="form-control" placeholder="Password" name="password" type="password" value="">-->
                <!--</div>-->
                <!--<div class="checkbox">-->
                  <!--<label>-->
                    <!--<input name="remember" type="checkbox" value="Remember Me">Remember Me-->
                  <!--</label>-->
                <!--</div>-->
                <!-- Change this to a button or input when using this as a form -->
                <a href="api/v1/github/login" class="btn btn-lg btn-success btn-block"><i class="fa fa-github"></i> Signup with
                  Github</a>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
