<div class="container">
  <div class="row">
    <div class="col-md-7 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" style="text-align: center">Please Sign In</h3>
          <div class="panel-body">
            <form role="form">
              <fieldset>
                <div class="form-group">
                  <label>Username</label>
                  <input class="form-control" placeholder="Username" ng-model="user.name" name="username" type="text" autofocus="">
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input class="form-control" placeholder="Password" ng-model="user.password" name="password" type="password" value="">
                </div>
                <div>
                  <p style="text-align: right">
                    <a href="#restore-password">Forgot password?</a>
                  </p>
                </div>
                <button type="submit" ng-click="login()" class="btn btn-primary">Login</button>
                <hr/>
                <div>
                  <p style="text-align: center">OR</p>
                </div>
                <a href="api/v1/github/login" class="btn btn-lg btn-success btn-block">
                  <i class="fa fa-github"></i> Signup with Github
                </a>
              </fieldset>
            </form>

          </div>

        </div>

      </div>
      <div>
        <p style="text-align: center">
          <a href="#create-account">Register</a> for a new account
        </p>
      </div>
    </div>
  </div>
</div>