<div class="container">
  <div class="row">
    <div class="col-md-7 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" style="text-align: center">Reset Password</h3>
          <div class="panel-body">
            <p>
              To reset your password, enter your username below and submit.
            </p>
            <hr/>
            <form name "accountForm" role="form">
              <fieldset>
                <div class="form-group">
                  <label for="usernameInput">Username</label>
                  <input class="form-control" placeholder="Username" ng-model="user.name" name="username" type="text" autofocus="">
                </div>

                <button type="submit" ng-click="restorePassword()" ng-disabled="accountForm.$invalid" class="btn btn-primary">Reset</button>
              </fieldset>
            </form>

          </div>

        </div>

      </div>
    </div>
  </div>