<nav class="sidebar-right">
  <ul class="nav nav-pills nav-stacked">
    <li ng-class="{ 'active' : client.clientId == clientId}" ng-repeat="client in clients | orderBy:'timestamp':true">
      <a href="#/rooms/{{client.clientId}}">
        <!--<span ng-show="client.timestamp > client.lastVisit"-->
                                                  <!--class="label label-success"><i class="fa fa-envelope-o"></i></span>-->
        <i class="fa fa-weixin" ng-class="{'fa-green' : client.timestamp > client.lastVisit}"></i> {{client.name}}</a>
    </li>
  </ul>
</nav>
<div class="container-fluid chat-container">
  <div class="row">

    <div class="chat-messages">
      <div class="new-chat" ng-show="isNew">
        <div class="btn-group">
          <a class="btn btn-success" ng-click="createChat()">
            Create Room for Client {{client.name}}
          </a>
        </div>
      </div>
      <div scroll-glue when-scrolled="loadMore()" class="chat-timeline" ng-show="!isNew">
        <div class="chat-group" ng-repeat="group in messages">
          <div class="col-md-1">
            <avatar dim="40" user="group.sender"></avatar>
          </div>
          <div class="col-md-11">
            <div class="row">
              <div class="col-md-12">
                <span class="chat-sender">{{group.sender.name}} - {{ group.date | fromNow}}</span>
              </div>
            </div>
            <div class="row" ng-repeat="message in group.messages">
              <div class="col-md-12">
                <div vue-editor ng-model="message.body"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="chat-input">
      <div class="row ">
        <div class="col-md-10">
          <footer>
            <form ng-submit="">
              <div vue-editor preview="false" placeholder="placeholder" on-send="sendMessage()"
                   ng-model="current"></div>
            </form>
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>
