<nav  class="sidebar-right sidebar-rooms">
  <ul class="nav nav-pills nav-stacked">
    <li ng-class="{ 'active' : client.clientId == clientId}" ng-repeat="client in clients | orderBy:'timestamp':true">
      <a href="#/rooms/{{client.clientId}}">
        <i class="fa fa-weixin" ng-class="{'fa-green' : client.timestamp > client.lastVisit}"></i> {{client.name}}</a>
    </li>
  </ul>
</nav>


<nav  id="roomsMobile" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation">
  <ul class="nav navmenu-nav">
    <li ng-class="{ 'active' : client.clientId == clientId}" ng-repeat="client in clients | orderBy:'timestamp':true">
      <a href="#/rooms/{{client.clientId}}" ng-click="closeMe()">
        <i class="fa fa-weixin" ng-class="{'fa-green' : client.timestamp > client.lastVisit}"></i> {{client.name}}</a>
    </li>
  </ul>
</nav>


<div class="container-fluid chat-container">


  <div class="row">

    <div class="chat-messages">
      <div class="new-chat" ng-show="isNew">
        <div class="btn-group">
          <a class="btn btn-success" ng-click="createChat()">
            Create Room for Client {{client.name}}
          </a>
        </div>
      </div>
      <div scroll-glue when-scrolled="loadMore()" class="chat-timeline container-fluid" ng-show="!isNew">
        <div class="chat-group row" ng-class-odd="'odd'" ng-repeat="group in messages">
          <div class="col-md-1 col-xs-12">
            <avatar dim="40" class="img-big" user="group.sender"></avatar>
            <avatar dim="20" class="img-small" user="group.sender"></avatar>
            <span class="chat-sender-mobile">
                {{group.sender.name}} - {{ group.date | formatDate}}</span>
          </div>
          <div class="col-md-11 col-xs-12">
            <span class="chat-sender">
              <div class="pull-right">
                {{group.sender.name}}
              </div>
              <br>
              {{ group.date | formatDate}}</span>

            <div class="row" ng-repeat="message in group.messages">
              <div class="col-md-9 col-xs-11 col-xs-offset-1 col-md-offset-0">
                <ng-include src="'views/room/message.html'"></ng-include>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="chat-input">
      <div class="row ">
        <div class="col-md-10">
          <footer>
            <form ng-submit="">
              <div vue-editor preview="false" placeholder="placeholder" on-send="sendMessage()"
                   ng-model="current"></div>
            </form>
          </footer>
        </div>
      </div>
    </div>

  </div>
</div>
