<div class="tabs tabs-style-linetriangle">
  <nav>
    <ul>
      <li class=""><a href="#section-linetriangle-1"><span>All Products</span></a></li>
      <li class="tab-current"><a href="#section-linetriangle-2"><span>Electronics</span></a></li>
      <li><a href="#section-linetriangle-3"><span>Clothing</span></a></li>
      <li><a href="#section-linetriangle-4"><span>Multimedia</span></a></li>
      <li><a href="#section-linetriangle-5"><span>Toys</span></a></li>
    </ul>
  </nav>
  <div class="content-wrap">
    <section id="section-linetriangle-1" class=""><p>1</p></section>
    <section id="section-linetriangle-2" class="content-current"><p>2</p></section>
    <section id="section-linetriangle-3"><p>3</p></section>
    <section id="section-linetriangle-4"><p>4</p></section>
    <section id="section-linetriangle-5"><p>5</p></section>
  </div><!-- /content -->
</div>
