<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <avatar dim="100" user="user" name="true"></avatar>
    </div>
    <div class="col-md-10">
      <div class="tabs tabs-style-linetriangle">
        <nav>
          <ul>
            <li ng-repeat="tab in tabs"
                ng-class="{'tab-current':isActiveTab(tab.url)}"
                ng-click="onClickTab(tab)"><a href="javascript:void(0)"><span>{{tab.title}}</span></a></li>
          </ul>
        </nav>
      </div>
      <div id="mainView">
        <div ng-include="currentTab"></div>
      </div>
    </div>
  </div>

</div>
