<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false">
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-mm-dd HH:mm:ss:SSS} %-5p %m [%c#%M]%n</pattern>
        </encoder>
    </appender>
  
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="com.orientechnologies.orient.unit" level="TRACE"/>
</configuration>
