<div class="panel panel-default">
  <div class="panel-heading">
    <b> Available Metrics </b>
    <div class="panel-actions">
      <div class="btn-group">
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <form class="form-search">
          <div class="input-group">
            <input type="text" class="input-xxlarge form-control search-query" name="searchText" [(ngModel)]="searchText"
              placeholder="Search metrics" focus="true">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default" ng-click="">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </form>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-condensed ng-table-responsive ">
            <thead>
              <tr>
                <th>Metric</th>
                <th>Description</th>
                <th>Unit of Measure</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let metric of metrics | filter : searchText : fields">
                <td>{{metric.name}}</td>
                <td>{{ metric.description }}</td>
                <td>{{ metric.unitOfMeasure }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>