<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a href="#home" class="brand brand2">&nbsp;</a>

            <div class="top-nav">
                <ul class="nav">
                    <li><a href="#/home"><span>{{ 'payoff' | i18n }}</span></a></li>
                </ul>
            </div>

            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-cog icon-white"></i> <span>{{ 'settings.label' | i18n }}</span> <b
                                class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#/settings/servers"><i class='icon-sitemap'></i> {{ 'settings.servers.label' |
                                i18n }}</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:;"><i class='icon-book'></i> {{ 'settings.help.label' | i18n }}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="logout">
                        <a href="#logout"><span class="icon-off icon-white"></span></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>