<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser
    today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better
    experience this site.</p>
<![endif]-->


<img alt="full screen background image"
     src="img/orient_home_bg.jpg" id="full-screen-background-image"/>

<div class="container-fluid monitor-app">
    <div class="row-fluid">
        <div class="span6 offset2 well">
            <legend data-i18n="mainmessage">{{ 'mainmessage' | i18n }}</legend>
            <p style="text-align: justify;" data-i18n="maindescription">{{ 'maindescription' | i18n }}</p>


			<div class="alert alert-error alert-setting" ng-show="errorMsg">
        			{{ errorMsg}}
    		</div>
            <form class="form-horizontal loginForm">

                <input type="text" id="input_username" class="span12" name="username" ng-model="username" placeholder="{{ 'username' | i18n }}">
                <input type="password" id="input_password" class="span12" name="password"  ng-model="password"
                       placeholder="{{ 'password' | i18n }}">
                </label>
                <button type="submit" name="submit" ng-click="login()" class="btn btn-primary btn-block">{{ 'signin' | i18n }}</button>
            </form>
        </div>
    </div>
</div>

