<div class="navbar-header" ng-show="logged">
    <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" ng-class="home()">
        <img src="img/orientdb_logo_final.png" alt="logo"/>

        <div class="enterprise-brand">
            <span>Enterprise Workbench</span>
        </div>
    </a>
</div>
<div class="collapse nav-collapse navbar-collapse navbar-ex1-collapse">
    <ul class="" ng-class="hideClass" ng-show="logged">
        <li class="hider">
            <!--<button class="pull-right btn-small" href="javascript:void(0)" ng-click="hideMenu(!hided)">-->
                <!--<i class="icon-align-justify"> </i>-->
            <!--</button>-->
        </li>
        <li ng-repeat="menu in menus" ng-class="{ active : menu == selectedMenu }">

            <a ng-click="navigate(menu)" bs-tooltip="{{ menu.i18n | i18n }}" data-toggle="tooltip"
               data-original-title="{{ menu.i18n | i18n }}" data-placement="right"
               href="javascript:void(0)">
                <i class="{{ menu.icon }}"></i>
                <span ng-show="!hided" class="menuTitle"> {{ menu.i18n | i18n }}</span>
                <span ng-class="{ selected : menu == selectedMenu }"></span>
            </a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right navbar-user">
        <li class="dropdown user-dropdown" ng-show="logged">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
                <i class="icon-user"></i>
                {{ username }}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">

                <li>
                    <a href="#/dashboard/settings">
                        <i class="icon-gear"> Settings</i>

                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click="changePassword()">
                        <i class="icon-download"> Change password</i>

                    </a>
                </li>
                <!--<li>-->
                <!--<a href="javascript:void(0)" ng-click="checkUpdates()">-->
                <!--<i class="icon-download"> Check for updates</i>-->

                <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#">-->
                <!--<i class="icon-info"> About-->
                <!--</i>-->
                <!--</a>-->
                <!--</li>-->
                <li>
                    <a href="javascript:void(0)" ng-click="gettingStarted()">
                        <i class="icon-info-sign"> Getting started</i>

                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click="helpHtml()">
                        <i class="icon-question-sign"> Help</i>

                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click="logout()">
                        <i class="icon-power-off"> Log Out</i>

                    </a>
                </li>

            </ul>
        </li>
    </ul>
</div>
<!--
<div  >

    <div class="row-fuid serverBox">

    </div>
    <div class="row-fluid">
        <nav class="navMenu">
            <ul class="nav nav-list">
                <li ng-repeat="menu in menus" ng-class="{ active : menu == selectedMenu }">
                    <a ng-click="navigate(menu)" href="javascript:void(0)">
                        <i class="{{ menu.icon }}"></i>
                        <span class="menuTitle"> {{ menu.i18n | i18n }}</span>
                        <span ng-class="{ selected : menu == selectedMenu }"></span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>-->
