<div class="row-fluid" ng-controller="NavController">
    <div class="row-fuid serverBox">
    </div>
    <div class="row-fluid">
        <nav class="navMenu">
            <ul class="nav nav-list">
                <li ng-repeat="menu in menus" ng-class="{ active : menu == selectedMenu }">
                    <a ng-click="navigate(menu)" href="javascript:void(0)">
                        <i class="{{ menu.icon }}"></i>
                        <span class="menuTitle"> {{ menu.i18n | i18n }}</span>
                        <span ng-class="{ selected : menu == selectedMenu }"></span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
