<div class="container-fluid" ng-controller="ClusterMainController">
  <div class="row-fluid title">
    <h3>
      <i class=" icon-sitemap"></i>
      {{ 'cluster.title' | i18n }}
      <a href="#/help/clustermgmt" style="text-decoration: none"><i class="icon-question-sign pull-right"></i></a>
    </h3>
  </div>

  <div class="row-fluid">
    <div ng-include src="'views/server/license.html'"></div>
  </div>
  <div class="row-fluid">
    <div ng-include src="'views/notification.html'"></div>
  </div>

  <div class="row-fluid well" style="width: 96%">
    <div class="span4">
      <form class="form-inline">
        <label for="cluster">{{ 'cluster.cluster' | i18n }}:</label>
        <select id="cluster" ng-model="cluster" class="span6 nomargin" ng-options="s.name for s in nodeClusters"
                data-placeholder="Pick a Cluster"></select>

        <button class="btn btn-small" ng-click="connect()" bs-tooltip="Connect"
                data-toggle="tooltip"
                data-original-title="Connect" data-placement="top"
                ng-show="cluster.status == 'DISCONNECTED'"><i
          class="icon-ok-circle"></i></button>
        <button class="btn btn-small" ng-click="disconnect()" bs-tooltip="Disconnect"
                data-toggle="tooltip"
                data-original-title="Disconnect" data-placement="top"
                ng-show="cluster.status == 'CONNECTED'"><i
          class="icon-off"></i></button>
        <button class="btn btn-small" bs-tooltip="Edit" data-toggle="tooltip"
                data-original-title="Edit" data-placement="top" ng-click="editCluster()"><i
          class="icon-edit"></i></button>
        <button class="btn btn-small" bs-tooltip="Delete" data-toggle="tooltip"
                data-original-title="Delete" data-placement="top"
                ng-click="deleteCluster()"><i class="icon-remove"></i></button>
      </form>
    </div>
    <div class="span8">
      <div class="span12">
        <div>
          <i class="icon-angle-right"></i> {{ 'cluster.status' | i18n }}: <b>{{cluster.status}}</b>
        </div>
        <div>
          <i class="icon-angle-right"></i> {{ 'cluster.port' | i18n }}: <b>{{cluster.port}}</b>
        </div>
        <div>
          <i class="icon-angle-right"></i> {{ 'cluster.multicast' | i18n }} : <b>{{cluster.multicast |
          tconfig}}</b>
        </div>
        <div>
          <i class="icon-angle-right"></i> {{ 'cluster.tcp' | i18n }} : <b>{{cluster.tcp | tconfig}}</b>
        </div>
      </div>

    </div>
  </div>

  <div class="row-fluid graph-server" servergraph ng-show="!db" ng-model="nodes"></div>
  <div class="row-fluid" ng-show="db">
    <!--<div class="span4 graph-db" dbgraph ng-model="dbConfig"></div>-->
    <div class="span12">
      <div class="row-fluid">
        <form class="form-inline well">
          <fieldset>
            <legend>{{'cluster.db.config' | i18n }} {{dbConfig.name}}</legend>

            <label>{{'cluster.writeQuorum' | i18n}}</label>
            <input type="text" class="input-medium" ng-change="change('writeQuorum')"
                   ng-model="dbConfig.config.writeQuorum">
            <label>{{'cluster.readQuorum' | i18n}}</label>
            <input type="text" class="input-medium" ng-change="change('readQuorum')"
                   ng-model="dbConfig.config.readQuorum">
            <br><br>
            <label class="checkbox">
              <input type="checkbox" ng-model="dbConfig.config.autoDeploy"
                     ng-change="change('autoDeploy')"> {{'cluster.autoDeploy' |
              i18n}}
            </label>
            <label class="checkbox">
              <input type="checkbox" disabled="true" ng-change="change('hotAlignment')"
                     ng-model="dbConfig.config.hotAlignment"> {{'cluster.hotAlignment' |
              i18n}}
            </label>
            <label class="checkbox">
              <input type="checkbox" ng-change="change('readYourWrites')"
                     ng-model="dbConfig.config.readYourWrites">
              {{'cluster.readYourWrites' | i18n}}
            </label>
            <label class="checkbox">
              <input type="checkbox" ng-change="change('failureAvailableNodesLessQuorum')"
                     ng-model="dbConfig.config.failureAvailableNodesLessQuorum">
              {{'cluster.failureAvailableNodesLessQuorum' | i18n}}
            </label>

          </fieldset>
        </form>
      </div>
      <div class="btn-toolbar pull-right">

        <button class="btn btn-small" ng-click="addCluster()" ng-disabled="cluster.status == 'DISCONNECTED'"><i
          class="icon-plus-sign"> {{ 'cluster.add' | i18n
          }}</i></button>
        <button class="btn btn-small" ng-click="saveConfig()" ng-disabled="cluster.status == 'DISCONNECTED'"><i
          class="icon-save"> {{ 'cluster.apply' | i18n
          }}</i></button>
      </div>
      <table class="clusterConfig table table-striped  table-hover table-condensed ">
        <thead>
        <tr>
          <th>#</th>
          <!--<th>#</th>-->
          <th ng-repeat="s in servers">{{s.name}}</th>
          <th>Remove Cluster Config</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="cluster in clusters">
          <td>
            <p ng-hide="cluster.isNew">{{cluster.name}}</p>
            <select ng-change="setDirtyCluster(cluster,physicalSelect)" ng-show="cluster.isNew"
                    ng-model="physicalSelect">
              <option value=""></option>
              <option ng-repeat="c in availableClusters" value="{{c.name}}">{{c.name}}
              </option>
            </select>
          </td>
          <td ng-repeat="s in servers"><input
            ng-change="changeServerConfig(cluster.name,s.name,serverChecked)" ng-model="serverChecked"
            ng-checked="matrix[cluster.name][s.name]"
            type="checkbox">
          </td>
          <td>
            <button class="btn btn-small" ng-click="removeCluster($index,cluster)"><i
              class="icon-remove-circle"></i></button>
          </td>
        </tr>
        <tr>
          <td></td>
          <td ng-repeat="s in servers">
            <button class="btn btn-small" ng-disabled="!deploy" ng-click="deployDb(s)"><i
              class="icon-save"> {{
              'cluster.db.deploy' | i18n
              }}</i></button>
            </button>
          </td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
