<div class="container-fluid" ng-controller="EventsNotifyController">
    <h3>

        <i class="icon-list"></i>
        Notification
    </h3>
    <hr>

    <div class="row-fluid">

        <ul>
            <li ng-repeat="  t in logs track by $index">
                <div>
                    {{logs[$index]}}

                </div>
                <br>
            </li>


        </ul>

        <hr>
        <button style="float: right; margin-bottom: 10px;" class="btn" ng-click="close()">Close</button>
    </div>


</div>