<div class="row-fluid" ng-controller="LogsController">
    <div class="span12">


        <!--una form a capo-->
        <!--<form class="form-inline form-search-width">-->
        <table class="form-search-width">
            <tr>

                <td>
                    Date from:
                </td>
                <td>
                    <div class="input-append">
                        <input type="text" data-date-format="dd/mm/yyyy" bs-datepicker ng-model="selectedDateFrom"
                                >
                        <a href="javascript:void(0)" class="btn" data-toggle="datepicker"> <i class="icon-calendar"></i>
                        </a>

                    </div>
                </td>
                <td>
                    Hour from:
                </td>
                <td>
                    <div class="input-append">
                        <input type="text" bs-timepicker ng-model="selectedHourFrom" ng-disabled="checkDateFrom()">
                        <a href="javascript:void(0)" class="btn" data-toggle="timepicker"> <i class="icon-time"></i>
                        </a>
                    </div>
                </td>
                <td>

                    Date to:
                </td>
                <td>
                    <div class="input-append">
                        <input type="text" data-date-format="dd/mm/yyyy" bs-datepicker ng-model="selectedDateTo"
                                >
                        <a href="javascript:void(0)" class="btn" data-toggle="datepicker"> <i class="icon-calendar"></i>
                        </a>

                    </div>
                </td>
                <td>
                    Hour to:
                </td>
                <td>
                    <div class="input-append">
                        <input type="text" bs-timepicker ng-model="selectedHourTo"
                                >
                        <a href="javascript:void(0)" class="btn" data-toggle="timepicker"> <i class="icon-time"></i>
                        </a>
                    </div>
                </td>

            </tr>

            <tr>
                <td>
                    Search in:
                </td>
                <td>
                    <div class="input-append">
                        <select ng-model="selectedFile" ng-options="t for t in files"
                                ng-change="selectType(selectedType)">
                        </select>
                        <a href="javascript:void(0)" class="btn" ng-click="clearType()"> <i class="icon-remove"></i>
                        </a>
                    </div>
                </td>

                <td>

                    Type:
                </td>
                <td>
                    <div class="input-append">
                        <select ng-model="selectedType" ng-options="t for t in types"
                                ng-change="selectType(selectedType)">
                            <option value=""></option>
                        </select>
                        <a href="javascript:void(0)" class="btn" ng-click="clearType()"> <i class="icon-remove"></i>
                        </a>
                    </div>
                </td>
                <td>
                    Info:
                </td>
                <td>
                    <div class="input-append">


                        <input type="text" ng-model="selectedSearch">
                        <a href="javascript:void(0)" class="btn" ng-click="clearSearch()"> <i class="icon-remove"></i>
                        </a>
                    </div>

                </td>
                <td>
                </td>
                <td>
                    <div>
                        <a href="javascript:void(0)" class="btn" ng-click="search()"> <i class="icon-search"></i>Search
                        </a>
                    </div>

                </td>
                <td>


                </td>


            </tr>


            <!--</form>-->
            <!--<br>-->
            <!--<form class="form-inline form-search-width_2">-->


            <!--</form>-->
        </table>
        <br>

        <div class="pagination">
            <ul>
                <li><a href="javascript:void(0)" ng-click="previous()">«</a></li>
                <li ng-class="{ 'active' : $index+1 == currentPage}" ng-repeat="c in numberOfPage track by $index">
                    <a
                            href="javascript:void(0)" ng-click="switchPage($index+1)">{{ $index+1 }}</a></li>
                <li><a href="javascript:void(0)" ng-click="next()">»</a></li>
            </ul>
            <select class="input-small pagination_limit" ng-model="countPage">
                <option ng-repeat="options in countPageOptions"> {{ options }}</option>
            </select>
        </div>
        <table class="table table-striped table-bordered table-hover table-condensed table-width align-left">
            <thead>
            <tr>
                <th>
                    Day
                </th>
                <th>
                    Hour
                </th>
                <th>
                    Type
                </th>
                <th>
                    File
                </th>
                <th>
                    Info
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="result in results">
                <td>
                    {{result['day']}}

                </td>
                <td>
                    {{result['hour']}}

                </td>
                <td>
                    {{result['type']}}

                </td>
                <td>
                    {{result['file']}}

                </td>
                <td>
                    {{result['info']}}

                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
</div>