<div class="container-fluid" ng-controller="EventsNotifyController">
    <h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <i class="icon-list"></i>
        Keyword Legend
    </h3>


    Use this keyword in a mail.
    <div class="row-fluid">

        <table class="table  table-hover pointer messages_table"
               style="width: 100%">


            <tbody>
            <tr>
                <td><span class="label">${server}</span></td>
                <td><span>The name of the server</span></td>
            </tr>
            <tr>
                <td><span class="label">${metric}</span></td>
                <td><span>The name of the metric;</span></td>
            </tr>
            <tr>
                <td><span class="label">${logvalue}</span></td>
                <td><span>The value of the log;</span></td>
            </tr>
            <tr>
                <td><span class="label">${parameter}</span></td>
                <td><span>The parameter of the metric (value, min, max, average,total,entries);</span></td>
            </tr>
            <tr>
                <td><span class="label">${metricvalue}</span></td>
                <td><span>The value of the metric;</span></td>
            </tr>
            <tr>
                <td><span class="label">${date}</span></td>
                <td><span>Timestamp of the alert;</span></td>
            </tr>
            </tbody>
        </table>


    </div>


</div>