<div class="container-fluid" ng-controller="MessagesController">
    <h3>
        <i class="icon-bell"></i>
        Messages
    </h3>
    <hr>
    <div ng-class="testMsgClass" ng-show="testMsg">
        <button type="button" class="close" onclick="$('.alert-setting').hide()">&times;</button>
        {{ testMsg }}
    </div>

    <div class="row-fluid">
        <div class="panel panel-default widget">

            <div class="btn-group">
                <a class="btn" href="javascript:void(0)">Actions</a>
                <a class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)" ng-click="checkAll(true)"><i class="icon-check"></i> Mark all
                        as read</a>
                    </li>
                    <li><a href="javascript:void(0)" ng-click="checkAll(false)"><i class="icon-remove"></i> Mark all
                        as
                        unread</a></li>
                    <li><a href="javascript:void(0)" ng-click="deleteAll()"><i class="icon-trash"></i> Delete
                        All</a></li>
                </ul>
            </div>

            <div class="panel-body">
                <div class="pagination">
                    <ul>
                        <li><a href="javascript:void(0)" ng-click="previous()">«</a></li>
                        <li ng-class="{ 'active' : $index+1 == currentPage}"
                            ng-repeat="c in numberOfPage track by $index">
                            <a
                                    href="javascript:void(0)" ng-click="switchPage($index+1)">{{ $index+1 }}</a></li>
                        <li><a href="javascript:void(0)" ng-click="next()">»</a></li>
                    </ul>
                    <select class="input-small pagination_limit" ng-model="countPage"
                            style="vertical-align: top;height: 40px; width: 50px; ">
                        <option ng-repeat="options in countPageOptions"> {{ options }}</option>
                    </select>

                    <div class="panel-heading" style="float: right;">
                        <span class="label label-info label-info-message">
                         {{countUnread}}/{{countAll}} Messages unread
                        </span>
                    </div>
                </div>
            </div>
            <br>
            <table class="table  table-hover pointer messages_table"
                   style="width: 100%">


                <tbody>
                <tr ng-repeat="message in msgs"
                    ng-class="{active : message['@rid']==selectedName['@rid'], 'unread' : !message.read}"
                    ng-click="openMessageText(message)">
                    <!--<div ng-class="{'read' : message.read, 'unread' : !message.read}">-->
                    </td>
                    <!--<td>Orient Technologies</td>-->
                    <td><span class="label pull-right">{{message['type']}}</span></td>
                    <td>{{message['subject']}}</td>
                    <td>{{message['date']}}</td>
                    <td>
                        <button type="button" ng-click="deleteMsg(message)"
                                class="btn btn-danger btn-small"> Delete
                            <i class="icon-trash"></i>
                        </button>
                        <button type="button" ng-click="deleteMsg(message)"
                                class="btn btn-success" style="background-color: #008000"
                                ng-show="{{message['type']=='update'|| message['type']=='chart'}}"> Install
                            <i class="icon-trash"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <br>

            <div class="messageText " ng-show="messageText!=null"
                 style="width: 100%; border: 1px solid #808080;min-height: 300px;text-align: justify">
                <label class="control-label">
                    <b> Subject: </b> {{ messageText['subject']}}
                </label>

                <label><b>Date:</b> {{messageText['date']}}</label>

                <label ng-bind-html-unsafe="messageText['message']"></label>
            </div>
        </div>
    </div>
</div>
</div>
</div>
