<div class="container-fluid" ng-controller="SettingsController">
    <h3>
        <i class=" icon-gear"></i>
        {{ 'dashboard.settings' | i18n }}
    </h3>
    <hr>

    <div class="row-fluid">
        <ul class="nav nav-tabs">
            <li ng-class="{ active : 'dashboard' == currentTab }"><a href="#home" ng-click="currentTab = 'dashboard'" data-toggle="tab">{{ 'dashboard' |
                i18n }}</a></li>
            <li ng-class="{ active : 'metrics' == currentTab }"><a href="#messages" ng-click="currentTab = 'metrics'" data-toggle="tab">{{
                'dashboard.metrics' | i18n }}</a></li>
        </ul>
    </div>

    <div class="row-fluid" ng-show="currentTab == 'metrics'">

        <div class="gridStyle" ng-grid="gridOptions"></div>

    </div>
</div>