<div class="row">

  <!-- <div *ngIf="!agentService.agent.active">
    <div class="col-md-12 studio-well-tips">
      <h4>This feature is available in OrientDB Enterprise Edition. To download OrientDB Enterprise Edition click <a href="http://orientdb.com/orientdb-enterprise/?#matrix" target='_blank'>here</a>.</h4>
    </div>
  </div> --> <!-- TODO reactivate the enterprise check -->

  <div>
    <form class="form-horizontal" id="etlForm" name="etlForm" #form="ngForm">
      <div id="stepSwitch" [ngSwitch]="getStep()">

        <div class="stepZero" *ngSwitchCase="'0'">
          <h3 align="center"><b>EXTRACT - TRANSFORM - LOAD</b></h3><br>
          <div style="height:500px">
            <div class="etl-intro">
              <div style="height: 150px"></div>
              <div class="col-md-6 text-center">
                <button class="btn btn-lg" (click)="setStep(1)" style="border-radius: 40px;">Start New Configuration</button>
              </div>
              <div class="col-md-6 text-center">
                <button class="btn btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" id="loadOldConfigs" style="border-radius: 40px;">
                  Load Old configuration
                </button>
                <!-- Dropdown menu -->
                <div class="dropdown-menu">
                  <li class="list-group-item list-group-item-info">   Old configuration selection   </li>
                  <div id="page-wrapper"><br>
                    <div class="text-center">
                      <h4>Select a valid json file:</h4><br><br>
                      <div class="col-sm-5 col-sm-offset-1">
                        <input type="file" id="fileInput" (click)=previewFile()>
                      </div><br><br>

                      <textarea id="fileDisplayArea" style="height: 100px" class="form-control" readonly></textarea><br>
                      <div class="col-md-12 text-center">
                        <button class="btn btn-default btn-sm" (click)="oldConfigInit(oldConfig)"
                                style="border-radius: 40px;" [disabled]="!importReady">Select current configuration</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="stepOne" *ngSwitchCase="'1'">
          <h3 align="center">Step 1 - Configure the Source</h3><br/>

          <div class="form-group">
            <label class="col-md-4 control-label">Source Type</label>
            <div class="col-md-4">
              <select class="form-control" name="source" [(ngModel)]="sourcePrototype.source.value" required>
                <option *ngFor="let sourceType of sourcePrototype.source.types" [value]="sourceType"> {{sourceType}} </option>
              </select>
            </div>
            <div class="col-md-4">
              <button type="button" class="btn btn-trasparent" data-toggle="popover" data-html="true"
                      [attr.data-content]="hints.sourceHint"><i class="fa fa-question-circle"></i>
              </button>
            </div>
          </div>

          <br><br><br>

          <!-- URL configuration -->
          <div class="form-group" *ngIf="sourcePrototype.source.value == 'url'">
            <label class="col-md-4 control-label">File URL</label>
            <div class="col-md-4">
              <input type="url" id="fileURL" class="form-control" name="fileURL" [(ngModel)]="sourcePrototype.fileURL"
                     placeholder="URL of your file" pattern="https?://.+" required/>

            </div>
            <div class="col-md-4">
              <button type="button" class="btn btn-trasparent" data-toggle="popover" data-html="true"
                      [attr.data-content]="hints.URLHint"><i class="fa fa-question-circle"></i>
              </button>
            </div>
            <br><br>
            <label class="col-md-4 control-label">HTTP Method</label>
            <div class="col-md-4">
              <select class="form-control" name="URLMethod" [(ngModel)]="sourcePrototype.URLMethod.value" required>
                <option *ngFor="let URLMethod of sourcePrototype.URLMethod.types" [selected]="URLMethod == 'GET'" [value]="URLMethod"> {{URLMethod}} </option>
              </select>
            </div>
            <div class="col-md-4">
              <button type="button" class="btn btn-trasparent" data-toggle="popover" data-html="true"
                      [attr.data-content]="hints.URLMethodHint"><i class="fa fa-question-circle"></i>
              </button>
            </div>
          </div>

          <!-- Local File configuration -->
          <div class="form-group" *ngIf="sourcePrototype.source.value == 'local file'">
            <label class="col-md-4 control-label">File Path</label>
            <div class="col-md-4">
              <input type="text" id="filePath" class="form-control" name="filePath" [(ngModel)]="sourcePrototype.filePath"
                     placeholder="Local path of your file" pattern="^(?:[\w]\:|\\)(\\[a-z_\-\s0-9\.]+)+\.?" required/>
            </div>
            <div class="col-md-4">
              <button type="button" class="btn btn-trasparent" data-toggle="popover" data-html="true"
                      [attr.data-content]="hints.pathHint"><i class="fa fa-question-circle"></i>
              </button>
            </div>
            <br><br>
            <label class="col-md-4 control-label">File Locking</label>
            <div class="col-md-4">
              <label>
                <input type="checkbox" name="fileLock" id="fileLock" class="checkbox" [(ngModel)]="sourcePrototype.fileLock">
              </label>
            </div>
            <div class="col-md-4">
              <button type="button" class="btn btn-trasparent" data-toggle="popover" data-html="true"
                      [attr.data-content]="hints.lockHint"><i class="fa fa-question-circle"></i>
              </button>
            </div>
          </div>
          <br>
          <div class="form-group">
            <div class="col-sm-offset-5 col-sm-10">
              <div class="btn-toolbar">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary" (click)="sourceInit()" [disabled]="!form.valid">Create modules</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="stepTwo" *ngSwitchCase="'2'">
          <h3 align="center">Step 2 - Configure the ETL Parameters</h3><br>
          <div class="col-md-8">
            <div class="panel panel-default" style="height:500px">
              <div class="panel-heading" align="center"><b>ETL OVERVIEW - CHOSEN SOURCE: {{sourcePrototype.source.value.toUpperCase()}}</b></div>
              <div class="panel-body">
                <div class="row">

                  <div class="col-sm-3">
                    <h3 align="center">Extractor
                      <button type="button" class="btn btn-trasparent" data-toggle="popover" data-html="true"
                              [attr.data-content]="hints.extractorHint"><i class="fa fa-question-circle"></i>
                      </button>
                    </h3>
                    <div class="row" style="text-align: center;">
                      <div class="btn-group">

                        <button class="btn btn-primary btn-md dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" id="createExtractor" style="border-radius: 50px;">
                          <b>+</b>
                        </button>
                        <!-- Dropdown menu, jdbc is shown only if selected as source -->
                        <div class="dropdown-menu">
                          <li class="list-group-item list-group-item-info">Extractor Type</li>
                          <button type="button" class="list-group-item list-group-item-action" (click)="extractorInit('jdbc')" *ngIf="sourcePrototype.source.value == 'jdbc'">jdbc</button>
                          <button type="button" class="list-group-item list-group-item-action" (click)="extractorInit('csv')" *ngIf="sourcePrototype.source.value != 'jdbc'">csv</button>
                          <button type="button" class="list-group-item list-group-item-action" (click)="extractorInit('json')" *ngIf="sourcePrototype.source.value != 'jdbc'">json</button>
                          <button type="button" class="list-group-item list-group-item-action" (click)="extractorInit('row')" *ngIf="sourcePrototype.source.value != 'jdbc'">row</button>
                          <button type="button" class="list-group-item list-group-item-action" (click)="extractorInit('xml')" *ngIf="sourcePrototype.source.value != 'jdbc'">xml</button>
                          <a class="list-group-item list-group-item-action flex-column align-items-start active" *ngIf="sourcePrototype.source.value == 'jdbc'">
                            <div class="d-flex w-100 justify-content-between">
                              <small>Hint:</small>
                            </div>
                            <p class="mb-1">You selected jdbc previously. You have to use a jdbc extractor.</p>
                            <small>Please make sure that your jdbc driver is in classpath or in lib folder.</small>
                          </a>
                        </div>
                      </div>
                      <br><br><br>
                      <div class="row">
                        <h5 id="pleaseExtractor" align="center"><b>Please create an extractor</b></h5>
                        <div id="extractorSpace" style="height: 300px"></div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <h3 align="center">Transformers
                      <button type="button" class="btn btn-trasparent" data-toggle="popover" data-html="true"
                              [attr.data-content]="hints.transformerHint"><i class="fa fa-question-circle"></i>
                      </button>
                    </h3>
                    <div class="row" style="text-align: center;">
                      <div class="btn-group">

                        <button class="btn btn-primary btn-md dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" id="createTransformer" style="border-radius: 50px;">
                          <b>+</b>
                        </button>
                        <!-- Dropdown menu -->
                        <div class="dropdown-menu">
                          <li class="list-group-item list-group-item-info">Transformer Type</li>

                          <!-- csv transformer is deprecated -->
                          <!--<button type="button" class="list-group-item list-group-item-action" (click)="transformerInit('block')">block</button>-->
                          <!-- <button type="button" class="list-group-item list-group-item-action" (click)="transformerInit('code')">code</button> -->
                          <button type="button" class="list-group-item list-group-item-action" (click)="transformerInit('command')">command</button>
                          <button type="button" class="list-group-item list-group-item-action" (click)="transformerInit('edge')">edge</button>
                          <button type="button" class="list-group-item list-group-item-action" (click)="transformerInit('flow')">flow</button>
                          <button type="button" class="list-group-item list-group-item-action" (click)="transformerInit('field')">field</button>
                          <button type="button" class="list-group-item list-group-item-action" (click)="transformerInit('link')">link</button>
                          <button type="button" class="list-group-item list-group-item-action" (click)="transformerInit('log')">log</button>
                          <button type="button" class="list-group-item list-group-item-action" (click)="transformerInit('merge')">merge</button>
                          <button type="button" class="list-group-item list-group-item-action" (click)="transformerInit('vertex')">vertex</button>
                        </div>
                      </div>
                      <br><br><br>
                      <div class="row">
                        <h5 id="pleaseTransformer" align="center"><b>Please create at least one transformer</b></h5>
                        <div id="transformerSpace" style="height: 300px"></div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <h3 align="center">Loader
                      <button type="button" class="btn btn-trasparent" data-toggle="popover" data-html="true"
                              [attr.data-content]="hints.loaderHint"><i class="fa fa-question-circle"></i>
                      </button>
                    </h3>
                    <div class="row" style="text-align: center;">
                      <div class="btn-group">

                        <button class="btn btn-primary btn-md dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" id="createLoader" style="border-radius: 50px;">
                          <b>+</b>
                        </button>
                        <!-- Dropdown menu -->
                        <div class="dropdown-menu">
                          <li class="list-group-item list-group-item-info">Loader Type</li>

                          <button type="button" class="list-group-item list-group-item-action" (click)="loaderInit('log')">log</button>
                          <button type="button" class="list-group-item list-group-item-action" (click)="loaderInit('orientDb')">OrientDB</button>
                        </div>
                      </div>
                    </div>
                    <br><br>
                    <div class="row">
                      <h5 id="pleaseLoader" align="center"><b>Please create a loader</b></h5>
                      <div id="loaderSpace" style="height: 300px"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="panel panel-info" style="overflow:auto; height:500px">
              <div class="panel-heading" align="center"><b>PARAMETER CONFIGURATION</b></div>
              <div class="panel-body">
                <div id="panelPlaceholder"><br><br><br><br><br><br><br><h4 align="center"><b>PARAMETERS CONFIGURATION PANEL<br>
                </b></h4> <br><br><br><br><br><br><br><br> </div>

                <!-- Extractor advanced configuration -->
                <div id="extractorOptions" style="display:none">

                  <div *ngIf="extractorType && eKeys">
                    <h5 align="center"><b>{{extractorType.toUpperCase()}} EXTRACTOR OPTIONS</b></h5><br>
                    <div *ngIf="eKeys.length == 0">
                      <br><br><br><h6 align="center" style="color:red;">This module hasn't configurable parameters</h6>
                    </div>

                    <div *ngFor="let eParameter of eKeys;">
                      <button type="button" class="btn btn-trasparent" data-toggle="popover" data-html="true"
                              [attr.data-content]="hints.extractor[eParameter]"><i class="fa fa-question-circle"></i>
                      </button>
                      <label *ngIf="extractorPrototype[extractorType][eParameter]['mandatory'] == true">
                        &emsp;{{eParameter.toUpperCase()}} <b style="color:red;">*</b>
                      </label>
                      <label *ngIf="extractorPrototype[extractorType][eParameter]['mandatory'] == false">
                        &emsp;{{eParameter.toUpperCase()}}
                      </label>

                      <select *ngIf="extractorPrototype[extractorType][eParameter]['types']" class="form-control"
                              name="eTypeConfig-{{eParameter}}" [(ngModel)]="extractor[extractorType][eParameter]" (ngModelChange)="readyForExecution()">
                        <option *ngFor="let eType of extractorPrototype[extractorType][eParameter]['types']" [value]="eType">
                          {{eType}}
                        </option>
                      </select>

                      <input *ngIf="!extractorPrototype[extractorType][eParameter]['types']" type="text" class="form-control" name="eTextConfig-{{eParameter}}"
                             [(ngModel)]="extractor[extractorType][eParameter]" placeholder="enter your value" (ngModelChange)="readyForExecution()"/>
                      <br>

                    </div>
                  </div><br><br>
                  <div class="col-md-12 text-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-xs btn-danger" (click)="deleteExtractor()">Delete Extractor</button>
                    </div>
                  </div>
                </div>

                <!-- Transformer advanced configuration -->
                <div id="transformerOptions" style="display:none">

                  <div *ngIf="getTransformerType(currentTransformer) && tKeys">
                    <h5 align="center"><b>{{getTransformerType(currentTransformer).toUpperCase()}} TRANSFORMER OPTIONS</b></h5><br>
                    <div *ngIf="tKeys.length == 0">
                      <br><br><br><h6 align="center" style="color:red;">This module hasn't configurable parameters</h6>
                    </div>

                    <div *ngFor="let tParameter of tKeys">
                      <button type="button" class="btn btn-trasparent" data-toggle="popover" data-html="true"
                              [attr.data-content]="hints.transformer[tParameter]"><i class="fa fa-question-circle"></i>
                      </button>
                      <label *ngIf="transformerPrototype[getTransformerType(currentTransformer)][tParameter]['mandatory'] == true">
                        &emsp;{{tParameter.toUpperCase()}} <b style="color:red;">*</b>
                      </label>
                      <label *ngIf="transformerPrototype[getTransformerType(currentTransformer)][tParameter]['mandatory'] == false">
                        &emsp;{{tParameter.toUpperCase()}}
                      </label>

                      <select *ngIf="transformerPrototype[getTransformerType(currentTransformer)][tParameter]['types']" class="form-control"
                              name="tTypeConfig-{{tParameter}}" [(ngModel)]="currentTransformer[getTransformerType(currentTransformer)][tParameter]"
                              (ngModelChange)="readyForExecution()">
                        <option *ngFor="let tType of transformerPrototype[getTransformerType(currentTransformer)][tParameter]['types']" [value]="tType">
                          {{tType}}
                        </option>
                      </select>

                      <input *ngIf="!transformerPrototype[getTransformerType(currentTransformer)][tParameter]['types']" type="text" class="form-control"
                             name="tTextConfig-{{tParameter}}" [(ngModel)]="currentTransformer[getTransformerType(currentTransformer)][tParameter]"
                             placeholder="enter your value" (ngModelChange)="readyForExecution()"/>
                      <br>

                    </div>
                  </div><br><br>
                  <div class="col-md-12 text-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-xs btn-danger" (click)="deleteTransformer()">Delete Transformer</button>
                    </div>
                  </div>
                </div>

                <!-- Loader advanced configuration -->
                <div id="loaderOptions" style="display:none">

                  <div *ngIf="loaderType && lKeys">
                    <h5 align="center"><b>{{loaderType.toUpperCase()}} LOADER OPTIONS</b></h5><br>
                    <div *ngIf="lKeys.length == 0">
                      <br><br><br><h6 align="center" style="color:red;">This module hasn't configurable parameters</h6>
                    </div>

                    <div *ngFor="let lParameter of lKeys">
                      <button type="button" class="btn btn-trasparent" data-toggle="popover" data-html="true"
                              [attr.data-content]="hints.loader[lParameter]"><i class="fa fa-question-circle"></i>
                      </button>
                      <label *ngIf="loaderPrototype[loaderType][lParameter]['mandatory'] == true">
                        &emsp;{{lParameter.toUpperCase()}} <b style="color:red;">*</b>
                      </label>
                      <label *ngIf="loaderPrototype[loaderType][lParameter]['mandatory'] == false">
                        &emsp;{{lParameter.toUpperCase()}}
                      </label>

                      <select *ngIf="loaderPrototype[loaderType][lParameter]['types']"
                              class="form-control" name="lTypeConfig-{{lParameter}}" [(ngModel)]="loader[loaderType][lParameter]">
                        <option *ngFor="let lType of loaderPrototype[loaderType][lParameter]['types']" [value]="lType" (ngModelChange)="readyForExecution()">
                          {{lType}}
                        </option>
                      </select>

                      <input *ngIf="!loaderPrototype[loaderType][lParameter]['types']" type="text" class="form-control" name="lTextConfig-{{lParameter}}"
                             [(ngModel)]="loader[loaderType][lParameter]" placeholder="enter your value" (ngModelChange)="readyForExecution()"/>
                      <br>

                    </div>
                  </div><br><br>
                  <div class="col-md-12 text-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-xs btn-danger" (click)="deleteLoader()">Delete Loader</button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <br><br><br><br>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
              <div class="btn-toolbar">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary" (click)="setStep('1'); reset()">Back</button>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary" (click)="launch()" [disabled]="!ready">Run Etl</button>
                </div>
                <h5>&emsp;&emsp;&emsp;<b style="color:red;">*</b><b style="color:grey;"> means that the parameter is mandatory for a correct configuration.</b></h5>
              </div>
            </div>
          </div>
        </div>

        <div class="stepThree" *ngSwitchCase="'3'">
          <h3 align="center">Step 3 - Monitor the Execution</h3>
          <h4 align="center">Console Log
            <button type="button" class="btn btn-trasparent" data-toggle="popover" data-html="true"
                    [attr.data-content]="hints.executionHint"><i class="fa fa-question-circle"></i>
            </button>
          </h4>
          <div class="row row-space-2x">
            <div class="col-md-12">
              <textarea  #logArea class="form-control" id="logArea" name="logArea" rows="10" readonly>

              </textarea> <!-- TODO object containing the log, finalJson is just a placeholder -->
            </div>
            <div class="col-md-12"><br><br>
              <textarea  #sourceArea class="form-control" id="sourceArea" name="sourceArea" rows="10" readonly style="display:none">
                {{finalJson}}
              </textarea>
            </div>
          </div>
          <br><br>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="btn-toolbar">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary" (click)="setStep(0); reset()">Restart</button>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary" (click)="showSource()">Show Source</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
