<div class="popover milestone-popover" ng-controller="ChangeMilestoneCtrl">
  <div class="arrow"></div>
  <h3 class="popover-title">Change target milestone</h3>

  <div class="popover-content">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Filter milestones">
      </div>
    </form>
    <hr class="milestone-popover-divider"/>
    <ul class="milestones-group">
      <li class="milestone-item" ng-click="toggleMilestone(milestone)"
          ng-class="{ 'milestone-selected' : isMilestoneSelected(milestone)  }"
          ng-repeat="milestone in milestones">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-1 text-center">
              <i class="fa fa-check-circle-o" ng-show="isMilestoneSelected(milestone)"></i>
            </div>
            <div class="col-md-9">
              <span class="color" style="background-color: #{{label.color}}"></span>
              <span>{{milestone.title}}</span>
            </div>
            <div class="col-md-1 text-center">
              <i class="fa fa-times-circle-o" ng-show="isMilestoneSelected(milestone)"></i>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
