<div class="row-fluid" ng-show="timeline.length >1">
    <div class="span6">
        <form class="form-search search-history">
            <div class="input-append">
                <input type="text" class="input-xxlarge search-query" ng-model="search.query"
                       placeholder="Search history">
                <button type="submit" class="btn" ng-click="clear()">
                    <i class="icon-trash"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<div id="fixed" when-scrolled="loadMore()">
    <div class="row-fluid" ng-animate="'animate'" ng-repeat="item in timeline | filter:search">
        <div ng-include="'views/database/query.html'"></div>
    </div>
</div>

