<div class="popover popover-lg popover-help">
    <div class="arrow"></div>
    <div class="popover-content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="query-hint">
                        <b>Run:</b>
                        Ctrl/Cmd + Return
                        <b>Undo:</b>
                        Ctrl/Cmd + Z
                        <b>Redo:</b>
                        Ctrl/Cmd + Shift + Z
                        <br>
                        <!--<b class="clear-hint">Hint:</b>-->
                        <!--You can select-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>