<div ng-controller="DocumentModalController">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>Edit {{rid}}</h3>
	</div>
	<div class="modal-body document">
		<ng-include src="'views/database/record.html'">
		</ng-include>
	</div>
	<div class="modal-footer">
	<button type="button" class="btn pull-left" data-placement="right" bs-popover="'views/database/newFieldPopOver.html'">Add Field</button>
	<button type="button" class="btn" ng-click="hide()">Close</button>
	<button class="btn btn-primary" ng-click="modal.saved=true;hide();save()">Save changes</button>
	</div>
</div>