<div ng-controller="PluginsController">


  <div class="col-md-12" ng-show="!agentActive">
    <div class="col-md-12 studio-well-tips">
      <h4 ng-bind-html=" 'agent.notFound' | translate:links "></h4>
    </div>
  </div>
  <div class="row row-space">


  </div>


  <div class="col-md-12" ng-show="noPlugins">
    <div class="col-md-12 studio-well-tips">
      <h4 ng-bind-html=" 'agent.pluginsNotFound' | translate:links "></h4>
    </div>
  </div>


  <div ng-show="agentActive && !noPlugins" class="col-md-12">

    <tabset clazz="clazz">
      <tab ng-repeat="plugin in plugins" context="plugin" title="{{plugin.name}}"
           template-url=" {{pluginTemplate(plugin)}}"></tab>
    </tabset>
  </div>

  <div ng-show="agentActive && !noPlugins" class="row row-space">
    <div class="col-md-6 col-md-offset-3">
      <div class="pull-right">
        <button class="btn btn-sm btn-primary" ng-click="saveConfiguration()"><i
          class="fa fa-save"></i> Save config
        </button>
        <button class="btn btn-sm btn-warning" ng-click="applyAll()"><i
          class="fa fa-sitemap"></i> Save config in all Servers
        </button>
      </div>
    </div>
  </div>
</div>
