<div ng-controller="DbConfigController" class="container-fluid db-config">

    <div class="row">
        <div class="col-md-12">
            <div class="btn-toolbar pull-right">
                <div class="btn-group">
                    <button type="submit" class="btn" ng-click="save()">
                        <i class="fa fa-save"></i> Save
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                <th>Name</th>
                <th>Value</th>
                </thead>
                <tbody>
                <tr ng-repeat="val in values">
                    <td>{{ val.name }}
                        <a ng-show="links[val.name]" href="javascript:void(0)" tabindex="1"
                           data-trigger="focus" data-placement="right"
                           data-container="body"
                           data-content="{{ 'configuration.'  + val.name | translate:links }}" bs-popover>
                            <i class="fa fa-question-circle"></i>
                        </a>
                    </td>
                    <td>
                        <ng-include src="getRender(val)"></ng-include>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Custom Properties</h3>
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                <th>Name</th>
                <th>Value</th>
                </thead>
                <tbody>
                <tr ng-repeat="val in properties">
                    <td>{{ val.name }}
                        <a ng-show="links[val.name]" href="javascript:void(0)" tabindex="1"
                           data-trigger="focus" data-placement="right"
                           data-container="body"

                           data-content="{{ 'configuration.'  + val.name | translate:links }}" bs-popover>
                            <i class="fa fa-question-circle"></i>
                        </a>
                    </td>
                    <td>
                        <ng-include src="getRender(val)"></ng-include>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>