/* Space out content a bit */
html {
  height: 100%;
}

body {
  padding-bottom: 20px;
  height: 100%;
  /*background: #edeff0;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  color: #34495e;
}

.app-container, .app-view {
  height: 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 5px;
  text-align: center;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  .sidebar {
    width: 70px;
  }

  .sidebar-right {
    width: 200px;
    top: 50px;
  }

  .app-view {
    margin-left: 70px;
    margin-top: 60px;
  }

  .app-view > .container-fluid {
    padding-bottom: 40px;
  }

  .footer {

  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #f5f5f5;
  }

  .board-member {
    margin-top: 20px;
  }

  .board-member .selected-member .avatar-container {
    padding: 7px;
  }

  .panel-milestone {
    max-height: 200px;
    overflow: auto;
  }
}

.sidebar-right .nav-pills > li.active > a, .sidebar-right .nav-pills > li > a:hover {
  text-decoration: none;
  background-color: #eee;
}

.sidebar-right .nav li > a:hover {
  color: #60676d;
}

.sidebar-right .nav li:first-child > a {
  margin-top: 5px;
}

.sidebar-right .nav li > a {
  text-align: left;
  margin: 0px;
  padding: 2px 10px;
  color: white;
}

.sidebar-right .nav li.active > a {
  color: #60676d;
}

.sidebar-right {
  position: fixed;
  background: #384047;
  overflow: auto;
  right: 0;
  bottom: 0;
  z-index: 1031;
}

.sidebar {
  position: fixed;
  background: #384047;
  top: 0;
  bottom: 0;
  z-index: 1031;
}

.app .navbar-default {
  background: #edeff0;
}

.sidebar .nav li > a {
  text-align: center;
  margin: 10px;
  padding: 10px 10px;
  color: #60676d;

}

.issue-sidebar .issue-label {
  text-align: center;

}

.issue-sidebar .issue-label .label {
  width: 80%;
  display: inline-block;
}

.issue-sidebar .milestone .label {
  width: 80%;
  display: inline-block;
}

.issue-sidebar .milestone {
  text-align: center;
}

.issue-sidebar .btn-transparent {
  width: 100%;
  text-align: left;
}

.btn-transparent {
  background-color: transparent;
}

.edit-issue .panel {
  margin-bottom: 0px;
}

.edit-issue .event {
  margin-left: 20px;
  padding: 10px;
  border-left: 2px solid #f3f3f3;
}

.edit-issue .comment {
  padding: 10px;
}

.panel-heading .nav-pills > li > a {
  padding: 5px 10px;
}

.my-panel .panel-title {
  padding-top: 5px;
}

.issues-panel .issue-open {
  color: #5cb85c;
}

.issues-panel .issue-closed {
  color: #d9534f;
}

.issue-open {
  color: #5cb85c;
}

.issue-closed {
  color: #d9534f;
}

.label-sequence {
  margin: 2px;
}

.issues-panel .list-group-item .issue-info {
  color: #999;
}

.issues-panel .list-group-item-heading a {
  color: #000000;

}

.issues-panel .list-group-item-heading span.label {
  margin-left: 2px;
  margin-right: 2px;
}

.issues-panel .label-column span.label {
  margin-left: 2px;
  margin-right: 2px;
}

.issues-panel .list-group-item-heading a:hover {
  color: #428bca;
  text-decoration: none;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
}

.events-list .event {
  border-top: 1px solid #f3f3f3;
}

.events-list .event .fa {

  position: relative;
  left: -27px;
  width: 32px;
  height: 32px;
  line-height: 28px;
  color: #666;
  text-align: center;
  background-color: #f3f3f3;
  border: 2px solid #fff;
  border-radius: 50%;
}

.avatar-image {
  border-radius: 100%;
}

.avatar-container {
  display: inline-block;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.issue-assignee .issue-assignee-avatar {
  padding-left: 15px;
}

.issue-assignee .issue-assignee-avatar {
  text-align: center;
}

.edit-issue .state h3 {
  margin: 0px;
}

.inline-block {
  display: inline-block;
}

textarea.vue-editor {
  border: none;
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  background-color: #f6f6f6;
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
  padding: 20px;
}

code {
  color: #f66;
}

.areas-panel .panel span {
  cursor: pointer;
  display: inline-block;
  margin: 0px 5px;
}

.panel-comment .btn-group {
  margin: 0 2px;
}

.panel-comment .btn-group button {
  border-radius: 3px !important;
}

span.label-dark {
  color: #000000;
}

.issues-panel span.label {
  border-radius: 2px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.12);
}

.events-list span.label {
  border-radius: 2px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.12);
}

.chat-messages {
  position: relative;
  height: 90%;
  display: block;
  width: 100%;
  vertical-align: bottom;
}

.chat-timeline {
  position: absolute;
  bottom: 0;
  height: 90%;
  padding-bottom: 10px;
  overflow: auto;
  width: 83%;
}

.chat-input {
  height: 10%;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  background-color: white;
  min-height: 70px;
  /*border-top: 1px solid rgba(0, 0, 0, .05);*/
}

.chat-container > .row {
  height: 100%;
}

.chat-container {
  height: 100%;
  margin-top: -60px;
}

.new-chat {
  padding-top: 60px;
}

.chat-timeline .mkd-preview > p {
  margin: 0;
}

.chat-sender {
  color: #aaa;
  position: absolute;
  right: 30px;
}

.chat-group .chat-group-msg > div:first-child
.chat-group > div {
  margin-bottom: 10px;
}

.chat-group.odd {
  background-color: rgb(237, 239, 240);
  border-radius: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.fa-green {
  color: #5cb85c;
}

.main-header .container-fluid h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.edit-msg-container {
  position: relative;
}

.edit-msg {
  position: absolute;
}

.edit-msg-remove {
  position: absolute;
  right: 10px;
}

.icon-red {
  background-color: #bd2c00 !important;
  color: white !important;
}

.icon-green {
  background-color: #6cc644 !important;
  color: white !important;
}

.announcement-item hr {
  margin-bottom: 5px;
  margin-top: 5px;
}

.announcement-item .announcement-item-body .mkd-preview p {
  display: none;
}

.announcement-item .announcement-item-body .mkd-preview p:first-child {
  display: inherit;
}

.attachment-name {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.attachment-group-item {
  padding: 5px 10px;
}

.message-banner {
  position: fixed;
  height: 26px;
  line-height: 18px;
  background: #dfa941;
}


.chat-down {
  text-align: center;
  position: fixed;
  top: 0;
  left: 70px;
  width: 100%;
  height: 100%;
  z-index: 3000;
  background-color: rgba(0, 0, 0, 0.92);
  opacity: .6;
}
