.label-popover {
  width: 300px;
}

.version-popover {
  width: 300px;
}

.milestone-popover {
  width: 300px;
}

.assignee-popover {
  width: 300px;
}

.priority-popover {
  width: 300px;
}
.scope-popover {
  width: 300px;
}
.client-popover {
  width: 300px;
}
.environment-popover  {
  max-width: 400px;
  width: 400px;
}
.environment-edit-popover {
  max-width: 500px;
  width: 500px;
}
.environment-popover .form-group{
  margin: 0px;
}
.environment-popover .form-horizontal .control-label{
  padding-top: 2px;
}
.environment-popover .form-group .form-control-static{
  padding-bottom: 2px;
  padding-top: 2px;
}
/*.environment-popover .popover-content {*/
  /*width: 400px;*/
/*}*/

.version-popover .form-group {
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.milestone-popover .form-group {
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.assignee-popover .form-group {
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.label-popover .form-group {
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.priority-popover .form-group {
   margin-top: 15px;
   padding-left: 15px;
   padding-right: 15px;
 }
.scope-popover .form-group {
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.client-popover .form-group {
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.label-popover-divider {
  margin-top: 0px;
  margin-bottom: 0px;
}

.version-popover-divider {
  margin-top: 0px;
  margin-bottom: 0px;
}

.milestone-popover-divider {
  margin-top: 0px;
  margin-bottom: 0px;
}

.assignee-popover-divider {
  margin-top: 0px;
  margin-bottom: 0px;
}

.priority-popover-divider {
  margin-top: 0px;
  margin-bottom: 0px;
}
.scope-popover-divider {
  margin-top: 0px;
  margin-bottom: 0px;
}
.client-popover-divider {
  margin-top: 0px;
  margin-bottom: 0px;
}


/* TAB Style*/


.tabs nav {
  text-align: center;
}
.tabs {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  font-weight: 300;
  font-size: 1.25em;
}
.tabs nav ul {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  list-style: none;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.tabs nav ul li {
  position: relative;
  z-index: 1;
  display: block;
  margin: 0;
  text-align: center;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.tabs nav li.tab-current a {
  color: #2CC185;
}
.tabs-style-linetriangle nav li.tab-current a:before {
  margin-left: -11px;
  border-width: 11px;
  border-top-color: rgba(0,0,0,0.2);
}
.tabs-style-linetriangle nav a span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1em;
}
.tabs nav a span {
  vertical-align: middle;
  font-size: 0.75em;
}
.tabs-style-linetriangle nav li.tab-current a:after {
  margin-left: -10px;
  border-width: 10px;
  border-top-color: #e7ecea;
}
.tabs-style-linetriangle nav li.tab-current a:after, .tabs-style-linetriangle nav li.tab-current a:before {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border: solid transparent;
  content: '';
  pointer-events: none;
}
.tabs-style-linetriangle nav a {
  overflow: visible;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.tabs nav a {
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2.5;
  color: #74777b;
  text-decoration: none;
  outline: none;
}

.labels-group,.milestones-group,.versions-group {
  max-height: 400px;
  overflow: auto;
  position: relative;
}

.mkd-preview {
  overflow: auto;
}
