<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Orient ODBMS Server configuration -->
<orient-server>
    <network>
        <protocols>
             <protocol name="binary" implementation="com.orientechnologies.orient.server.network.protocol.binary.ONetworkProtocolBinary" />
        </protocols>             
        <listeners>
             <listener ip-address="127.0.0.1" port="8000" protocol="binary" />
        </listeners>
    </network>
    <storages>
        <storage name="petshop" path="${ORIENT_HOME}/databases/petshop/petshop" />
    </storages>
    <properties/>
</orient-server>
