<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<orient-server>
    <location>config/orient-server.config</location>
    <network>
        <protocols>
            <protocol implementation="com.orientechnologies.orient.server.network.protocol.binary.ONetworkProtocolBinary" name="binary"/>
        </protocols>
        <listeners>
            <listener protocol="binary" port-range="8000" ip-address="127.0.0.1"/>
        </listeners>
    </network>
    <storages>
        <storage path="${ORIENT_HOME}/databases/petshop/petshop" name="petshop"/>
    </storages>
    <properties/>
</orient-server>
