<div class="popover assignee-popover" ng-controller="ChangeAssigneeCtrl">
  <div class="arrow"></div>
  <h3 class="popover-title">{{title}}</h3>

  <div class="popover-content">
    <form ng-submit="selectFirst()">
      <div class="form-group">
        <input autofocus type="text" class="form-control" ng-model="filter"  placeholder="Filter users">
      </div>
    </form>
    <hr class="assignee-popover-divider"/>
    <ul class="assignees-group">

      <li class="assignee-item" ng-click="toggleAssignee(null)">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 text-center">
              <i class="fa fa-remove"> Remove Assignee</i>
            </div>
          </div>
        </div>
      </li>
      <li class="assignee-item" ng-click="toggleAssignee(assignee)"
          ng-class="{ 'assignee-selected' : isAssigneeSelected(assignee)  }"
          ng-repeat="assignee in assignees | filter:filter">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-1 text-center">
              <i class="fa fa-check-circle-o" ng-show="isAssigneeSelected(assignee)"></i>
            </div>
            <div class="col-md-9">
              <avatar dim="20" name="true" user="assignee"></avatar>
            </div>
            <div class="col-md-1 text-center">
              <i class="fa fa-times-circle-o" ng-show="isAssigneeSelected(milestone)"></i>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
