<div class="popover client-popover" ng-controller="ChangeClientCtrl">
  <div class="arrow"></div>
  <h3 class="popover-title">Change client</h3>

  <div class="popover-content">
    <form ng-submit="selectFirst()">
      <div class="form-group">
        <input autofocus type="text" class="form-control" placeholder="Filter client" ng-model="queryClient">
      </div>
    </form>
    <hr class="client-popover-divider"/>
    <ul class="clients-group">
      <li class="client-item" ng-click="toggleClient(client)"
          ng-class="{ 'client-selected' : isClientSelected(client)  }"
          ng-repeat="client in clients | filter:queryClient">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-1 text-center">
              <i class="fa fa-check-circle-o" ng-show="isClientSelected(client)"></i>
            </div>
            <div class="col-md-9">
              <span class="color" style="background-color: #{{label.color}}"></span>
              <span>{{client.name}}</span>
            </div>
            <div class="col-md-1 text-center">
              <i class="fa fa-times-circle-o" ng-show="isClientSelected(client)"></i>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
