<div class="popover environment-select-popover" ng-controller="ChangeSelectEnvironmentCtrl">
  <div class="arrow"></div>
  <h3 class="popover-title">Select your Environment </h3>
  <div class="popover-content">
    <form class="form-horizontal" name="envForm" role="form">
      <div class="form-group">
        <div class="col-md-12">
          <select class="form-control" required="" ng-model="environment"
                  ng-options="e.name for e in environments"></select>
        </div>
      </div>
      <div class="btn-group pull-right">
        <button class="btn btn-primary" ng-disabled = "envForm.$invalid" ng-click="save()">Save</button>
      </div>
    </form>
  </div>
</div>
