<div class="popover environment-popover" >
  <div class="arrow"></div>
  <h3 class="popover-title">Environment {{name}}</h3>
  <div class="popover-content">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-md-6 control-label">OrientDB Version</label>
          <div class="col-md-6">
            <p class="form-control-static">{{version.title}}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-6 control-label">Operating System</label>
          <div class="col-md-6">
            <p class="form-control-static">{{os}}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-6 control-label">RAM</label>
          <div class="col-md-6">
            <p class="form-control-static">{{ram}}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-6 control-label">Connection Type</label>
          <div class="col-md-6">
            <p class="form-control-static">{{connectionType}}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-6 control-label">JVM</label>
          <div class="col-md-6">
            <p class="form-control-static">{{jvm}}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-6 control-label">Distributed</label>
          <div class="col-md-6">
            <p class="form-control-static">{{distributed}}</p>
          </div>
        </div>
      </form>
  </div>
</div>
