<div class="popover priority-popover" ng-controller="ChangePriorityCtrl">
  <div class="arrow"></div>
  <h3 class="popover-title">Apply priority to this issue</h3>

  <div class="popover-content">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Filter priority">
      </div>
    </form>
    <hr class="priority-popover-divider"/>
    <ul class="priorities-group">
      <li class="priority-item" ng-click="togglePriority(priority)"
          ng-class="{ 'priority-unselected' : !isPrioritized(priority)  }"
          style="background-color: {{priority.color | toRgbString:0.4}}"
          ng-repeat="priority in priorities">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-1 text-center">
              <i class="fa fa-check-circle-o" ng-show="isPrioritized(priority)" style="color: #{{priority.color}}"></i>
            </div>
            <div class="col-md-9">
              <span class="color" style="background-color: #{{priority.color}}"></span>
              <span>{{priority.name}}</span>
            </div>
            <!--<div class="col-md-1 text-center">-->
              <!--<i class="fa fa-times-circle-o" ng-show="isPrioritized(priority)" style="color: #{{priority.color}}"></i>-->
            <!--</div>-->
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
