<div class="popover client-popover" ng-controller="ChangeSortCtrl">
  <div class="arrow"></div>
  <h3 class="popover-title">Sort By</h3>

  <div class="popover-content">
    <hr class="client-popover-divider"/>
    <ul class="clients-group">
      <li class="client-item" ng-click="toggleSort(sort)"
          ng-class="{ 'client-selected' : isSortSelected(sort)  }"
          ng-repeat="sort in sorts">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-1 text-center">
              <i class="fa fa-check-circle-o" ng-show="isSortSelected(sort)"></i>
            </div>
            <div class="col-md-9">
              <span class="color" style="background-color: #{{label.color}}"></span>
              <span>{{sort.name}}</span>
            </div>
            <div class="col-md-1 text-center">
              <i class="fa fa-times-circle-o" ng-show="isSortSelected(sort)"></i>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
