<div class="popover label-popover" ng-controller="ChangeTagCtrl">
  <div class="arrow"></div>
  <h3 class="popover-title">{{title}}</h3>

  <div class="popover-content">
    <form ng-submit="selectFirst()">
      <div class="form-group">
        <input autofocus type="text" class="form-control" ng-model="labelFilter" placeholder="Filter tag">
      </div>
    </form>
    <hr class="label-popover-divider"/>
    <ul class="labels-group">
      <li class="label-item" ng-click="toggleTag(tag)" ng-class="{ 'label-unselected' : !isTagged(tag)  }"
          style="background-color: {{label.color | toRgbString:0.4}}"
          ng-repeat="tag in tags track by $index | filter:labelFilter">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-1 text-center">
              <i class="fa fa-check-circle-o" ng-show="isTagged(tag)" style="color: #{{tag.color}}"></i>
            </div>
            <div class="col-md-9">
              <span class="color" style="background-color: #{{tag.color}}"></span>
              <span>{{tag.name}}</span>
            </div>
            <div class="col-md-1 text-center">
              <i class="fa fa-times-circle-o" ng-show="isTagged(tag)" style="color: #{{label.color}}"></i>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
