<div class="popover version-popover" ng-controller="ChangeVersionCtrl">
  <div class="arrow"></div>
  <h3 class="popover-title">{{title}}</h3>

  <div class="popover-content">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Filter versions">
      </div>
    </form>
    <hr class="version-popover-divider"/>
    <ul class="versions-group">
      <li class="version-item" ng-click="toggleVersion(version)"
          ng-class="{ 'version-selected' : isVersionSelected(version)  }"
          ng-repeat="version in versions">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-1 text-center">
              <i class="fa fa-check-circle-o" ng-show="isVersionSelected(version)"></i>
            </div>
            <div class="col-md-9">
              <span class="color" style="background-color: #{{label.color}}"></span>
              <span>{{version.title}}</span>
            </div>
            <div class="col-md-1 text-center">
              <i class="fa fa-times-circle-o" ng-show="isVersionSelected(version)"></i>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
