



body div.container-studio {
	padding-top :80px
}
.pointer {
	cursor : pointer;
}

.CodeMirror {
  border: 1px solid #eee;
  height: 200px;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
.nomargin {
    margin-left : 0px !important;
}


.sidenav {
    background-color: #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    padding: 0;
}


.sidenav > li:first-child > a {
    border-radius: 6px 6px 0 0;
}
.sidenav > .active > a {
    border: 0 none;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset, -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    padding: 9px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    z-index: 2;
}
.sidenav > li > a {
    border: 1px solid #E5E5E5;
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
}
.sidenav .active .icon-chevron-right, .sidenav .active a:hover .icon-chevron-right {
    background-image: url("../img/glyphicons-halflings-white.png");
    opacity: 1;
}
.sidenav .icon-chevron-right {
    float: right;
    margin-right: -6px;
    margin-top: 2px;
    opacity: 0.25;
}