<div ng-mouseover="canEdit = true && owner && message.body && timeToChange(message)" ng-mouseleave="canEdit = false" class="row"
     ng-controller="MessageController">
  <div class="col-md-12">
    <div vue-editor preview="preview" null-value="placeholder" on-send="patchMessage()" ng-model="message.body">

    </div>
  </div>
  <div class="edit-msg-container">
    <a href="javascript:void(0)" class="edit-msg-remove" ng-click="edit()" ng-show="canEdit">
      <i class="fa fa-edit">

      </i>
    </a>
    <a href="javascript:void(0)" class="edit-msg" ng-click="delete()" ng-show="canEdit">
      <i class="fa fa-remove">

      </i>
    </a>
  </div>
</div>
