<div class="container-fluid" ng-controller="UserEnvCtrl">
  <br>

  <div class="row">
    <div class="btn-group pull-right" ng-hide="editing">
      <button class="btn btn-success" ng-click="newEnv()">New Environment</button>
    </div>

    <div class="btn-group pull-right" ng-show="editing">
      <button class="btn btn-success" ng-disabled="envForm.$invalid" ng-click="saveEnv()">Save Environment</button>
    </div>
    <div class="btn-group pull-right" ng-show="editing">
      <button class="btn btn-danger" ng-click="cancelSave()">Cancel</button>
    </div>
  </div>
  <br ng-show="editing">

  <div class="row" ng-show="editing">
    <form class="form-horizontal" name="envForm" role="form">
      <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Name</label>

        <div class="col-sm-8">
          <input type="text" class="form-control" id="inputName" required ng-model="environment.name"
                 placeholder="Name">
        </div>
      </div>
      <div class="form-group">
        <label for="inputODB" class="col-sm-2 control-label">OrientDB Version</label>

        <div class="col-sm-8">
          <select class="form-control" id="inputODB" required ng-model="environment.versionNumber"
                  ng-options="m.number as m.title for m in milestones"></select>
        </div>
      </div>
      <div class="form-group">
        <label for="inputOs" class="col-sm-2 control-label">Operating System</label>

        <div class="col-sm-8">
          <input type="text" class="form-control" id="inputOs" required ng-model="environment.os"
                 placeholder="Operating System">
        </div>
      </div>
      <div class="form-group">
        <label for="inputOs" class="col-sm-2 control-label">JVM Version</label>

        <div class="col-sm-8">
          <input type="text" class="form-control" id="inputJvm" required ng-model="environment.jvm"
                 placeholder="JVM Version">
        </div>
      </div>
      <div class="form-group">
        <label for="inputRam" class="col-sm-2 control-label">Ram available</label>

        <div class="col-sm-8">
          <input type="text" class="form-control" id="inputRam" required ng-model="environment.ram"
                 placeholder="Ram available">
        </div>
      </div>
      <div class="form-group">
        <label for="inputConnection" class="col-sm-2 control-label">Connection type</label>

        <div class="col-sm-8">
          <select class="form-control" id="inputConnection" required ng-model="environment.connectionType"
                  ng-options="c for c in connections"></select>
        </div>
      </div>
      <div class="form-group">
        <label for="inputDistributed" class="col-sm-2 control-label">Distributed Version</label>

        <div class="col-sm-8">
          <input type="checkbox" class="form-control" id="inputDistributed" ng-model="environment.distributed">
        </div>
      </div>
      <div class="form-group">
        <label for="inputNote" class="col-sm-2 control-label">Note</label>

        <div class="col-sm-8">
          <textarea class="form-control" id="inputNote" ng-model="environment.note"></textarea>
        </div>
      </div>
    </form>
  </div>
  <br>

  <div class="row">
    <div class="panel panel-default">

      <div class="panel-body">
        <table class="table">
          <thead>
          <tr>
            <td>Name</td>
            <td>OrientDB Version</td>
            <td>Operating System</td>
            <td>JVM</td>
            <td>RAM</td>
            <td>Connection</td>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="env in environments">
            <td>{{env.name}}</td>
            <td>{{env.version.title}}</td>
            <td>{{env.os}}</td>
            <td>{{env.jvm}}</td>
            <td>{{env.ram}}</td>
            <td>{{env.connectionType}}</td>
            <td>
              <a href="javascript:void(0)" ng-click="editEnv(env)"><i class="fa fa-edit"></i></a>
              <a href="javascript:void(0)" ng-click="deleteEnv(env)"><i class="fa fa-remove"></i></a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
