<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">
      <avatar dim="50" user="user"></avatar>
    </div>
    <div class="col-md-11">
      <div class="panel panel-default">
        <div class="panel-body">
          <form role="form" name="newIssue">
            <div class="form-group">
              <input type="text" class="form-control" required placeholder="Title" ng-model="issue.title">
            </div>
            <div class="checkbox" ng-show="(isMember  || isSupport)">
              <label>
                <input type="checkbox" placeholder="Private Issue"
                       ng-model="issue.confidential">
                Private Issue</label>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-3">
                  <label>Type</label>
                  <select class="form-control" required ng-model="issue.type"
                          ng-options="value as key for (key, value) in labels"></select>
                </div>
                <div class="col-md-3">
                  <label>Area</label>
                  <select class="form-control" required ng-model="scope"
                          ng-options="scope.name for scope in scopes"></select>
                </div>
                <div class="col-md-3">
                  <label>Priority</label>
                  <select class="form-control" required ng-model="issue.priority"
                          ng-options="p.number as p.name for p in priorities"></select>
                </div>

                <div class="col-md-3">
                  <label>Environment</label>
                  <select class="form-control" ng-model="issue.environment"
                          ng-options="e.name for e in environments"></select>
                </div>
                <div class="col-md-3" ng-hide="!isMember">
                  <label>Assignee</label>
                  <select class="form-control" ng-model="issue.assignee"
                          ng-options="a.name as a.name for a in assignees"></select>
                </div>
                <div class="col-md-3"
                     ng-class="{'has-error' : (issue.type == 'bug' || issue.type == 'performance') && issue.version == null}">
                  <label>Affected Version</label>
                  <select class="form-control" ng-required="issue.type == 'bug' || issue.type == 'performance'"
                          ng-model="issue.version"
                          ng-options="m.number as m.title for m in milestones | orderBy : 'title':true"></select>
                </div>
                <div class="col-md-3" ng-hide="!isMember">
                  <label>Resolve in milestone</label>
                  <select class="form-control" ng-model="issue.milestone"
                          ng-options="m.number as m.title for m in milestones | orderBy : ['-state','dueOn']"></select>
                </div>
                <div class="col-md-3" ng-show="isMember || isSupport">
                  <label>Client</label>
                  <select class="form-control" ng-model="issue.client"
                          ng-options="c.clientId as c.name for c in clients"></select>
                </div>
              </div>
              <div class="row">

              </div>
            </div>
            <div class="form-group">
              <div vue-editor preview="false" placeholder="placeholder" carriage="carriage"
                   ng-model="issue.body"></div>
            </div>
            <button type="submit" class="btn btn-success pull-right" ng-disabled="newIssue.$invalid" ng-click="save()">
              Submit new issue
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
