<div class="container-fluid">
    <div class="row row-space">
        <no-agent *ngIf="!ee"></no-agent>

        <div *ngIf="!distributed">
            <div class="col-md-12 studio-well-tips">
                <h4>
                    This feature is available only when runnig OrientDB in distributed mode.
                </h4>
            </div>
        </div>
        <div *ngIf="ee && distributed">
            <ul class="nav nav-tabs">
                <li [ngClass]="{'active' : tab === 'overview'}" (click)="tab = 'overview'"><a
                        href="javascript:void(0)"><span>Overview</span></a></li>
                <li [ngClass]="{'active' : tab === 'databaseCfg'}" (click)="tab = 'databaseCfg'"><a
                        href="javascript:void(0)"><span>Database
                            Cfg
                        </span></a></li>
            </ul>   
            <div class="tab-content row">
                <cluster-management-overview *ngIf="tab === 'overview'"></cluster-management-overview>
                <cluster-management-database *ngIf="tab === 'databaseCfg'"></cluster-management-database>
            </div>
        </div>
    </div>
</div>