<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
	<!-- Orient Key/Value Server configuration -->
<orient-server>
	<network>
		<protocols>
			<protocol name="http2local" implementation="com.orientechnologies.orient.kv.network.protocol.http.local.ONetworkProtocolHttpKVLocal" />
		</protocols>
		<listeners>
			<listener ip-address="127.0.0.1" port-range="8020-8029" protocol="http2local" />
		</listeners>
	</network>
	<storages>
        <storage name="temp" path="memory:temp"/>
	</storages>
	<properties />
</orient-server>
