<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
	<!-- Orient Key/Value Server configuration -->
<orient-server>
    <handlers>
      <handler class="com.orientechnologies.orient.server.distributed.hazelcast.OServerClusterMember" />
    </handlers>
    
	<network>
		<protocols>
			<protocol name="http" implementation="com.orientechnologies.orient.kv.network.protocol.http.ONetworkProtocolHttpKV" />
		</protocols>
		<listeners>
			<listener ip-address="127.0.0.1" port-range="8020-8030" protocol="http" />
		</listeners>
	</network>
	<storages>
		<storage name="petshop" path="${ORIENT_HOME}/databases/petshop/petshop" />
	</storages>
	<properties />
</orient-server>
