<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Orient Key/Value Server configuration -->
<orient-server>
	<network>
		<protocols>
            <!-- Default registered protocol. It reads commands using the HTTP protocol and write data
                 locally -->
			<protocol name="http2local" implementation="com.orientechnologies.orient.kv.network.protocol.http.local.ONetworkProtocolHttpKVLocal" />
		</protocols>
		<listeners>
            <!-- Default listener using the HTTP-2-LOCAL protocol bound to localhost, port 8020. If the port is busy
                 then it will try to acquire the next one up to the 8029. -->
			<listener ip-address="127.0.0.1" port-range="8020-8029" protocol="http2local" />
		</listeners>
	</network>
	<storages>
        <!-- Default in-memory storage. Data are not saved permanently. -->
        <storage name="temp" path="memory:temp"/>
	</storages>
	<properties>
        <!-- Set the asynchronous commit of the maps to the disk in persistent way. It the value is 0
             or this property is not defined, the map is written synchronously to the disk.
             If the value is major than 0 the maps will be written to disk every VALUE milliseconds -->
        <entry name="asynch-commit-delay" value="5000" />
	</properties>
</orient-server>
