<div ng-controller="ProfilerController">


  <div ng-show="!agentActive">
    <div class="col-md-12 studio-well-tips">
      <h4 ng-bind-html=" 'agent.notFound' | translate:links "></h4>
    </div>
  </div>
  <div class="row" ng-show="agentActive">
    <div class="col-md-12">
      <form class="form-inline studio-well">
        <div class="form-group">
          <label>Server </label>
          <select id="serverOnline" ng-model="server" class="form-control " ng-options="s.name for s in servers"
                  data-placeholder="Pick a Server"></select>
        </div>
        <div class="form-group">
          <label>Database </label>
          <select id="databasesOnline" ng-model="db" class="form-control" ng-options="db for db in server.databases"
                  data-placeholder="Pick a Server"></select>
        </div>
      </form>
    </div>
  </div>


  <div class="row row-space-2x" ng-show="agentActive">
    <div class="col-md-12">
      <tabset>
        <tab title="Query"
             template-url="views/server/profiler/query.html">
        </tab>
        <tab title="Command Cache"
             template-url="views/server/profiler/cache.html">
        </tab>
      </tabset>
    </div>
  </div>
</div>
