<div class="row-fluid" ng-controller="SingleMetricController">
    <div class="span12">
        <div class="widget boxed grey" ng-show="config">
            <div class="widget-title">
                <div class="widget-caption span8">
                    <i class="icon-bar-chart"></i>
                    {{ config.name | i18n }}
                </div>
                <div class="span4 actions dropdown">
                    <div class="btn-toolbar pull-right">
                        <div class="btn-group">
                            <a class="btn btn-trasparent "
                               href="javascript:void(0)" ng-hide="fs" ng-click="fullScreen();">
                                <i class="icon-fullscreen"></i>
                            </a>
                        </div>
                        <div class="btn-group config">
                            <a class="btn btn-trasparent " data-placement="bottom" data-title="Chart configuration"
                               ng-controller="ConfigChartController" bs-popover="'views/server/metric/config.html'"
                               data-toggle="dropdown"
                               href="javascript:void(0)">
                                <i class="icon-gears"></i>
                                <b class="caret"></b>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget-body">
                <div id="loader" ng-show="loading" ng-animate="'fade'">
                    <img src="img/orient_sun_logo.gif" class="chart-loader"/>
                </div>
                <svg preserveAspectRatio="none" ng-hide="loading" stackedarea="metricsData"
                     stackedrender="render" realtime="realtime"></svg>
            </div>

        </div>

    </div>
</div>