<div class="row-fluid" ng-controller="SingleMetricController">
    <div class="span12">
        <div class="widget" ng-show="config">
            <div class="widget-title row-fluid">
                <div class="widget-caption span4">
                    <i class="icon-bolt"></i>
                    {{ config.name }}
                </div>

                <div class="actions span8">
                    <div class="row-fluid">
                        <div class="span8">
                            <div class="span6" ng-hide="realtime">
                                <select class="input-small" ng-model="compress">
                                    <option value="1">1m</option>
                                    <option value="5">5m</option>
                                    <option value="30">30m</option>
                                    <option value="60">1h</option>
                                </select>

                            </div>
                            <div class="span6" ng-hide="realtime">
                                <div class="metric-range" ng-model="range" rangepicker="range">
                                    <i class="icon-calendar"></i>
                                    <span></span>
                                    <i class="icon-angle-down"></i>
                                </div>
                            </div>
                            <div class="span6" ng-show="realtime">
                                <select class="input-small" ng-model="pollTime">
                                    <option value="5000">5s</option>
                                    <option value="10000">10s</option>
                                    <option value="20000">20s</option>
                                    <option value="30000">30s</option>
                                </select>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="span12 dropdown">
                                <div class="btn-toolbar">
                                    <div class="btn-group">
                                        <a class="btn btn-trasparent" ng-class="{ 'btn-inverse' : 'bar' == render
                                        }"
                                           href="javascript:void(0)" ng-hide="realtime" ng-click="render = 'bar'">
                                            <i class="icon-bar-chart"></i>
                                        </a>
                                    </div>
                                    <div class="btn-group">
                                        <a class="btn btn-trasparent "
                                           ng-class="{ 'btn-inverse' : 'area' == render }"
                                           href="javascript:void(0)" ng-click="render = 'area'">
                                            <i class="icon-signal"></i>
                                        </a>
                                    </div>
                                    <div class="btn-group">
                                        <a class="btn btn-trasparent "
                                           href="javascript:void(0)" ng-hide="fs"  ng-click="fullScreen();">
                                            <i class="icon-fullscreen"></i>
                                        </a>
                                    </div>
                                    <div class="btn-group">
                                        <a class="btn btn-trasparent dropdown-toggle " data-toggle="dropdown"
                                           href="javascript:void(0)">
                                            <i class="icon-gears"></i>
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="onoffswitch">
                                                    <input type="checkbox" name="onoffswitch" ng-model="realtime"
                                                           class="onoffswitch-checkbox"
                                                           id="myonoffswitch-{{ config.name }}">
                                                    <label class="onoffswitch-label"
                                                           for="myonoffswitch-{{ config.name }}">
                                                        <div class="onoffswitch-inner"></div>
                                                        <div class="onoffswitch-switch"></div>
                                                    </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="widget-body">
                <div id="loader" ng-show="loading" ng-animate="'fade'">
                    <img src="img/orient_sun_logo.gif" class="chart-loader"/>
                </div>
                <svg class="span12 no-margin" preserveAspectRatio="none" stackedarea="metricsData"
                     stackedrender="render" realtime="realtime"></svg>
            </div>

        </div>

    </div>
</div>