<i class="fa fa-{{comment.event}}"></i>
<div  class="inline-block" ng-if="comment.actor.name == comment.assignee.name">
  <avatar dim="20" name="true" user="comment.actor"></avatar>
  self assigned this issue {{ comment.createdAt | fromNow}}
</div>
<div class="inline-block" ng-if="comment.actor.name != comment.assignee.name">
  <avatar dim="20" name="true" user="comment.assignee"></avatar>
  was assigned by
  <avatar dim="20" name="true" user="comment.actor"></avatar>
  {{ comment.createdAt | fromNow}}
</div>


