<div ng-controller="NewClassController">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Class: {{property['name']}}</h3>
    </div>
    <div class="modal-body edge">
        <div class="row-fluid">
            <div class="span12">
                <form class="form-horizontal" name="classForm" novalidate="">
                    <div class="control-group">
                        <label class="control-label" for="inputName">Name *</label>

                        <div class="controls">
                            <input type="text" id="inputName" required="" ng-model="property['name']">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Super Class</label>

                        <div class="controls">
                            <select ng-model="property['superclass']" ng-options="p.toString() for p in listClasses">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"> Alias</label>

                        <div class="controls">
                            <input type="text" id="inputName" ng-model="property['alias']">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Abstract</label>

                        <div class="controls">
                            <input type="checkbox" ng-model="property['abstract']">
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div ng-class="testMsgClass" ng-show="testMsg">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ testMsg }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" ng-click="hide()">Close</button>
        <button type="submit" class="btn btn-primary" ng-disabled="classForm.$invalid" ng-click="saveNewClass()">
            Save
        </button>

    </div>
</div>