<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3>New Database </h3>
</div>
<div class="modal-body edge">
	

	<form id="signin" name="newDB" class="form-horizontal" novalidate="">
		<fieldset>
			<div class="control-group">
				<label class="control-label">Name</label>
				<div class="controls">
					<input type="text" class="input-xlarge" required="" ng-model="name" placeholder="Database name">

				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Type</label>
				<div class="controls">
					<select class="span2" ng-model="type" required="" ng-options="c for c in types">
					</select>

				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Storage Type</label>
				<div class="controls">
					<select class="span2" ng-model="stype" required="" ng-options="c for c in stypes">
					</select>

				</div>
			</div>
			<div class="control-group">
				<label class="control-label">User</label>
				<div class="controls">
					<input id="user" type="text" required="" ng-model="username" value="">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Password</label>
				<div class="controls">
					<input id="password" type="password" required="" ng-model="password" value="">
				</div>
			</div>
		</fieldset>
	</form>
	
</div>
<div class="modal-footer">
	<button type="button" class="btn" ng-click="hide()">Close</button>
	<button class="btn btn-primary" ng-disabled="newDB.$invalid" ng-click="createNew()">Create database</button>
</div>