<!-- BEGIN HEADER -->

<nav class="navbar header navbar-inverse navbar-fixed-top" bs-navbar>
  <!-- BEGIN TOP NAVIGATION BAR -->
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/" ng-click="logout()">
        <img src="../img/orient_db.png" alt="logo"/>
      </a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav" ng-show="database.getName()">
        <li data-match-route="{{menu.link}}" ng-class="getClass(menu)" ng-repeat="menu in menus">
          <a ng-show="menu.show" href="{{menu.link}}" ng-class="{'disabled' : !menu.show }"><i
            class="{{menu.icon}}"></i> {{menu.name |
            capitalize }}
          </a>
          <a ng-show="!menu.show" href="javascript:void(0)" ng-class="{'disabled' : !menu.show }"><i
            class="{{menu.icon}}"></i> {{menu.name |
            capitalize }}
            <span ng-show="!menu.show" href="javascript:void(0)" tabindex="1"
                  data-trigger="focus" data-placement="bottom"
                  data-content="{{ menu.help | translate:links }}" bs-popover>
              <i class="fa fa-question-circle"></i>
            </span>
          </a>

        </li>

        <!--<li>-->
        <!--<a href="{{urlWiki}}" target="_blank"><i class="fa fa-question-circle"></i> Help</a>-->
        <!--</li>-->


        <li>
          <!-- report issue -->

        </li>


      </ul>
      <ul class="nav navbar-nav navbar-right navbar-user" ng-hide="database.getName()">
        <li>
          <a href="#/dashboard" ng-click="manageServer()"><i class="fa fa-sitemap"></i>
            Servers Management</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right navbar-user" ng-show="database.getName()">

        <li class="dropdown user">
          <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user"></i>
            <span class="username">{{ database.getName()}} ({{ database.currentUser()}})</span>
            <i class="fa fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li class="hide-user">
              <a href="javascript:void(0)">
                <i class="fa fa-user"></i>
                <span class="">{{ database.getName()}} ({{ database.currentUser()}})</span>
              </a>
            </li>
            <li class="divider hide-user"></li>
            <li><a href="javascript:void(0)" ng-click="refreshMetadata()"><i
              class="fa fa-refresh "></i> Refresh Metadata</a></li>
            <li>
              <a href="https://github.com/orientechnologies/orientdb-studio/issues" target="_blank"><i
                class="fa fa-bug "></i> Report Issue</a>
            </li>
            <li><a href="javascript:void(0)" ng-click="showAbout()"><i class="fa fa-info-circle"></i> About</a>
            </li>

            <li><a href="#" ng-click="logout()"><i class="fa fa-power-off "></i> Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- END TOP NAVIGATION BAR -->
</nav>
<!-- END HEADER -->
