<div ng-controller="ChangePasswordController">


    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3> Change password</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <form class="form-horizontal" name="changePwdForm">
                <fieldset>

                    <div class="control-group">
                        <label class="control-label" for="inputPassword4">{{ 'settings.oldPassword' | i18n }}</label>

                        <div class="controls">
                            <input type="password" id="inputPassword4" required ng-model="oldpassword"
                                   class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword2">{{ 'settings.password' | i18n }}</label>

                        <div class="controls">
                            <input type="password" id="inputPassword2" required ng-model="newpassword"
                                   class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword3">{{ 'settings.passwordConfirm' | i18n
                            }}</label>

                        <div class="controls">
                            <input type="password" id="inputPassword3" required ng-model="confirmpassword"
                                   class="input-xlarge">
                        </div>
                    </div>


                </fieldset>
            </form>
        </div>
        <div ng-class="testMsgClass" ng-show="testMsg">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ testMsg }}
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn" ng-click="hide()">Close</button>
        <button class="btn btn-primary" ng-disabled="changePwdForm.$invalid" ng-click="modal.saved=true;save();">Save
            changes
        </button>
    </div>

</div>