<div class="row-fluid">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>
            <i class="icon-bar-chart"></i>
            {{ 'metric.chart' | i18n }}
        </h3>
    </div>

    <br>

    <div class="modal-body">
        <div metricchart="selectedConfig" chartheight="300"></div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="hide()">Close
        </button>
    </div>

</div>
