<div class="row-fluid" ng-controller="HttpWhatController">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>
            <i class="icon-exchange"></i>
            Http Request
        </h3>

    </div>
    <div class="row httpwhatform">

        <form name="httpwhatform">
            <fieldset class="form_mailwhat">

                Method:
                <select class="input-block-level" ng-model="eventWhat['method']"
                        ng-options="meth for meth in methods" required> </select>
                Url ("localhost" is not reccomended):
                <input type="url" class="input-block-level" placeholder="http://0.0.0.0"
                       ng-model="eventWhat['url']" required>
                <!--Port:-->
                <!--<input type="text" name="name" class="input-block-level" placeholder="port"-->
                <!--ng-model="eventWhat['port']" >-->
                <div>
                    Parameters:
                    <textarea type="text" rows="3" id="description" name="body" class="input-block-level"
                              ng-disabled="checkMethod()"
                              placeholder="sn=example&cn=&locale=&caller=&num=12345"
                              ng-model="eventWhat['body']"></textarea>
                </div>
            </fieldset>
        </form>

    </div>


    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-disabled="httpwhatform.$invalid" ng-click="hide()">Submit
        </button>
    </div>
</div>