<div class="panel panel-info">

  <div class="panel-heading">
    <div class="row" id="firstRow">
      <div class="col-md-9">
        <div *ngIf="searchOptionsLoaded" class="input-group">
          <span class="input-group-addon">Search</span>
          <!--
          <input type="text" id="search" name="modelClass" class="form-control"
                 placeholder="Class or Table name"/>
          -->
          <select2 id="search" [data]="searchOptions" [width]="300" (valueChanged)="searchNode($event)"
                   [value]="searchValue" [options]="selectOptions"></select2>
        </div>
      </div>

      <div class="col-md-1"></div>

      <div class="col-md-2" id="headerButtons">
        <div class="form-group">
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              Actions <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Aggregate Classes</a></li>
              <li><a href="#">Split Class</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="canvas" class="panel-body svg-content-responsive" style="height: 485px;">

    <graph *ngIf="dataLoaded" #graph id="graph" [(modellingConfig)]="modellingConfig" [(selectedElement)]="selectedElement" (onSelectedElement)="updateSelectedElement($event)"
           style="height: 100%; width: 100%;"></graph>

    <div *ngIf="!dataLoaded" style="text-align: center; padding: 200px;">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw" aria-hidden="true"></i><br><br>
      <span>Loading Graph Model...</span>
    </div>

  </div>

</div>
