<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <button class="btn" ng-click="exportDatabase()">Export Database</button>
        </div>
        <div class="col-md-8">
            OrientDB Server exports the database in JSON format. Click the <b>Export Database</b> button to download a
            gzip
            compressed file containing the JSON file. You can re-import it by using OrientDB command line console
        </div>
    </div>
</div>
<!--
<input type="file" class='input-xlarge-auto' ng-model="files"  ng-change="" onchange="angular.element(this).scope().handleFile(this.files);"   />-->
