<div class="row-fluid" ng-controller="LogWhenController">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>

            <i class="icon-bug"></i>
            Log Event</h3>
    </div>

    <br>

    <div>
        <form>
            <fieldset class="form_mailwhat">
                <div class="controls controls-row">
                    Alert Level Log Value:
                    <select class="span3" ng-model="eventWhen['alertValue']"
                            ng-options="t for t in alertValues">
                        <option value=""></option>
                    </select>
                    <select class="span3" ng-model="eventWhen['type']" ng-options="t for t in levels">
                        <option value=""></option>
                    </select>
                </div>
                Text (contains):
                <textarea type="text" id="textcontains" class="input-block-level" placeholder="insert text here.."
                          ng-model="eventWhen['info']"></textarea>

            </fieldset>
        </form>

    </div>
    <div class="modal-footer">

        <button type="button" class="btn" ng-click="hide()">Submit</button>
    </div>

</div>