<div class="row-fluid" ng-controller="SchedulerWhenController">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Event: {{eventWhen['@class']}}</h3>
    </div>

    <br>
    <div>
        <ul>
            <li ng-repeat="header in properties">
                <div>
                    {{header['name']}}:
                    <input type="text" placeholder="" ng-model="eventWhen[header['name']]  ">


                </div>

            </li>


        </ul>

    </div>
    <div class="modal-footer">

        <button type="button" class="btn" ng-click="hide()">Close</button>
    </div>

</div>