<div class="row">
  <div class="col-md-12">
    <div class="admin-header">
      <div class="row">
        <div class="col-md-4 admin-title">
          <h2>
            Graph Editor
            <a href="{{ database.getWiki() }}" class="btn btn-trasparent btn-help"
               data-placement="right"
               data-title="Help"
               data-trigger="hover"
               target="_blank"
               data-animation="am-flip-x"
               bs-tooltip>
              <i class="fa fa-question-circle fa-lg"></i>
            </a>
          </h2>
        </div>
        <div class="col-md-8 admin-actions">
          <div class="btn-toolbar pull-right">
            <div class="btn-group">
              <button href="javascript:void(0)" class="btn btn-primary btn-sm"
                      ng-click="saveConfig()"><i
                class="fa fa-save"> </i>
                Save Configuration

              </button>
            </div>
            <div class="btn-group">
              <button href="javascript:void(0)" class="btn btn-sm btn-default" ng-click="addNode()"><i
                class="fa fa-plus-circle"> </i>
                Add Vertex

              </button>
            </div>


            <div class="btn-group" ng-hide="fullscreen">
              <button href="javascript:void(0)" class="btn  btn-sm btn-default"
                      ng-click="fullscreen = true"><i
                class="fa fa-expand"> </i>
                Fullscreen

              </button>
            </div>
            <div class="btn-group" ng-show="fullscreen">
              <button href="javascript:void(0)" class="btn  btn-sm btn-default"
                      ng-click="fullscreen = false"><i
                class="fa fa-compress"> </i>
                Exit Fullscreen

              </button>
            </div>
            <div class="btn-group">
              <button href="javascript:void(0)" class="btn  btn-sm btn-default"
                      ng-click="clear()"><i
                class="fa fa-trash-o"> </i>
                Clear Canvas

              </button>
            </div>
            <div class="btn-group">
              <button type="button" class="btn  btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                More <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right" role="menu">
                <li>
                  <a href="javascript:void(0)">
                    <i class="fa fa-search"> Hide Query</i>
                    <input type="checkbox" bs-checkbox
                           ng-model="queryClass">
                  </a></li>
                <li><a href="javascript:void(0)"><i
                  class="fa fa-book"> Hide Legend</i>
                  <input type="checkbox" bs-checkbox
                         ng-model="hideL" ng-click="hideLegend()">
                </a></li>

              </ul>
            </div>
          </div>
        </div>
      </div>
      <i class="vlabel">{{prova}}</i>

      <div class="clearfix"></div>
      <div class="card queryGraph" ng-class="additionalClass">
        <div class="row">
          <div class="col-md-12">
            <div class="row animationQuery " ng-show="!queryClass">
              <div class="col-md-12 box" ng-class="{ 'open' :  !queryClass }">
                <form ng-submit="query()" class="form-inline">
                  <div ui-codemirror="editorOptions" ng-model="queryText">

                  </div>
                </form>
                <div class="run-container">
                  <div class="btn-group run-action ">
                    <button type="button" ng-click="query()" ng-disabled="!queryText"
                            class="btn btn-sm btn-primary">Run
                    </button>
                  </div>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="graph-container" ng-o-graph="graphOptions">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

