<div class="row">
  <div class="col-md-12">
    <div class="admin-header">
      <div class="row">
        <div class="col-md-4 admin-title">
          <h2>

            <button class="btn btn-xs btn-warning btn-trasparent" ng-click="toggleProperties()"><i class="fa "
                                                                                                   ng-class="listClass"></i>
            </button>
            Graph Editor
            <a href="{{ database.getWiki() }}" class="btn btn-trasparent btn-help"
               data-placement="right"
               data-title="Help"
               data-trigger="hover"
               target="_blank"
               data-animation="am-flip-x"
               bs-tooltip>
              <i class="fa fa-question-circle fa-lg"></i>
            </a>
          </h2>
        </div>
        <div class="col-md-8 admin-actions">
          <div class="btn-toolbar pull-right">
            <div class="btn-group">
              <button href="javascript:void(0)"
                      data-title="Run Query"
                      data-trigger="hover"
                      data-placement="bottom"
                      bs-tooltip
                      ng-click="query()"
                      ng-disabled="!queryText"
                      class="btn btn-warning btn-sm">
                <i class="fa fa-play"> </i>


              </button>
            </div>
            <div class="btn-group">
              <button href="javascript:void(0)"
                      data-title="Save Configuration"
                      data-trigger="hover"
                      data-placement="bottom"
                      bs-tooltip
                      ng-click="saveConfig()"
                      class="btn btn-primary btn-sm">
                <i class="fa fa-save"> </i>

              </button>
            </div>

            <!--<div class="btn-group">-->
              <!--<button href="javascript:void(0)"-->
                      <!--data-title="Download SVG"-->
                      <!--data-trigger="hover"-->
                      <!--data-placement="bottom"-->
                      <!--bs-tooltip-->
                      <!--class="btn btn-sm btn-default"-->
                      <!--ng-click="download()"><i-->
                <!--class="fa fa-download"> </i>-->
              <!--</button>-->
            <!--</div>-->
            <div class="btn-group">
              <button href="javascript:void(0)"
                      data-title="Add Vertex"
                      data-trigger="hover"
                      data-placement="bottom"
                      bs-tooltip
                      class="btn btn-sm btn-default"
                      ng-click="addNode()"><i
                class="fa fa-plus-circle"> </i>
              </button>
            </div>

            <div class="btn-group">
              <button href="javascript:void(0)"
                      data-title="Fit Graph"
                      data-trigger="hover"
                      data-placement="bottom"
                      bs-tooltip
                      class="btn  btn-sm btn-default"
                      ng-click="resetZoom()"><i
                class="fa fa-arrows-alt"> </i>
              </button>
            </div>
            <!--<div class="btn-group" ng-hide="fullscreen">-->
            <!--<button href="javascript:void(0)"-->
            <!--data-title="Full Screen"-->
            <!--data-trigger="hover"-->
            <!--data-placement="bottom"-->
            <!--bs-tooltip-->
            <!--class="btn  btn-sm btn-default"-->
            <!--ng-click="fullscreen = true"><i-->
            <!--class="fa fa-expand"> </i>-->

            <!--</button>-->
            <!--</div>-->
            <!--<div class="btn-group" ng-show="fullscreen">-->
            <!--<button href="javascript:void(0)"-->
            <!--data-title="Exit Full Screen"-->
            <!--data-trigger="hover"-->
            <!--data-placement="bottom"-->
            <!--bs-tooltip-->
            <!--class="btn  btn-sm btn-default"-->
            <!--ng-click="fullscreen = false"><i-->
            <!--class="fa fa-compress"> </i>-->

            <!--</button>-->
            <!--</div>-->
            <div class="btn-group">
              <button href="javascript:void(0)"
                      data-title="Clear Canvas"
                      data-trigger="hover"
                      data-placement="bottom"
                      bs-tooltip
                      class="btn  btn-sm btn-default"
                      ng-click="clear()"><i
                class="fa fa-trash-o"> </i>


              </button>
            </div>
            <div class="btn-group">
              <button type="button" class="btn  btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                More <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right" role="menu">
                <li>
                  <a href="javascript:void(0)">
                    <i class="fa fa-search"> Hide Query</i>
                    <input type="checkbox" bs-checkbox
                           ng-model="queryClass">
                  </a></li>
                <li><a href="javascript:void(0)"><i
                  class="fa fa-book"> Hide Legend</i>
                  <input type="checkbox" bs-checkbox
                         ng-model="hideL" ng-click="hideLegend()">
                </a></li>

              </ul>
            </div>
          </div>
        </div>
      </div>


      <div class="clearfix"></div>
      <div class="card queryGraph" ng-class="additionalClass">
        <div class="row">
          <div class="col-md-12">
            <div class="row animationQuery graph-query" ng-show="!queryClass">
              <div class="col-md-12 box" ng-class="{ 'open' :  !queryClass }">
                <form ng-submit="query()" class="form-inline">
                  <div ui-codemirror="editorOptions" ng-model="queryText">

                  </div>
                </form>

                <div class="query-info">
                  <div class="container-fluid">
                    <div class="row vertical-align">
                      <div class="col-md-12  info">
                        <div class="query-hint-mobile">
                          <a class="btn btn-trasparent ng-scope" tabindex="1" data-trigger="focus"
                             data-placement="bottom-left" data-animation="am-flip-x" data-container="body"
                             data-template="views/hints/query-hint.html" bs-popover="">
                            <i class="fa fa-question-circle"></i>
                          </a>
                        </div>
                        <div class="query-hint">
                          <div class="row">
                            <div class="col-md-12">
                              <b>Run:</b>
                              Ctrl + Return
                              <b>Undo:</b>
                              Ctrl/Cmd + Z
                              <b>Redo:</b>
                              Ctrl/Cmd + Shift + Z
                              <br>
                              <b class="clear-hint">
                                Search :</b>
                              Ctrl/Cmd + F
                              <b>
                                Toggle Comment:</b>
                              Ctrl/Cmd + /
                              <b>
                                Autocomplete:</b>
                              Ctrl + Space
                            </div>
                          </div>
                        </div>

                      </div>

                    </div>
                  </div>
                </div>
                <div class="run-container">

                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="svg-container">
                  <div class="graph-container svg-content-responsive" ng-class="graphClass" ng-o-graph="graphOptions">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

