Below all the active connections. Keep in mind that HTTP connections are stateless, so no database is retained and usually after a short timeout (seconds) they are killed. Binary connections, instead, remain in life until the connection client closes it. Binary connections are used by the
<a href="http://code.google.com/p/orient/wiki/ConsoleCommands">Orient Console</a>
tool and by any Orient Java applications that uses the native
<a href="http://code.google.com/p/orient/wiki/JavaAPI">Java API</a>


<table class="table table-striped table-bordered table-condensed">

    <thead>
    <tr>
        <td>Connection ID</td>
        <td>Remote Client</td>
        <td>Database</td>
        <td>User</td>
        <td>Total Requests</td>
        <td>Command Info</td>
        <td>Command Detail</td>
        <td>Last Command On</td>
        <td>Last Command Info</td>
        <td>Last Command Detail</td>
        <td>Last Execution Time</td>
        <td>Total Working Time</td>
        <td>Connected Since</td>
        <td>Protocol</td>
        <td>Client ID</td>
        <td>Driver</td>
        <td>Commands</td>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="conn in connections">
            <td>{{ conn.connectionId }}</td>
            <td>{{ conn.remoteAddress }}</td>
            <td>{{ conn.db }}</td>
            <td>{{ conn.user }}</td>
            <td>{{ conn.totalRequests }}</td>
            <td>{{ conn.commandInfo }}</td>
            <td>{{ conn.commandDetail }}</td>
            <td>{{ conn.lastCommandOn }}</td>
            <td>{{ conn.lastCommandInfo }}</td>
            <td>{{ conn.lastCommandDetail }}</td>
            <td>{{ conn.lastExecutionTime }}</td>
            <td>{{ conn.totalWorkingTime }}</td>
            <td>{{ conn.connectedOn }}</td>
            <td>{{ conn.protocol }}</td>
            <td>{{ conn.clientId }}</td>
            <td>{{ conn.driver }}</td>
            <td>
                <a ng-click="interruptConnection(conn)" href="javascript:void(0)">
                    <i class="icon-ban-circle"></i>Interrupt

                </a>
                <a ng-click="killConnection(conn)" href="javascript:void(0)">
                    <i class="icon-trash"></i>Kill

                </a>
            </td>
        </tr>
    </tbody>
</table>