<div class="popover config-popover" ng-controller="QueryConfigController">
  <h3 class="popover-title" ng-bind-html="title" ng-show="title"></h3>

  <div class="popover-content">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <form class="">
            <fieldset>
              <div class="form-group">
                <label>Content Type</label>
                <select ng-model="selectedContentType" class="form-control input-sm"
                        ng-options="q for q in contentType"></select>
              </div>
              <div class="form-group">
                <label>Type</label>
                <select ng-model="selectedRequestType" class="form-control input-sm"
                        ng-options="q for q in requestTypes"></select>
              </div>

              <div class="form-group" ng-show="selectedRequestType == 'BATCH'">
                <label>Language</label>
                <select ng-model="selectedRequestLanguage"
                        class="form-control input-sm"
                        ng-options="q for q in requestLanguage"></select>
              </div>
              <div class="form-group">
                <label>Limit</label>
                <input type="text" class="form-control input-sm" ng-model="limit" focus="true"/>
              </div>
              <div class="checkbox hide-settings">
                <label>
                  <input type="checkbox" ng-model="hideSettings"/> Hide settings
                </label>
              </div>
              <!--<div class="checkbox">-->
              <!--<label>-->
              <!--<input type="checkbox" ng-model="shallow"/> Shallow collection-->
              <!--</label>-->
              <!--</div>-->
              <div class="form-group">
                <label> Keep result set in history</label>
                <input type="text" class="form-control input-sm" ng-model="keepLimit"/>
              </div>
            </fieldset>


          </form>
        </div>
      </div>
    </div>
  </div>
</div>
