<div class="row" ng-controller="ServerSecurityController">
  <div ng-show="!agentActive">
    <div class="col-md-12 studio-well-tips">
      <h4 ng-bind-html=" 'agent.notFound' | translate:links "></h4>
    </div>
  </div>
  <div ng-show="agentActive">
    <div class="row">
      <div class="col-md-12">
        <tabset >
          <tab title="{{t.name}}" icon="icon" ng-repeat="t in securityTabs"
               template-url="{{t.template}}"></tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
