<form class="form-horizontal">
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="inputName">{{ 'settings.server.name' | i18n }}</label>

            <div class="controls">
                <input type="text" id="inputName" ng-model="server.name" class="input-xxlarge">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputURL">{{ 'settings.server.url' | i18n }}</label>

            <div class="controls">
                <input type="text" id="inputURL" ng-model="server.url" class="input-xxlarge">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputUser">{{ 'settings.server.user' | i18n }}</label>

            <div class="controls">
                <input type="text" id="inputUser" ng-model="server.user" class="input-xxlarge">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword">{{ 'settings.server.password' | i18n }}</label>

            <div class="controls">
                <input type="password" id="inputPassword" ng-model="server.password" class="input-xxlarge">
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" ng-model="server.enabled"> {{ 'settings.server.enabled' | i18n }}
                </label>
            </div>
        </div>
    </fieldset>
    <div class="form-actions">
        <button type="button" class="btn" ng-click="back()">Cancel</button>
        <button type="submit" class="btn btn-primary" ng-click="save()">Save changes</button>
    </div>
</form>
