<form class="form-horizontal" name="serverForm">
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="inputName">{{ 'settings.server.name' | i18n }}</label>

            <div class="controls">
                <input type="text" id="inputName" required ng-model="server.name" class="input-xlarge">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputURL">{{ 'settings.server.url' | i18n }}</label>

            <div class="controls">
                <input type="text" id="inputURL" required validator = "validateIpAndPort(serverForm.firstName)" ng-model="server.url" placeholder="ip:port" class="input-xlarge">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label"  for="inputUser">{{ 'settings.server.user' | i18n }}</label>

            <div class="controls">
                <input type="text" id="inputUser" required ng-model="server.user" class="input-xlarge">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword">{{ 'settings.server.password' | i18n }}</label>

            <div class="controls">
                <input type="password" id="inputPassword" required ng-model="server.password" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" ng-model="server.enabled"> {{ 'settings.server.enabled' | i18n }}
                </label>
            </div>
        </div>

    </fieldset>
</form>
<div ng-class="testMsgClass" ng-show="testMsg">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ testMsg }}
</div>
