<div ng-controller="ServerNewController">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3> {{ 'settings.server.new.title' | i18n }}</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <ng-include src="'views/settings/baseEditModal.html'"></ng-include>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" ng-click="hide()">Close</button>
        <button type="button" class="btn" ng-disabled="serverForm.$invalid" ng-click="test()">Test</button>
        <button class="btn btn-primary" ng-disabled="serverForm.$invalid" ng-click="modal.saved=true;save();">Save changes</button>
    </div>
</div>
