<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="$hide()" aria-hidden="true">×</button>
        <h3>
          <i class="fa fa-envelope"></i>
          Mail Alert
        </h3>

      </div>
      <div class="modal-body">
        <form name="mailwhatform" class="form-horizontal">
          <fieldset class="form_mailwhat">

            <div class="form-group">
              <label class="col-sm-2 control-label">Mail Profile:</label>
              <div class="col-sm-10">
                <select ng-model="eventWhat.profile" ng-options="p.name as p.name for p in profiles"
                        class="form-control">
                  <option value=""></option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">From:</label>
              <div class="col-sm-10">
                <input type="email" id="fromAddress" class="form-control" name="name" placeholder="from"
                       ng-model="eventWhat['fromAddress']" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">To:</label>

              <div class="col-sm-10">
                <input type="email" id="toAddress" name="name" class="form-control" placeholder="to"
                       ng-model="eventWhat['toAddress']" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Cc:</label>
              <div class="col-sm-10">
                <input type="email" id="cc" name="name" class="form-control" placeholder="cc"
                       ng-model="eventWhat['cc']">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Bcc:</label>
              <div class="col-sm-10">
                <input type="email" id="bcc" name="name" class="form-control" placeholder="bcc"
                       ng-model="eventWhat['bcc']">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Subject:

              </label>
              <div class="col-sm-10">
                <input type="text" id="subject" name="name" class="form-control" class="input-block-level"
                       placeholder="subject"
                       ng-model="eventWhat['subject']" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Body:

                <a href="javascript:void(0)" tabindex="1"
                   data-trigger="focus" data-placement="right"
                   data-container="body"
                   data-content="{{ help |  translate:links }}" bs-popover>
                  <i class="fa fa-question-circle"></i>
                </a>
              </label>
              <div class="col-sm-10">
                <textarea rows="3" id="description" name="body" class="form-control"
                          style="height: 150px" placeholder="body" ng-model="eventWhat['body']" required></textarea>
              </div>
            </div>
          </fieldset>
        </form>

      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-disabled="mailwhatform.$invalid" ng-click="$hide()">Ok
        </button>
      </div>
    </div>
  </div>
</div>
