<div class="row" ng-controller="ClusterController">

  <div ng-show="!agentActive">
    <div class="col-md-12 studio-well-tips">
      <h4 ng-bind-html=" 'agent.notFound' | translate:links "></h4>
    </div>
  </div>
  <!--<div class="row" ng-show="agentActive">-->
    <!--<div class="col-md-12 studio-well">-->
      <!--<h4>Active nodes: {{ servers.length }}</h4>-->
    <!--</div>-->
  <!--</div>-->
  <div class="row row-space" ng-show="agentActive">
    <div class="col-md-12">
      <tabset>
        <tab title="Overview" template-url="views/server/distributed/overview.html"></tab>
        <tab title="Data Centers" template-url="views/server/distributed/dataCenters.html"></tab>
        <tab title="Databases Cfg" template-url="views/server/distributed/databases.html"></tab>
      </tabset>
    </div>
  </div>
</div>
