<div class="row" ng-controller="TeleporterController">

  <div *ngIf="!agentService.agent.active">
    <div class="col-md-12 studio-well-tips">
      <h4>"This feature is available in OrientDB Enterprise Edition. To download OrientDB Enterprise Edition click <a href="http://orientdb.com/orientdb-enterprise/?#matrix" target='_blank'>here</a>.</h4>
    </div>
  </div>

  <div *ngIf="agentService.agent.active">

    <form class="form-horizontal" id="teleporterForm" name="teleporterForm" #form="ngForm"> {{message}}

      <div id="stepSwitch" [ngSwitch]="getStep()">

        <div class="stepOne" *ngSwitchCase="'1'">
          <h3>Step 1: Source Database connection</h3><br/>

          <div class="form-group">
            <label class="col-sm-2 control-label">Database Driver</label>

            <div class="col-md-5">
              <select class="form-control" name="driver" [(ngModel)]="config.driver"
                      (ngModelChange)="changeJurlAccordingToDriver()" required>
                <option *ngFor="let driverName of driverNames" [value]="driverName"> {{driverName}} </option>
              </select>
            </div>
            <div class="col-md-5">
              <button type="button" class="btn btn-sm btn-primary" data-toggle="popover" data-html="true"
                      [attr.data-content]="hints.driver" data-animation="am-fade-and-scale"><b>?</b></button>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Database Host</label>
            <div class="col-md-5">
              <input type="text" id="host" class="form-control" name="host" [(ngModel)]="dbConnection.host"
                     (ngModelChange)="updateJurl()"
                     placeholder="Host" required ngControl="hostControl"/>
            </div>
            <div class="col-md-5">
              <button type="button" class="btn btn-sm btn-primary" data-toggle="popover" data-html="true"
                      [attr.data-content]="hints.host" data-animation="am-fade-and-scale"><b>?</b></button>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Port</label>
            <div class="col-md-5">
              <input type="text" id="port" class="form-control" name="port" [(ngModel)]="dbConnection.port"
                     (ngModelChange)="updateJurl()"
                     placeholder="Port" required ngControl="hostControl"/>
            </div>
            <div class="col-md-5">
              <button type="button" class="btn btn-sm btn-primary" data-toggle="popover" data-html="true"
                      [attr.data-content]="hints.port" data-animation="am-fade-and-scale"><b>?</b></button>
            </div>
          </div>

          <div class="form-group" *ngIf="config.driver != 'Oracle'">
            <label class="col-sm-2 control-label">Database Name</label>
            <div class="col-md-5">
              <input type="text" id="dbName" class="form-control" name="dbName" [(ngModel)]="dbConnection.dbName"
                     (ngModelChange)="updateJurl()"
                     placeholder="Database Name" required ngControl="hostControl"/>
            </div>
            <div class="col-md-5">
              <button type="button" class="btn btn-sm btn-primary" data-toggle="popover" data-html="true"
                      [attr.data-content]="hints.dbName" data-animation="am-fade-and-scale"><b>?</b></button>
            </div>
          </div>

          <div class="form-group" *ngIf="config.driver == 'Oracle'">
            <label class="col-sm-2 control-label">SID</label>
            <div class="col-md-5">
              <input type="text" id="sid" class="form-control" name="sid" [(ngModel)]="dbConnection.sid"
                     (ngModelChange)="updateJurl()"
                     placeholder="SID" required ngControl="hostControl"/>
            </div>
            <div class="col-md-5">
              <button type="button" class="btn btn-sm btn-primary" data-toggle="popover" data-html="true"
                      [attr.data-content]="hints.sid" data-animation="am-fade-and-scale"><b>?</b></button>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="btn-toolbar">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary disabled">Prev</button>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary" (click)="switchConfigStep('2')" [disabled]="!form.valid">Next</button>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="stepTwo" *ngSwitchCase="'2'">
          <h3>Step 2: Source Database Credentials</h3><br/>
          <div class="form-group">
            <label class="col-sm-2 control-label">User Name</label>
            <div class="col-md-5">
              <input type="text" id="username" class="form-control" [(ngModel)]="config.username" name="username"
                     placeholder="User Name" required/>
            </div>
            <div class="col-md-5">
              <button type="button" class="btn btn-sm btn-primary" data-toggle="popover" data-html="true"
                      [attr.data-content]="hints.username" data-animation="am-fade-and-scale"><b>?</b></button>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Password</label>
            <div class="col-md-5">
              <input type="password" id="password" class="form-control" [(ngModel)]="config.password" name="password"
                     placeholder="Password" required/>
            </div>
            <div class="col-md-5">
              <button type="button" class="btn btn-sm btn-primary" data-toggle="popover" data-html="true"
                      [attr.data-content]="hints.password" data-animation="am-fade-and-scale"><b>?</b></button>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="btn-toolbar">
                <div class="btn-group pull-right">
                  <button type="button" class="btn btn-sm btn-primary" (click)="testConnection()">Test connection</button>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="btn-toolbar">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary" (click)="switchConfigStep('1')">Prev</button>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary" (click)="switchConfigStep('3')" [disabled]="!form.valid">Next</button>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="stepThree" *ngSwitchCase="'3'">
          <h3>Step 3: Target OrientDB Database</h3><br/>

          <div class="form-group">
            <label class="col-sm-2 control-label">Connection Protocol</label>

            <div class="col-md-5">
              <select class="form-control" [(ngModel)]="config.protocol" name="protocol" required>
                <option *ngFor="let protocol of protocols" [value]="protocol"> {{protocol}} </option>
              </select>
            </div>
            <div class="col-md-5">
              <button type="button" class="btn btn-sm btn-primary" data-toggle="popover" data-html="true"
                      [attr.data-content]="hints.protocol" data-animation="am-fade-and-scale"><b>?</b></button>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">OrientDB URL</label>
            <div class="col-md-7">
              <input type="text" id="outDBUrl" class="form-control" [(ngModel)]="config.url" name="outDbUrl"
                     placeholder="OrientDB URL" required/>
            </div>
            <div class="col-md-3">
              <button type="button" class="btn btn-sm btn-primary" data-toggle="popover" data-html="true"
                      [attr.data-content]="hints.outDbUrl" data-animation="am-fade-and-scale"><b>?</b></button>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="btn-toolbar">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary" (click)="switchConfigStep('2')">Prev</button>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary" (click)="switchConfigStep('4')" [disabled]="!form.valid">Next (Advanced)</button>
                </div>
                <div class="btn-group pull-right">
                  <button type="button" class="btn btn-sm btn-warning" (click)="launch()" [disabled]="!form.valid">Start migration</button>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="stepAdvanced" *ngSwitchCase="'4'">
          <h3>Step 4: Strategies (Advanced)</h3><br/>

          <div class="form-group">
            <label class="col-sm-2 control-label">Strategy</label>

            <div class="col-sm-5">
              <select class="form-control" [(ngModel)]="config.strategy" name="strategy" required>
                <option *ngFor="let strategy of strategies" selected> {{strategy}} </option>
              </select>
            </div>
            <div class="col-md-5">
              <button type="button" class="btn btn-sm btn-primary" data-toggle="popover" data-html="true"
                      [attr.data-content]="hints.strategy" data-animation="am-fade-and-scale"><b>?</b></button>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Name Resolver</label>
            <div class="col-sm-5">
              <select class="form-control" [(ngModel)]="config.nameResolver" name="nameResolver">
                <option *ngFor="let nr of nameResolvers" selected> {{nr}} </option>
              </select>
            </div>
            <div class="col-md-5">
              <button type="button" class="btn btn-sm btn-primary" data-toggle="popover" data-html="true"
                      [attr.data-content]="hints.nameResolver" data-animation="am-fade-and-scale"><b>?</b></button>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="btn-toolbar">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary" (click)="switchConfigStep('3')">Prev</button>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary" (click)="switchConfigStep('5')">Next</button>
                </div>
                <div class="btn-group pull-right">
                  <button type="button" class="btn btn-sm btn-warning" (click)="launch()">Start migration</button>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="stepAdvanced" *ngSwitchCase="'5'">
          <h3>Step 5: Filters (Advanced)</h3><br/>

          <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
              <dual-list [sort]="keepSorted" [source]="sourceDBTables" [key]="key" [display]="fieldToDisplay" [(destination)]="includedTables"
                         headerLeft="Source DB Tables" headerRight="Included Tables"
                         addBtn="Include" removeBtn="Exclude"
                         height="265px"></dual-list>
            </div>
          </div>

          <br><br><br>

          <div class="form-group">
            <div class="col-sm-offset-9 col-sm-3">
              <button type="button" class="btn btn-sm btn-primary" data-toggle="popover" data-placement="top" data-html="true"
                      [attr.data-content]="hints.tableList" data-animation="am-fade-and-scale"><b>?</b></button>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-9 col-sm-3">
                <button type="button" class="btn btn-sm btn-primary" (click)="testConnection()">Test connection</button>
            </div>
          </div>

          <br><br><br><br>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="btn-toolbar">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary" (click)="switchConfigStep('4')">Prev</button>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary" (click)="switchConfigStep('6')">Next</button>
                </div>
                <div class="btn-group pull-right">
                  <button type="button" class="btn btn-sm btn-warning" (click)="launch()">Start migration</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="stepAdvanced" *ngSwitchCase="'6'">
          <h3>Step 6: Inheritance (Advanced)</h3><br/>
          <div class="form-group">
            <label class="col-sm-2 control-label">XML Path</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" [(ngModel)]="config.xmlPath" name="xmlPath"
                     placeholder="XML Path" required>
            </div>
            <div class="col-md-3">
              <button type="button" class="btn btn-sm btn-primary" data-toggle="popover" data-html="true"
                      [attr.data-content]="hints.XMLPath" data-animation="am-fade-and-scale"><b>?</b></button>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="btn-toolbar">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary" (click)="switchConfigStep('5')">Prev</button>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary" (click)="switchConfigStep('7')">Next</button>
                </div>
                <div class="btn-group pull-right">
                  <button type="button" class="btn btn-sm btn-warning" (click)="launch()">Start migration</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="stepAdvanced" *ngSwitchCase="'7'">
          <h3>Step 7: Log Level (Advanced)</h3><br/>
          <div class="form-group">
            <label class="col-sm-2 control-label">Log Level</label>
            <div class="col-sm-5">
              <select class="form-control" [(ngModel)]="config.level" name="logLevel" required>
                <option *ngFor="let level of logLevels; let i = index" [value]="i">
                  {{level}} </option>
              </select>
            </div>
            <div class="col-md-5">
              <button type="button" class="btn btn-sm btn-primary" data-toggle="popover" data-html="true"
                      [attr.data-content]="hints.logLevel" data-animation="am-fade-and-scale"><b>?</b></button>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="btn-toolbar">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary" (click)="switchConfigStep('6')">Prev</button>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary disabled">Next</button>
                </div>
                <div class="btn-group pull-right">
                  <button type="button" class="btn btn-sm btn-warning" (click)="launch()">Start migration</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="running" *ngSwitchCase="'running'">
          <h3>Migration to OrientDB</h3><br/>

          <div class="row ">
            <div class="col-md-12">
              <div class="studio-well-tips-sm ">
                <h5>
            <span class="tab">
              <b> Status</b>: {{ job.status }}
            </span>
                </h5>
                <h5>
            <span class="tab">
               <b>From</b>: {{ job.cfg.jurl }}
            </span>
                </h5>
                <h5>
            <span class="tab">
              <b>To</b>: {{job.cfg.outDbUrl }}
            </span>
                </h5>
              </div>
            </div>
          </div>
          <div class="row row-space-2x">
            <div class="col-md-12">
              <textarea  #logArea class="form-control" id="logArea" name="logArea" [(ngModel)]="job.log"
                         rows="15" readonly></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12"></div>
          </div>

        </div>

      </div>

    </form>
  </div>

</div>
