<div class="modal " ng-controller="RestoreController">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="$hide()" aria-hidden="true">×
        </button>
        <h3>Remove Backup </h3>
      </div>
      <div class="modal-body edge">

        <div class="row">
          <div class="col-md-12">
            <div class="studio-well">
              <p>
                The selected backup event (<b>{{restored.log.mode}}</b>) is part of an incremental backup.
                Below are the files (<b>{{unitLogs.length}}</b>) involved . The restore will use all al this file to
                restore the database.
              </p>
            </div>
          </div>
        </div>
        <br/>
        <div class="row">

          <div class="col-md-12">
            <table class="table table-striped  table-fixed-header table-backup">
              <thead>
              <tr>
                <th>Mode</th>
                <th>When</th>
                <th>File Name</th>
                <th>File Size</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="u in unitLogs" ng-class="{ 'danger' : u.timestamp >= restored.log.timestamp}">
                <td>{{ u.mode }}</td>
                <td>{{ u.timestamp | formatDateNS}}</td>
                <td>{{ u.fileName }}</td>
                <td>{{ u.fileSize | toSizeString }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" ng-click="$hide()">Cancel</button>
        <button class="btn btn-danger" ng-disabled="newDB.$invalid" ng-click="onRemove(restored,$hide)">Remove
        </button>
      </div>
    </div>
  </div>
</div>


