<ng-form name="formID">
<div class="control-group" ng-repeat="header in headers" >
	<label class="control-label"> {{header}} {{requiredString(header)}}</label>
	<div class="controls controls-row" >
		<ng-include src="getTemplate(header)" class='span8'></ng-include>
		<select class='span3 form-control' ng-disabled='true'>
			<option value='getType(header)'>
				{{getType(header)}}
			</option>
		</select>
		<a href='javascript:void(0)' class='btn btn-mini pull-right' tooltip='Delete field' ng-click='deleteField(header)' ><i class='icon-trash'></i></a>
	</div>
</div>
</ng-form>