<ng-form name="formID">
    <div class="form-group" ng-repeat="header in headers">
        <label class="control-label col-md-2"> {{header}} {{requiredString(header)}}</label>

        <div class="col-md-10">
            <div class="row">
                <ng-include src="fieldTypes[header]" class='col-md-9'></ng-include>

                <div class="col-md-2">
                    <select class='form-control' ng-disabled='inSchema(header)' ng-model="selectedHeader"
                            ng-change="changeType('{{ header }}',selectedHeader)">
                        <option ng-repeat="t in types" ng-selected="isSelected(header,t)">{{ t }}</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <a href='javascript:void(0)' class='btn btn-danger btn-sm' tooltip='Delete field'
                       ng-click='deleteField(header)'><i class='fa fa-trash-o'></i></a>
                </div>
            </div>
        </div>
    </div>
</ng-form>