<div class="container-fluid">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <form class="form-horizontal" ng-submit="save()">
          <div class="form-group">
            <label for="inputClientId" class="col-sm-2 control-label">Id</label>

            <div class="col-sm-10">
              <input type="number" class="form-control" id="inputClientId" ng-model="client.clientId"
                     placeholder="Client Id">
            </div>
          </div>
          <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">Name</label>

            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputName" ng-model="client.name"
                     placeholder="Name">
            </div>
          </div>

          <div class="form-group">
            <label for="inputSupport" class="col-sm-2 control-label">Is Supported by Support Team ?</label>

            <div class="col-sm-10">
              <input type="checkbox" class="form-control" id="inputSupported" ng-model="client.supported"
                     placeholder="Support">
            </div>
          </div>
          <div class="form-group">
            <label for="inputSupport" class="col-sm-2 control-label">Is Support Team ?</label>

            <div class="col-sm-10">
              <input type="checkbox" class="form-control" id="inputSupport" ng-model="client.support"
                     placeholder="Support">
            </div>
          </div>

          <div class="form-group" ng-show="client.support">
            <label for="inputSupportEmail" class="col-sm-2 control-label">Support Email</label>

            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputSupportEmail" ng-model="client.supportEmail"
                     placeholder="Support Email">
            </div>
          </div>

          <div class="form-group" ng-show="client.support">
            <label for="inputSupportSubject" class="col-sm-2 control-label">Support Email Subject</label>

            <div class="col-sm-10" ng-show="client.support">
              <input type="text" class="form-control" id="inputSupportSubject" ng-model="client.supportSubject"
                     placeholder="Support Email Subject">
            </div>
          </div>

          <div class="form-group" ng-show="client.support">
            <label for="inputSupportSubjectUpdate" class="col-sm-2 control-label">Support Email Subject Update</label>

            <div class="col-sm-10" ng-show="client.support">
              <input type="text" class="form-control" id="inputSupportSubjectUpdate"
                     ng-model="client.supportSubjectUpdate"
                     placeholder="Support Email Subject Update">
            </div>
          </div>

          <!--<div class="form-group" ng-show="client.support">-->
          <!--<label for="inputSupportTemplate" class="col-sm-2 control-label">Support Email Template</label>-->

          <!--<div class="col-sm-10">-->
          <!--<textarea class="form-control" id="inputSupportTemplate" ng-model="client.supportTemplate"-->
          <!--placeholder="Support Email Template">-->
          <!--</textarea>-->
          <!--</div>-->
          <!--</div>-->

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button ng-click="createChat()" class="btn btn-warning pull-right">Create Chat</button>
              <button type="submit" class="btn btn-success pull-right">Save</button>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-md-offset-2 col-md-1">
            <h4> Members</h4>
          </div>
          <div class="col-md-6">
            <form ng-submit="addMember()">
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control" ng-model="newMember"
                         placeholder="Add Member">
                  <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">Add</button>
                    </span>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-2  col-md-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <table>
                  <tbody>
                  <tr ng-repeat="member in members">
                    <td>
                      <avatar dim="50" name="true" user="member">

                      </avatar>

                      <a href="javascript:void(0)" ng-click="removeMember(member)">
                        <i class="fa fa-remove ">

                        </i>
                      </a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-offset-2 col-md-2">
            <h4> Contracts</h4>
          </div>
          <div class="col-md-offset-4 col-md-4">
            <button class="btn btn-sm btn-success pull-right" ng-show="!contractEditing"
                    ng-click="addContract()">Add
              Contract
            </button>
            <div class="btn-group pull-right" ng-click="saveContract()" ng-show="contractEditing">
              <button class="btn btn-sm btn-success">Save Contract</button>
            </div>
            <div class="btn-group pull-right" ng-show="contractEditing">
              <button class="btn btn-sm btn-danger" ng-click="cancelContract()">Cancel</button>
            </div>
          </div>
        </div>
        <div class="row" ng-show="contractEditing">
          <div class="col-md-10 col-md-offset-2">
            <form class="form-horizontal" name="areaForm" role="form">
              <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">Type</label>

                <div class="col-sm-8">
                  <select class="form-control" id="inputODB" required ng-model="selectedContract"
                          ng-options="c.name for c in contractsTypes"></select>
                </div>
              </div>
              <div class="form-group" ng-class="{'has-error': datepickerForm.date.$invalid}">
                <label class="col-sm-2 control-label"><i class="fa fa-calendar"></i> From </label>

                <div class="col-sm-8">
                  <input type="text" class="form-control" ng-model="selectedContract.from" name="from"
                         bs-datepicker>
                </div>
              </div>
              <div class="form-group" ng-class="{'has-error': datepickerForm.date.$invalid}">
                <label class="col-sm-2 control-label"><i class="fa fa-calendar"></i> To </label>

                <div class="col-sm-8">
                  <input type="text" class="form-control" ng-model="selectedContract.to" name="to"
                         bs-datepicker>
                </div>
              </div>

            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-2 col-md-10">
            <div class="panel panel-default">
              <div class="panel-body">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Type</th>
                    <th>From</th>
                    <th>To</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="c in contracts">
                    <td>
                      {{c.name}}
                    </td>
                    <td>
                      {{c.from | formatDate}}
                    </td>
                    <td>
                      {{c.to | formatDate}}
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-2 col-md-1">
            <h4> Environments</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-2  col-md-12">
            <table>
              <tbody>
              <tr ng-repeat="e in environments">
                <td>
                  {{e.name}}
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
