<form class="form-horizontal">
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="inputCName">{{ 'settings.cluster.name' | i18n }}</label>

            <div class="controls">
                <input type="text" id="inputCName" ng-model="cluster.name" class="input-xlarge">
            </div>
        </div>


        <div class="control-group">
            <label class="control-label" for="inputCPassword">{{ 'settings.cluster.password' | i18n }}</label>

            <div class="controls">
                <input type="password" id="inputCPassword" ng-model="cluster.password" class="input-xlarge">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPort">{{ 'settings.cluster.port' | i18n }}</label>

            <div class="controls">
                <input type="text" id="inputPort" ng-model="cluster.port" class="input-xlarge">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" ng-model="cluster.multicast.enabled"> {{ 'settings.cluster.multicast.enabled'
                    | i18n }}
                </label>
            </div>
        </div>
        <div class="control-group" ng-show="cluster.multicast.enabled">
            <label class="control-label" for="inputMulticastGroup">{{ 'settings.cluster.multicast.group' | i18n
                }}</label>

            <div class="controls">
                <input type="text" id="inputMulticastGroup" ng-model="cluster.multicast.group" class="input-xlarge">
            </div>
        </div>
        <div class="control-group" ng-show="cluster.multicast.enabled">
            <label class="control-label" for="inputMulticastPort">{{ 'settings.cluster.multicast.port' | i18n }}</label>

            <div class="controls">
                <input type="text" id="inputMulticastPort" ng-model="cluster.multicast.port" class="input-xlarge">
            </div>
        </div>


    </fieldset>
</form>
<div ng-class="testMsgClass" ng-show="testMsg">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ testMsg }}
</div>
