<div ng-controller="ClusterChangeController">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3> {{ 'settings.server.cluster.title.change' | i18n }}</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <p ng-show="dimension== 0"><b>{{ 'settings.server.cluster.title.unchanged' | i18n }}</b></p>
            <ul class="dirtyList" ng-hide="dim == 0">
                <li ng-repeat="(key, value)  in dirty">
                    <h5>{{ 'cluster.cluster' | i18n }}: {{key}}</h5>
                    <ul>
                        <li ng-repeat="(k, v) in value">
                            <div ng-show="v">Added to the Server <b>{{k}}</b></div>
                            <div ng-hide="v">Removed from the Server <b>{{k}}</b></div>
                        </li>

                    </ul>
                </li>
            </ul>
            <ul class="" ng-hide="dim1 == 0">
                <li ng-repeat="(key, value)  in dirtyConfig">
                    <h5>{{key}} : {{oldConfig[key]}} -> {{dirtyConfig[key]}}</h5>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" ng-click="hide()">Close</button>
        <button class="btn btn-primary" ng-disabled="dirty.length == 0" ng-click="modal.saved=true;hide();ok();">Apply
            changes
        </button>
    </div>
</div>