<div ng-controller="ClusterNewController">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3> {{ 'settings.server.cluster.title' | i18n }}</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <ng-include src="'views/cluster/baseEditCluster.html'"></ng-include>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" ng-click="hide()">Close</button>
        <button class="btn btn-primary" ng-click="modal.saved=true;save();">Save changes</button>
    </div>
</div>
