<div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-title">
                <div class="widget-caption">
                    <i class="icon-bolt"></i>
                    {{ 'server.operations' | i18n }}
                </div>
            </div>
            <div class="widget-body">
                <svg class="span12" height='400' preserveAspectRatio="none" stackedchart="serverLoad"></svg>
            </div>

        </div>

    </div>
</div>