<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <form ng-submit="search()">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" ng-model="query">
        </div>
      </form>
    </div>
    <div class="col-md-2">
      <a href="#/clients/new" class="btn btn-success">New Client</a>
    </div>
  </div>
  <div class="row">
    <div class="panel panel-default clients-panel">
      <div class="panel-heading">Cients</div>
      <div class="list-group">
        <div class="list-group-item" ng-repeat="client in clients | filter:query">


          <div class="row">
            <div class="col-md-1">
              <div class="col-md-6">
                <input type="checkbox">
              </div>
              <div class="col-md-6">

              </div>
            </div>
            <div class="col-md-9">
              <h5 class="list-group-item-heading"><a href="#clients/{{client.clientId}}">
                {{client.name}}</a>
              </h5>
            </div>
            <div class="col-md-2">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
