<header ng-controller="HeaderCtrl">
  <nav class="navbar  navbar-default navbar-fixed-top ">

    <div class="container-fluid">
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">

          <li>

          </li>
        </ul>
      </div>
    </div>
  </nav>
  <a href="javascript:void(0)" class="settings-button" ng-click="toggleMenu()">
    <avatar  name="true" dim="20" user="user">
    </avatar>
    <i class="fa fa-fw fa-2x fa-cog"></i>
  </a>

  <div ng-class="menuClass">
    <div class="menu-wrap">
      <nav class="menu">

        <div class="link-list">
          <a href="#"><span>Latest stories</span></a>
          <a href="#"><span>Your friends</span></a>
          <a href="#"><span>Personal Settings</span></a>
          <a href="#"><span>Security &amp; Privacy</span></a>
        </div>
        <div class="icon-list">
          <a href="#"><i class="fa fa-fw fa-home"></i></a>
          <a href="#"><i class="fa fa-fw fa-question-circle"></i></a>
          <a href="#"><i class="fa fa-fw fa-power-off"></i></a>
        </div>
      </nav>
    </div>
  </div>
  <nav class="sidebar">
    <ul class="nav nav-pills nav-stacked">
      <li>
        <a href="#/">
          <i class="fa fa-2x fa-home"></i>
        </a>
      </li>
      <li >
        <a href="#/issues">
          <i class="fa fa-2x fa-bug"></i>
        </a>
      </li>
      <li ng-show="member">
        <a href="#/clients">
          <i class="fa fa-2x fa-money"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>
