<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <form ng-submit="search()">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" ng-model="query">
        </div>
      </form>
    </div>
    <div class="col-md-2">
      <a href="#/issues/new" class="btn btn-success">New Issue</a>
    </div>
  </div>
  <div class="row">
    <div class="panel panel-default issues-panel">
      <div class="panel-heading">Panel heading</div>
      <div class="list-group">
        <div class="list-group-item" ng-repeat="issue in issues">
          <!--<a href="#issues/{{issue.repository.name}}@{{issue.number}}" class="list-group-item" ng-repeat="issue in issues"> -->

          <div class="row">
            <div class="col-md-1">
              <div class="col-md-6">
                <input type="checkbox">
              </div>
              <div class="col-md-6">
                <i class="fa fa-check-circle-o" ng-class="'issue-' + issue.state.toLowerCase()"></i>
              </div>
            </div>
            <div class="col-md-9">
              <h5 class="list-group-item-heading"><a href="#issues/{{issue.repository.name}}@{{issue.uuid}}">
                {{issue.title}}</a>
                <span class="label" ng-repeat="label in issue.labels" style="background-color: #{{label.color}}">{{label.name}}</span>
              </h5>

              <p class="issue-info">#{{issue.number}} opened {{issue.createdAt | fromNow}} by {{issue.user.name}}
                <i ng-show="issue.milestone" class="fa fa-milestoned"> {{ issue.milestone.title }}</i>
                <i ng-show="issue.version" class="fa fa-versioned"> {{ issue.version.title }}</i>
              </p>
            </div>
            <div class="col-md-2">
              <div class="col-md-6">
                {{issue.assignee.name}}
              </div>
              <div class="col-md-6">
                <span class="badge">{{issue.comments}}</span>
              </div>
            </div>
          </div>
        </div>
        <!--</a>-->
      </div>
    </div>
  </div>
</div>
