<div class="servercommands-container" >


  <div class="query-container master-query">

    <div class="query-body">
      <form class="form-inline">
        <textarea #codemirror></textarea>
        <!--codemirror [(text)]="queryText"  name="queryText" [options]="editorOptions"></codemirror-->


      </form>
      <div class="query-info">
        <div class="container-fluid">
          <div class="row vertical-align">
            <div class="col-md-6  info">
              <div class="query-hint">
                <a class="btn btn-trasparent" tabindex="1"
                   data-trigger="hover" data-placement="bottom-left"
                   data-animation="am-flip-x"
                   data-container="body"
                   data-template-url="views/hints/query-hint.html" bs-popover>
                  <i class="fa fa-keyboard-o fa-lg"> </i>
                </a>
              </div>
              <!--<div class="query-hint">-->
              <!--<div class="row">-->
              <!--<div class="col-md-12">-->
              <!--<b>Run:</b>-->
              <!--Ctrl + Return-->
              <!--<b>Undo:</b>-->
              <!--Ctrl/Cmd + Z-->
              <!--<b>Redo:</b>-->
              <!--Ctrl/Cmd + Shift + Z-->
              <!--<br>-->
              <!--<b class="clear-hint">-->
              <!--Search :</b>-->
              <!--Ctrl/Cmd + F-->
              <!--<b>-->
              <!--Toggle Comment:</b>-->
              <!--Ctrl/Cmd + /-->
              <!--<b>-->
              <!--Autocomplete:</b>-->
              <!--Ctrl + Space-->
              <!--</div>-->
              <!--</div>-->
              <!--</div>-->

            </div>
            <div class="col-md-6  command">
              <form class="form-inline pull-right" >
                <fieldset>
                  <button (click)="query()" class="btn btn-sm btn-success"><i
                    class="fa fa-cog"></i>
                    Run
                  </button>

                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
