<!-- BEGIN HEADER -->
<header class="header">
    <div class="navbar navbar-inverse navbar-fixed-top" bs-navbar>
        <!-- BEGIN TOP NAVIGATION BAR -->
        <div class="navbar-inner">
            <div class="container-fluid">
                <!-- BEGIN LOGO -->
                <a class="brand" href="#/">
                    <img src="img/orient_db.png" alt="logo"/>
                </a>

                <ul class="nav">
                    <li data-match-route="{{menu.link}}" ng-class="getClass(menu)" ng-repeat="menu in menus">
                        <a href="{{menu.link}}"><i class="{{menu.icon}} icon-white"></i> {{menu.name | capitalize}}</a>
                    </li>

                    <li>
                               <!--wiki url-->
                        <a href="{{urlWiki}}"><i class="icon-info-sign icon-white"></i> Wiki</a>

                    </li>

                </ul>
                <ul class="nav pull-right" ng-show="database.getName()">
                    <li class="dropdown user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="username">{{ database.getName()}} ({{ database.currentUser()}})</span>
                            <i class="icon-angle-down icon-white"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)" ng-click="refreshMetadata()"><i
                                    class="icon-refresh icon-white"></i> Refresh Metadata</a></li>
                            <li><a href="#" ng-click="logout()"><i class="icon-key icon-white"></i> Log Out</a></li>
                        </ul>
                    </li>
                </ul>

                <!-- END LOGO -->
            </div>


        </div>
        <!-- END TOP NAVIGATION BAR -->
    </div>
    <!-- END HEADER -->
</header>