<div class="row-fluid">
    <div class="span12">
        <p>
            Welcome to OrientDB Studio. This is a graphical tool built as HTML + JS that communicates against OrientDB
            server using the HTTP RESTful
            protocol. To know more about OrientDB Studio look at the <a
                href="http://code.google.com/p/orient/wiki/OrientDB_Studio">Documentation</a>. To
            report problems use the <a href="http://code.google.com/p/orient/issues/list">Issue Tracker</a>, to receive
            jump to the <a
                href="http://groups.google.com/group/orient-database">Forum</a>. Need a <a
                href="http://www.orientechnologies.com/training.htm">course</a> or <a
                href="http://www.orientechnologies.com/professional.htm#support">professional support</a>?
        </p>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <h2>Database
            <small>access</small>
        </h2>
        <div class="well">
            <form id="signin" class="form-horizontal">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label">Database:</label>

                        <div class="controls">
                            <select ng-model="database" ng-options="i for i in databases">
                            </select>
                            <button class="btn" ng-click="createNew()"> Create new database
                            </button>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">User</label>

                        <div class="controls">
                            <input id="user" type="text" ng-model="username" value=""/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Password</label>

                        <div class="controls">
                            <input id="password" type="password" ng-model="password" value=""/>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12" align="center">
                            <button ng-click="connect()" class="btn"
                                    rel="tooltip" data-placement="right" data-original-title="Connect to the database">
                                Connect
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <p>
            If this is your first time play with the 'demo' database provided in bundle with the official OrientDB
            distribution. To Login use any database
            user. By default "<b>reader</b>/reader" can read records from the database, "<b>writer</b>/writer" can read,
            create, update and delete records. "<b>admin</b>/admin"
            is God.
        </p>
    </div>
    <div class="span6">
        <h2>Server
            <small>management</small>
        </h2>
        <div class="well">
            <a class="btn" ng-href="#/server" id="connectServer"
               rel="tooltip" data-placement="right" data-original-title="Connect to the server">
                <img src='images/menu-server.png'/><br>Server
            </a>
        </div>
        <div class="row-fluid">
            <div class="hidden-phone">
                This is the section with the Server's information. To access it you have to provide the OrientDB
                Server's
                credentials. If you have access to the server look to the orientdb-server-config.xml file and search the
                XML user tag. Remember that the first
                time the Server is executed the 'root' user is created with a automatically generated password. For more
                information look at the <a
                    href="http://code.google.com/p/orient/wiki/Security#OrientDB_Server_security">Security</a> page.
                Below and example:
<pre>
&lt;users&gt;<br/> &nbsp;&nbsp;&lt;user name="root"
         password="FAFF343DD54DKFJFKDA95F05A"
         resources="*" /&gt;<br/> &lt;/users&gt;
</pre>
            </div>
        </div>
    </div>
</div>