<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Official OrientDB Studio tool</h3>
            </div>
            <div class="modal-body">

                <p><b> Studio version </b>: {{version}}</p>

                <p><b>OrientDB version</b> : {{oVersion}}</p>

                <p><b>Home Page</b> : <a href="https://github.com/orientechnologies/orientdb-studio">https://github.com/orientechnologies/orientdb-studio</a>
                </p>

                <p><b>Copyrights</b> : <a href="http://orientechnologies.com"> Orient Technologies LTD</a></p>

                <p><b>License</b> : Apache 2</p>
            </div>
            <div class="modal-footer">
                <button href="javascript:void(0)" ng-click="$hide()" class="btn">Close</button>
            </div>
        </div>
    </div>
</div>