<div class="row-fluid" ng-controller="BookmarkEditController">

    <div class="span12" ng-if="viewTags">
        <form class="">
            <fieldset>
                <label>Name</label>
                <input type="text" class="input-large" ng-model="bookmark.name"/>
                <label>Category</label>

                <input type="hidden" ng-model="bookmark.tags" ui-select2="select2Options" class="input-large"
                       data-placeholder="Pick a tag">

                </input>


            </fieldset>
            <div class="form-actions">
                <button type="button" class="btn" ng-click="cancel();hide()">Cancel</button>
                <button class="btn btn-primary" ng-click="addBookmark()">Done</button>
            </div>
        </form>
    </div>

</div>