<div class="row-fluid">

    <div class="span12">
        <form class="">
            <fieldset>

                <label>Content Type</label>
                <select ng-model="selectedContentType" class="input-medium"
                        ng-options="q for q in contentType"></select>
                <label>Limit</label>
                <input type="text" class="input-medium" ng-model="limit"/>

                <label class="checkbox">
                    <input type="checkbox" class="input-medium" ng-model="hideSettings"/> Hide settings
                </label>
                <label class="checkbox">
                    <input type="checkbox" class="input-medium" ng-model="shallow"/> Shallow collection
                </label>
                <label> Keep result set in history</label>
                <input type="text" class="input-medium" ng-model="keepLimit"/>
                <!--<div style="margin-top: 5px;">-->
                <!--<label>History</label>-->
                <!--<select ng-model="queryText" ng-options="q for q in queries"></select>-->
                <!--<i class="icon-trash pointer" ng-click="clear()"></i>-->
                <!--</div>-->
            </fieldset>
        </form>
    </div>

</div>