<div class="row-fluid">
	<div class="span3"></div>
	<div class="span6">
		<div class="row-fluid"> 
			<form  class="form-horizontal well">
				 <fieldset>
				 <legend>{{doc['@class']}} - {{doc['@rid']}} - Version {{doc['@version']}}</legend>
				<div class="control-group">
					<div class="controls">
						<button type="submit" ng-click="save()" class="btn pull-right">Save</button>
						<button type="submit" ng-click="save()" class="btn pull-right">Create</button>
					</div>
				</div>
				<div class="control-group" ng-repeat = "header in headers">
					<label class="control-label" for="input{{header}}">{{header}}</label>
					<div class="controls" render ng-model= "doc[header]" render-field = "{{header}}">
					</div>
				</div>
				</fieldset>
			</form>
		</div>
	</div>
	<div class="span3"></div>
</div>
