<div class="row-fluid">
	<div class="span3">
		<form>
			<legend>Incoming Edges</legend>
			<div class="accordion row-fluid" id="accordion2">
				<div class="accordion-group" ng-repeat="i in incomings">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{i}}">
							{{i}}
						</a>
					</div>
					<div id="{{i}}" class="accordion-body collapse">
						<div class="accordion-inner accordion-scroll">
							<table>
								<tbody>
									<tr ng-repeat="out in filterArray(doc[i])">
										<td>
											<a href=""><i class="icon-chevron-left" ng-click="navigate(out)"></i></a> 
										</td>
										<td><a href="" ng-click="showModal()">{{out}}</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="span6">
		<ng-include src="'/views/database/record.html'"  onload=""></ng-include>
	</div>
	<div class="span3">
		<form>
			<legend>Outgoing Edges</legend>
			<div class="accordion row-fluid" id="accordion1">
				<div class="accordion-group" ng-repeat="i in outgoings">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#{{i}}">
							{{i}}
						</a>
					</div>
					<div id="{{i}}" class="accordion-body collapse">
						<div class="accordion-inner accordion-scroll">
							<table>
								<tbody>
									<tr ng-repeat="out in filterArray(doc[i])">
										<td><a href="">{{out}}</a></td>
										<td>
											<a href=""><i class="icon-chevron-right" ng-click="navigate(out)"></i></a> 

										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
