<div class="row-fluid" >
	<div class = "nomargin">
		<table class="table table-striped table-bordered table-hover table-condensed pointer" ng-show="classClickedHeaders">
			<thead>
				<tr>

					<th ng-repeat="header in classClickedHeaders">
						{{header}}
					</th>
				</tr>
				
			</thead>
			<tbody>
				<tr ng-repeat="result in property | orderBy:predicate:reverse">
					<td>
						<input type="text" ng-model="result['name']">
					</td>
					<td>
						<input type="text" ng-model="result['type']">
					</td>
					<td>
						<input type="text" ng-model="result['linkedType']"> 
					</td>
					<td><input type="text" ng-model="result['linkedClass']"></td>
					<td>
						<input type="checkbox" ng-model="result['mandatory']" >
					</td>
					<td>
						<input type="checkbox" ng-model="result['readonly']" >
					</td>
					<td>
						<input type="checkbox" ng-model="result['notNull']" >
					</td>
					<td>
						<input type="text" ng-model="result['min']"> 
					</td>
					<td>
						<input type="text" ng-model="result['max']">
					</td>

						</tr>
					</tbody>
					{{clazz}}

				</table>
			</div>
		</div>