<div class="row-fluid" ng-controller="SchemaController">

    <div class="span12 nomargin">
        <div>
            <a href="javascript:void(0)" class="btn" ng-click="createNewClass()"> <i class="icon-plus"></i> New
                Class</a>
            <a href="javascript:void(0)" class="btn" ng-click="rebuildAllIndexes()"> <i class="icon-refresh"></i>
                Rebuild All Indexes</a>
            <input class="input-xlarge" placeholder="Search" ng-model="queryy">
        </div>
        <br>

        <!--<div class="row-fluid">-->
            <!--<div class="pagination span10" ng-show="headers">-->
                <!--<ul>-->
                    <!--<li><a href="javascript:void(0)" ng-click="previous()">«</a></li>-->
                    <!--<li ng-class="{ 'active' : $index+1 == currentPage}"-->
                        <!--ng-repeat="c in numberOfPage  track by $index">-->
                        <!--<a href="javascript:void(0)" ng-click="switchPage($index+1)">{{ $index+1 }}</a></li>-->
                    <!--<li><a href="javascript:void(0)" ng-click="next()">»</a></li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class="span2 pagination_select" ng-show="headers">-->
                <!--<select class="input-medium" ng-model="countPage">-->
                    <!--<option ng-repeat="options in countPageOptions"> {{ options }}</option>-->
                <!--</select>-->
            <!--</div>-->
        <!--</div>-->
        <table class="table table-striped table-bordered table-hover table-condensed pointer" ng-show="headers">


            <thead>
            <tr>

                <th ng-repeat="header in headers">
                    {{header}}
                </th>
                <th>Actions</th>


            </tr>

            </thead>
            <tbody>
            <tr ng-repeat="result in listClassesTotal | filter: queryy ">
                <td ng-click="openClass(result)">{{result['name']}}</td>
                <td ng-click="openClass(result)">{{result['superClass']}}</td>
                <td ng-click="openClass(result)">{{result['alias']}}</td>
                <td ng-click="openClass(result)">
                    <input type="checkbox" ng-model="result['abstract']" ng-disabled="true">
                </td>
                <td ng-click="openClass(result)">{{result['clusters']}}</td>
                <td ng-click="openClass(result)">{{result['defaultCluster']}}</td>
                <td ng-click="openClass(result)">{{result['records']}}</td>
                <td>
                    <a href="javascript:void(0)" class="btn btn-small" ng-click="queryAll(result['name'])"> <i
                            class="icon-question-sign"></i> Query All</a>

                    <a href="javascript:void(0)" class="btn btn-small" ng-click="createRecord(result['name'])"> <i
                            class="icon-plus"></i> New Record</a>

                    <a href="javascript:void(0)" class="btn btn-danger btn-small" ng-click="dropClass(result)">
                        <i class="icon-white icon-trash"></i> Drop</a>
                </td>
            </tr>

            </tbody>


        </table>
    </div>
</div>