<div class="panel panel-success">

  <div class="panel-heading">
    <div class="row" id="firstRow">
      <div class="col-md-8" id="search">
        <div class="input-group">
          <span class="input-group-addon">Search</span>
          <input type="text" id="modelClass" name="modelClass" class="form-control"
                 placeholder="Table name"/>
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit" style="width: 34px; height: 34px;"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
      <div class="col-md-4" id="headerButtons">
        <div class="form-group">
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              Actions <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">List All Tables</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-body" style="height: 450px">
    {{modellingConfig.vertices[0].name}}
    <button class="btn-primary" (click)="updateModellingConfig()">Change value</button>

  </div>

</div>
