<div ng-controller="UMLController">
<p>This UML class diagram is renderd using <a href="http://yuml.me">YUML Web Service</a> and works only if you're
    connected to the Internet.</p>
<p>Display Class attributes: <input type="checkbox" id="umlDisplayAttributes" ng-model="displayAttribute" ng-change="refreshUML()">&nbsp;
    Display only connected classes: <input type="checkbox" id="umlDisplayOnlyConnected" ng-model="displayConnected" ng-change="refreshUML()">&nbsp;
    Limit classes to: <input type="input" id="umlLimitClasses" ng-model="classLimit" ng-change="refreshUML()" class="input-mini">&nbsp;
    Diagram Format: <select id="umlDisplayFormat" ng-model="umlType" ng-change="refreshUML()">
        <option value=".svg" selected="selected">SVG</option>
        <option value="">PNG</option>
    </select></p>
<div id="uml-diagram">
    <img src="{{ uml }}">
</div>

</div>