<div class="container-fluid" role="dialog" tabindex="-1">


    <div class="row">
        <form class="form-search search-bookmarks">
            <div class="form-group col-md-10 col-md-offset-1">
                <input type="text" class="form-control  search-query" ng-model="queryy"
                       placeholder="Search Functions">
            </div>
        </form>
    </div>
    <div class="row">
        <div class="list-group">
            <a class="list-group-item" href="javascript:void(0)"
               ng-repeat="func in functions | orderBy: 'name' | filter:queryy |filter:queryy.code"
               ng-class="{active : functionToExecute == func}" ng-click="selectFunction(func)"
               value="{{func['name']}}">
                <span class="badge">{{func['language']}}</span>
                {{func['name']}}
            </a>
            <!--<li class="list-group-item"-->
            <!--ng-repeat="func in functions | orderBy: 'name' | filter:queryy |filter:queryy.code"-->
            <!--ng-class="{active : functionToExecute == func}">-->
            <!--<span class="badge">{{func['language']}}</span>-->
            <!---->
            <!--</li>-->
        </div>
    </div>

</div>